<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @RenderSection("metas", false)
    <title>Motor de Empresas</title>


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Assets/nifty-v2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/nifty-v2/css/nifty.min.css" rel="stylesheet">
    <link href="~/Assets/nifty-v2/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="~/Assets/nifty-v2/plugins/pace/pace.min.css" rel="stylesheet">
    <link href="~/Assets/nifty-v2/css/demo/nifty-demo.min.css" rel="stylesheet">
    <link href="~/Assets/nifty-v2/plugins/noUiSlider/nouislider.min.css" rel="stylesheet">
    <link href="~/Assets/nifty-v2/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

    <script src="~/Assets/nifty-v2/js/jquery.min.js"></script>
    <script src="~/Assets/nifty-v2/js/bootstrap.min.js"></script>
    <script src="~/Assets/nifty-v2/js/nifty.min.js"></script>
    <script src="~/Assets/nifty-v2/plugins/pace/pace.min.js"></script>
    <script src="~/Assets/nifty-v2/plugins/flot-charts/jquery.flot.min.js"></script>
    <script src="~/Assets/nifty-v2/plugins/flot-charts/jquery.flot.resize.min.js"></script>
    <script src="~/Assets/nifty-v2/plugins/flot-charts/jquery.flot.tooltip.min.js"></script>
    <script src="~/Assets/nifty-v2/plugins/sparkline/jquery.sparkline.min.js"></script>

    <script src="~/Assets/nifty-v2/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/nifty-v2/plugins/bootstrap-table/locale/bootstrap-table-es-CL.min.js"></script>

    <script src="~/Assets/js.App/Conf.js?v=@Html.Raw(CRM.Areas.AppPage.Controllers.Jasheo.CurrentDateHash)"></script>
    <script src="~/Assets/js.App/Ext.js?v=@Html.Raw(CRM.Areas.AppPage.Controllers.Jasheo.CurrentDateHash)"></script>

</head>
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <img src="~/Assets/img/M.png" alt="Nifty Logo" class="brand-icon" style="width: 50px; height: 50px;">
                        <div class="brand-title">
                            <span class="brand-text" style="font-size:14px;">Motor de Empresas</span>
                        </div>
                    </a>
                </div>
                <div class="navbar-content">
                    <ul class="nav navbar-top-links">

                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-list-view"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links">

                        <li id="dropdown-user" class="dropdown">
                            <div class="pad-all text-right">
                                <a href="#" class="btn btn-primary" id="btCerSesion">
                                    <i class="demo-pli-unlock"></i> Cerrar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="boxed">
            <div id="content-container">
                <div id="page-content">
                    @RenderBody()
                </div>
            </div>
            <nav id="mainnav-container">
                <div id="mainnav">
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        <div class="pad-btm">
                                            <img class="img-circle img-md" src="~/Assets/img/profile-photos/1.png" alt="Profile Picture">
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">

                                            <p class="mnp-name">Sergio Pizarro</p>
                                            <span class="mnp-desc">spizarroc@laaraucana.cl</span>
                                        </a>
                                    </div>
                                </div>
                                <ul id="mainnav-menu" class="list-group"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <footer id="footer">
            <div class="show-fixed pad-rgt pull-right">
                You have <a href="#" class="text-main"><span class="badge badge-danger">3</span> pending action.</a>
            </div>
            <p class="pad-lft">&#0169; 2018 Información Analá­tica</p>
        </footer>
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
    </div>

    @RenderSection("script", false)

</body>
</html>
