
@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";

}

<div id="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-2" aria-expanded="true" id="tab_visados" class="tab-principal"><strong>Directores Laborales</strong></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-3" aria-expanded="false" id="tab_campania_empresas" class="tab-principal" style="font-weight: bold;">Empresas Sin Cotizar</a>
                    </li>
                </ul>

                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="tab-2" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped" id="tabla_fidelizacion">
                                        <thead>
                                            <tr>
                                                <th>Código Pto. Atención</th>
                                                <th>Rut</th>
                                                <th>Nombre \ Pto. Atención</th>
                                                <th>N° Trabajadores</th>
                                                <th>N° Directores Laborales</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in leads">
                                                <td><a class="btn-link" data-toggle="modal" data-target="#modalGestion" :data-lead="item.id" href="#">{{ item.empresaCodigoPuntoAtencion }}</a></td>
                                                <td>{{ item.empresaRut }}</td>
                                                <td>{{ item.empresaNombre }} \ {{ item.empresaNombrePuntoAtencion }}</td>
                                                <td>{{ item.empresaCantidadTrabajadores }}</td>
                                                <td>{{ item.directoresLaborales.length }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="pad-btm">
                                        <div class="row">

                                            <div class="col-sm-2 text-xs-center">
                                                <div class="form-group">
                                                    <label class="control-label">Estado</label>
                                                    <select id="filtro-estado" class="form-control data-filter">
                                                        <option value="">Todos</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 text-xs-center">
                                                <div class="form-group">
                                                    <label class="control-label">Sub Estado</label>
                                                    <select id="filtro-subestado" class="form-control data-filter">
                                                        <option value="">Todos</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-2 text-xs-center">
                                                <div class="form-group">
                                                    <label class="control-label">Oficina</label>
                                                    <select id="filtro-ejecutivos" class="form-control data-filter"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 text-xs-center">
                                                <label class="control-label">Rut</label>
                                                <div class="input-group mar-btm">
                                                    <input id="filtro-rut" type="text" placeholder="Ej. 11.111.111-1" class="form-control data-filter" autocomplete="off">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <button id="button-filtrar" class="btn btn-default">Filtrar</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <h4>Para visualizar datos debe presionar el botón filtrar.</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-hover toggle-circle" id="tabla_leads">
                                        <thead>
                                            <tr>
                                                <th>Rut</th>
                                                <th>Razón Social</th>
                                                <th>Segmento</th>
                                                <th>Empleados</th>
                                                <th>Meses Sin Cotizar</th>
                                                <th>Última Gestión</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modalGestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ingreso de Comité Paritario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="well">
                                <div class="row mar-btm">
                                    <div class="col-lg-6">
                                        <div class="dd-handle dd-outline dd-anim">
                                            <div class="media-left">
                                                <i class="pli-building icon-2x"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text-main mar-no">Compañía</p>
                                                <small class="text-semibold">{{ leadModal.empresaRut }} - {{ leadModal.empresaNombre }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="dd-handle dd-outline dd-anim">
                                            <div class="media-left">
                                                <i class="demo-pli-map-2 icon-2x"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text-main mar-no">Punto de Atención</p>
                                                <small class="text-semibold">{{ leadModal.empresaCodigoPuntoAtencion }} - {{ leadModal.empresaNombrePuntoAtencion }} ({{ leadModal.empresaCantidadTrabajadores }} Empleados)</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="well well-sm">
                                <p class="h4">Miembros Ingresados</p>
                                <p v-show="leadModal.directoresLaborales.length===0" class="text-muted">No hay registros..</p>
                                <div class="row mar-btm" v-for="directivo in leadModal.directoresLaborales">

                                    <div class="col-lg-12">
                                        <div class="dd-handle dd-outline dd-anim">
                                            <div class="media-left">
                                                <i class="ion-ios-person icon-2x"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text-main mar-no">{{directivo.nombre}} ({{directivo.cargo}})</p>
                                                <small class="text-semibold"><span v-show="directivo.telefonoFijo.length>0"><b>Tel:</b> {{directivo.telefonoFijo}} | </span><span v-show="directivo.telefonoCelular.length>0"><b>Cel:</b> {{directivo.telefonoCelular}} | </span><span v-show="directivo.correo.length>0"><b>Mail:</b> {{directivo.correo}}</span> </small>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <p class="text-main h4">Formulario de Ingreso</p>
                    <form id="datos-gestion" action="#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><strong>Nombre</strong></label>
                                    <input type="text" class="form-control" v-model="modeloFormulario.nombre">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><strong>Cargo</strong></label>
                                    <select class="form-control" v-model="modeloFormulario.cargo">
                                        <option value="">Selecciona</option>
                                        <option value="Presidente">Presidente</option>
                                        <option value="Secretario">Secretario</option>
                                        <option value="Director">Director</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><strong>Correo</strong></label>
                                    <input type="text" class="form-control" v-model="modeloFormulario.correo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><strong>Teléfono</strong></label>
                                    <input type="text" class="form-control" v-model="modeloFormulario.telefonoFijo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><strong>Celular</strong></label>
                                    <input type="text" class="form-control" v-model="modeloFormulario.telefonoCelular">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row mar-btm" id="mensajes"></div>
                    <button type="button" class="btn btn-default bloquear-onsubmit" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary bloquear-onsubmit" v-on:click="agregaDirectivo">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>




@section script{

    <!--Bootstrap Table [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/js.App/src/empresas.inicio.directores-laborales.js"></script>

    <script>
        $(function () {
            var PAGE = 1;
            var OFFICE = getCookie('Oficina');
            var USER = getCookie('Rut');
            var LEAD_TYPE_ID = 1;
            var STATS_OBJECT = null;
            var STATS_MAP = null;
            var INVOLVED_USERS = null;

            //Start Loads
            $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/management-stats/${LEAD_TYPE_ID}/stats-map`, function (response) {
                STATS_MAP = response;
                //Una vez cargados los estados que son requisito para poder desplegar los estados de las gestiones de los Leads
                $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/leads/${OFFICE}/${USER}/${PAGE}`, function (response) {

                    $(response).each(function (index, lead) {

                        var lastLeadManagement = lead.managements.slice(-1)[0];
                        var statsSummary = STATS_MAP.find(function (st) {
                            return lastLeadManagement !== undefined ? st.code === lastLeadManagement.stats : null;
                        });

                        $(`#tabla_leads tbody`).append(
                            $('<tr>')
                                .append($('<td>').html(`<a class="btn-link" data-toggle="modal" data-target="#mdl_management" data-lead="${lead.id}" href="#!">${lead.companyId}</a>`))
                                .append($('<td>').html(lead.company.companyName))
                                .append($('<td>').html(lead.company.segment))
                                .append($('<td>').html(lead.company.employeesCount))
                                .append($('<td>').html(lead.company.unlistedMonthsCount))
                                .append($('<td>').html(statsSummary !== undefined ? statsSummary.leyend + (lastLeadManagement.nextCommitment != null ? ` <br/>Próx. Compromiso (${lastLeadManagement.nextCommitment.toFecha()})` : '') : '-'))
                        );
                    });

                });

            });

            $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/management-stats/${LEAD_TYPE_ID}`, function (response) {

                STATS_OBJECT = response;
                var rootStats = STATS_OBJECT.filter(function (st) {
                    return st.parentId === null && (st.options === null || (st.options !== null && !st.options.includes('--hidden')));
                });

                $("#parentStats").html(`<option value="">Seleccione</option>`);
                $("#filtro-estado").html(`<option value="">Todos</option><option value="-1">Sín Gestión</option>`);
                $.each(rootStats, function (i, rootStat) {
                    $("#parentStats").append($('<option>').val(rootStat.id).text(rootStat.name));
                    $("#filtro-estado").append($('<option>').val(rootStat.id).text(rootStat.name))
                });
            });

            ///Office employees
            $.SecGetJSON(BASE_URL + "/motor/api/perfil-empresas/dotacion-oficina", function (responseUsers) {

                INVOLVED_USERS = responseUsers;

                $("#filtro-ejecutivos").append(
                    $("<optgroup>").prop('label', 'Generales')
                        .append($("<option>").attr("value", USER).html("Mios"))
                        .append($("<option>").attr("value", 'ALL').html("Todos"))
                );

                var $officeGroup = $('<optgroup>').prop('label', 'Otros Ejecutivos');
                $.each(INVOLVED_USERS, function (i, e) {
                    if (USER !== e.Rut) {
                        $officeGroup.append($("<option>").attr("value", e.Rut).html(e.Nombre.OrdenaNombreCompleto()))
                    }
                });
                $("#filtro-ejecutivos").append($officeGroup);
            });

            $('#parentStats').on('change', function (event) {

                if ($(this).val() === '') {
                    $('#childStats').html(`<option value="">Selecciona</option>`);
                    $('#childStats').prop('disabled', true);
                    return false;
                }

                var parentId = parseInt($(this).val());
                var childStats = STATS_OBJECT.filter(function (cst) {
                    return cst.parentId === parentId;
                });

                $('#childStats').prop('disabled', false);
                $('#childStats').html(`<option value="">Selecciona</option>`);
                $(childStats).each(function (index, stat) {
                    $('#childStats').append($('<option>').val(stat.id).text(stat.name));
                });
            });

            $('#filtro-estado').on('change', function (event) {

                if ($(this).val() === '') {
                    $('#filtro-subestado').prop('disabled', true);
                    return false;
                }

                var parentId = parseInt($(this).val());
                var childStats = STATS_OBJECT.filter(function (cst) {
                    return cst.parentId === parentId;
                });

                $('#filtro-subestado').prop('disabled', false);
                $('#filtro-subestado').html(`<option value="">Todos</option>`);
                $(childStats).each(function (index, stat) {
                    $('#filtro-subestado').append($('<option>').val(stat.id).text(stat.name));
                });
            });

            $('#datepicker-component .input-group.date').datepicker(
                { autoclose: true, format: 'dd-mm-yyyy', startDate: "0d", language: "es", daysOfWeekDisabled: [6, 0], todayHighlight: true }
            ).on('changeDate', function (e) {
                e.stopPropagation();
            }).on('show.bs.modal hide.bs.modal', function (event) {
                event.stopPropagation();
            });

            $('#mdl_management').on('show.bs.modal', function (event) {
                var $opener = $(event.relatedTarget);
                var leadId = $opener.data('lead');

                //Get the Lead Data
                $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/leads/${leadId}`, function (response) {

                    $("#companyId").val(response.companyId);
                    $("#companyName").val(response.company.companyName);
                    $("#companySegment").val(response.company.segment);
                    $("#assignedOffice").val(response.assignedOfficce);
                    $("#companyPhone").val(response.company.phoneNumber);
                    $("#companyEmail").val(response.company.email);
                    $("#companyAddress").val(response.company.address);
                    $('#leadId').val(response.id);

                    $("#gestiones_realizadas").html("");
                    $.each(response.managements.reverse(), function (i, management) {


                        var statsSummary = STATS_MAP.find(function (st) {
                            return st.code === management.stats;
                        });

                        var userReg = INVOLVED_USERS.find(function (iu) {
                            return iu.Rut === management.createdBy;
                        });


                        $("#gestiones_realizadas").append($("<a>").attr("href", '#')
                            .append($("<h4>").addClass("list-group-item-heading").html("<strong>Gestor:</strong> " + userReg.Nombre.OrdenaNombreCompleto()))
                            .append($("<p>").addClass("list-group-item-text").html("<strong>Fecha Gestión:</strong>" + management.createdAt.toFechaHora() + ", <strong>Fecha Prox. Gestión:</strong> " + (management.nextCommitment !== null ? management.nextCommitment.toFecha() : '-')))
                            .append($("<p>").addClass("list-group-item-text").html("<strong>Estado:</strong> " + statsSummary.leyend))
                            .append($("<p>").addClass("list-group-item-text").html("<strong>Comentario:</strong> " + management.comments))
                        );
                    });
                })


            });

            $('#mdl_management').on('hide.bs.modal', function (event) {
                $("#companyId").val('');
                $("#companyName").val('');
                $("#companySegment").val('');
                $("#assignedOffice").val('');
                $("#companyPhone").val('');
                $("#companyEmail").val('');
                $("#companyAddress").val('');
                $("#leadId").val('');

                $('#mensahes-must .panel-alert').remove();
                $('#btn_savear').text("Guardar").prop('disabled', false);
            });

            $('#management-data').on('submit', function (event) {

                var formData = $(this).serializeFormJSON();
                var managementDto = {
                    leadId: formData.leadId,
                    comments: formData.comments,
                    status: {
                        parent: formData.parentStats,
                        child: formData.childStats
                    },
                    nextAppointment: parseDate(formData.nextCommitment),
                    manager: USER,
                    office: OFFICE
                };

                $('#btn_savear').text("Guardando!!!!").prop('disabled', true);
                $('.close-modal-btn').prop('disabled', true);

                $.ajax({
                    type: 'POST',
                    url: `${LEAD_SERVICE_BASE_URL}/api/v1/managements`,
                    data: JSON.stringify(managementDto),
                    contentType: "application/json; charset=utf-8"
                })
                    .done(function () {

                        $('#parentStats').val('');
                        $('#childStats').html(`<option value="">Selecciona</option>`);
                        $('#childStats').prop('disabled', true);
                        $('#nextCommitmentDate').val('');
                        $('#comments').val('');
                        $('#btn_savear').text("Guardar");
                        $('.close-modal-btn').prop('disabled', false);

                        $.niftyNoty({
                            type: 'success',
                            container: '#mensahes-must',
                            html: '<strong>OK</strong> Gestion guardada exitosamente.',
                            closeBtn: true,
                            onHidden: function () {
                                $('#btn_savear').prop('disabled', false);
                            }
                        });
                    })
                    .fail(function (failureResponse) {
                        console.log({
                            failureResponse
                        });

                        $.niftyNoty({
                            type: 'success',
                            container: '#mensahes-must',
                            html: '<strong>Error al Guardar</strong> ' + failureResponse,
                            closeBtn: true
                        });
                    })


                return false;
            });

            $('#button-filtrar').on('click', function (event) {

                var filterObject = {
                    parentState: $('#filtro-estado').val() === '' ? 0 : parseInt($('#filtro-estado').val()),
                    childState: $('#filtro-subestado').val() === '' ? 0 : parseInt($('#filtro-subestado').val()),
                    companyRut: $('#filtro-rut').val() === '' ? null : $('#filtro-rut').val()
                }
                var showOfUser = $('#filtro-ejecutivos').val();
                $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/leads/${OFFICE}/${showOfUser}/${PAGE}`, filterObject, function (response) {
                    $(`#tabla_leads tbody`).html('');
                    $(response).each(function (index, lead) {

                        var lastLeadManagement = lead.managements.slice(-1)[0];
                        var statsSummary = STATS_MAP.find(function (st) {
                            return lastLeadManagement !== undefined ? st.code === lastLeadManagement.stats : null;
                        });

                        $(`#tabla_leads tbody`).append(
                            $('<tr>')
                                .append($('<td>').html(`<a class="btn-link" data-toggle="modal" data-target="#mdl_management" data-lead="${lead.id}" href="#!">${lead.companyId}</a>`))
                                .append($('<td>').html(lead.company.companyName))
                                .append($('<td>').html(lead.company.segment))
                                .append($('<td>').html(lead.company.employeesCount))
                                .append($('<td>').html(lead.company.unlistedMonthsCount))
                                .append($('<td>').html(statsSummary !== undefined ? statsSummary.leyend + (lastLeadManagement.nextCommitment != null ? ` <br/>Próx. Compromiso (${lastLeadManagement.nextCommitment.toFecha()})` : '') : '-'))
                        );
                    });

                });
            });
        });
    </script>
}