
@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";

}
<link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">
<div id="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-2" aria-expanded="true" id="tab_visados" class="tab-principal"><strong>Comité Paritario</strong></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-3" aria-expanded="false" id="tab_campania_empresas" class="tab-principal" style="font-weight: bold;">Empresas Sin Cotizar</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#tab-4" aria-expanded="false" id="tab_comite_paritario_e2" class="tab-principal" style="font-weight: bold;">Comité Paritario, Etapa II</a>
                    </li>
                </ul>

                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="tab-2" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-3 pull-right">
                                            <div class="form-group">
                                                <label class="control-label">Estado</label>
                                                <select class="form-control" v-on:change="handleFilterTable" v-model="filtros.estadoGestion">
                                                    <option value="">Selecciona</option>
                                                    <option value="Sin Gestión">Sin Gestionar</option>
                                                    <option value="Gestionado">Gestionados</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div v-if="mostrarAdminSucursal" class="col-md-4 pull-right">
                                            <div class="form-group">
                                                <label class="control-label">Ejecutivo</label>
                                                <select class="form-control" v-model="filtros.ejecutivo" v-on:click="handleChangeEjecutivo">
                                                    <optgroup label="Personal">
                                                        <option v-for="ejecutivo in estado.ejecutivos" v-if="ejecutivo.Rut == sesion.rutEjecutivo()" :value="ejecutivo.Rut" selected="selected">{{ejecutivo.Nombre}} ({{ejecutivo.Cargo}})</option>
                                                    </optgroup>
                                                    <optgroup label="Oficina">
                                                        <option v-for="ejecutivo in estado.ejecutivos" v-if="ejecutivo.Rut != sesion.rutEjecutivo()" :value="ejecutivo.Rut">{{ejecutivo.Nombre}} ({{ejecutivo.Cargo}})</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="table-conche"
                                           class="table table-striped"
                                           data-search="true"
                                           data-show-refresh="false"
                                           data-show-toggle="false"
                                           data-show-columns="false"
                                           data-page-list="[]"
                                           data-page-size="40"
                                           data-pagination="true"
                                           data-side-pagination="server"
                                           data-show-pagination-switch="false"
                                           data-locale="es-CL">
                                        <thead>
                                            <tr>
                                                <th data-field="empresaCodigoPuntoAtencion" data-sortable="true" data-formatter="linkFormatter">Código Pto. Atención</th>
                                                <th data-field="empresaRut" data-sortable="true">Rut</th>
                                                <th data-field="empresaNombre" data-sortable="true" data-formatter="nombresFormatter">Nombre \ Punto Atención</th>
                                                <th data-field="empresaCantidadTrabajadores" data-sortable="true">N° Trabajadores</th>
                                                <th data-field="estado" data-sortable="false" data-formatter="estadoFormatter">Est. Gestión</th>
                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modalGestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ingreso de Comité Paritario</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="well well-sm">
                                                    <div class="row mar-btm">
                                                        <div class="col-lg-12">
                                                            <p class="h4">Info. de la Compañia</p>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="dd-handle dd-outline dd-anim">
                                                                <div class="media-left">
                                                                    <i class="pli-building icon-2x"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p class="text-main mar-no">Rut - Nombre</p>
                                                                    <small class="text-semibold">{{ leadModal.empresaRut }} - {{ leadModal.empresaNombre }}</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="dd-handle dd-outline dd-anim">
                                                                <div class="media-left">
                                                                    <i class="demo-pli-map-2 icon-2x"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p class="text-main mar-no">Punto de Atención</p>
                                                                    <small class="text-semibold">{{ leadModal.empresaCodigoPuntoAtencion }} - {{ leadModal.empresaNombrePuntoAtencion }} ({{ leadModal.empresaCantidadTrabajadores }} Empleados)</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <p class="h4">Contactos de la Compañia</p>
                                                            <p class="text-muted" v-show="leadModal.contactosEmpresa.length === 0">No hay registros..</p>
                                                        </div>


                                                        <div class="col-lg-6" v-for="cont in leadModal.contactosEmpresa">
                                                            <div class="dd-handle dd-outline dd-anim">
                                                                <div class="media-left">
                                                                    <i class="ion-ios-person-outline icon-2x"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p class="text-main mar-no">{{ cont.nombre }} ({{ cont.cargo }})</p>
                                                                    <small class="text-semibold mar-no">Mail: {{ cont.correo }}</small><br />
                                                                    <small class="text-semibold mar-no">Tel: {{ cont.telefono }}</small>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="well well-sm">
                                                    <p class="h4">Miembros Ingresados</p>
                                                    <p v-show="leadModal.directoresLaborales.length===0" class="text-muted">No hay registros..</p>
                                                    <div class="row mar-btm" v-for="directivo in leadModal.directoresLaborales">

                                                        <div class="col-lg-12">
                                                            <div class="dd-handle dd-outline dd-anim">
                                                                <div class="media-left">
                                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Haz click para var las opciones"><i class="ion-ios-person icon-2x"></i></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="#" v-on:click="handleClickEditarDirectivo(directivo.id)"><i class="ion-edit"></i> Editar</a></li>
                                                                        <li><a href="#" v-on:click="handleClickEliminarDirectivo(directivo.id)"><i class="ion-trash-a"></i> Eliminar</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p class="text-main mar-no">{{directivo.nombre}} ({{directivo.cargo}}, {{directivo.tipo}})</p>
                                                                    <small class="text-semibold"><span v-show="directivo.telefonoFijo.length>0"><b>Tel:</b> {{directivo.telefonoFijo}} | </span><span v-show="directivo.telefonoCelular.length>0"><b>Cel:</b> {{directivo.telefonoCelular}} | </span><span v-show="directivo.correo.length>0"><b>Mail:</b> {{directivo.correo}}</span> </small>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <p class="text-main h4">Formulario de Ingreso</p>
                                        <form id="datos-gestion" action="#" method="post">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label><strong>Nombre</strong></label>
                                                        <input type="text" class="form-control" v-model="modeloFormulario.nombre">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label><strong>Cargo</strong></label>
                                                        <select class="form-control" v-model="modeloFormulario.cargo">
                                                            <option value="">Selecciona</option>
                                                            <option value="Presidente">Presidente</option>
                                                            <option value="Secretario">Secretario</option>
                                                            <option value="Director">Director</option>
                                                            <option value="Delegado">Delegado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label><strong>Tipo</strong></label>
                                                        <select class="form-control" v-model="modeloFormulario.tipo">
                                                            <option value="">Selecciona</option>
                                                            <option value="Patronal">Patronal</option>
                                                            <option value="Laboral">Laboral</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label><strong>Correo</strong></label>
                                                        <input type="text" class="form-control" v-model="modeloFormulario.correo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label><strong>Teléfono</strong></label>
                                                        <input type="text" class="form-control" v-model="modeloFormulario.telefonoFijo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label><strong>Celular</strong></label>
                                                        <input type="text" class="form-control" v-model="modeloFormulario.telefonoCelular">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row mar-btm" id="mensajes"></div>
                                        <div v-if="leadModal.banderaNoAplica == 1" class="row mar-btm alert alert-warning text-left">Empresa Marcada como <strong>No Aplicable</strong></div>
                                        <button type="button" class="btn btn-default bloquear-onsubmit" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-warning bloquear-onsubmit" :disabled="leadModal.banderaNoAplica == 1" v-on:click="handleClickEmpresaNoAplica">Empresa No Aplica</button>
                                        <button type="button" class="btn btn-primary bloquear-onsubmit" :disabled="leadModal.banderaNoAplica == 1" v-on:click="agregaDirectivo">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="pad-btm">
                                        <div class="row">

                                            <div class="col-sm-2 text-xs-center">
                                                <div class="form-group">
                                                    <label class="control-label">Estado</label>
                                                    <select id="filtro-estado" class="form-control data-filter">
                                                        <option value="">Todos</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 text-xs-center">
                                                <div class="form-group">
                                                    <label class="control-label">Sub Estado</label>
                                                    <select id="filtro-subestado" class="form-control data-filter">
                                                        <option value="">Todos</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-2 text-xs-center">
                                                <div class="form-group">
                                                    <label class="control-label">Oficina</label>
                                                    <select id="filtro-ejecutivos" class="form-control data-filter"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 text-xs-center">
                                                <label class="control-label">Rut</label>
                                                <div class="input-group mar-btm">
                                                    <input id="filtro-rut" type="text" placeholder="Ej. 11.111.111-1" class="form-control data-filter" autocomplete="off">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <button id="button-filtrar" class="btn btn-default">Filtrar</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <h4>Para visualizar datos debe presionar el botón filtrar.</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-hover toggle-circle" id="tabla_leads">
                                        <thead>
                                            <tr>
                                                <th>Rut</th>
                                                <th>Razón Social</th>
                                                <th>Segmento</th>
                                                <th>Empleados</th>
                                                <th>Meses Sin Cotizar</th>
                                                <th>Última Gestión</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <bootstrap-table class="table table-striped" :columns="btTable.columns" :data="leads" :options="btTable.options"></bootstrap-table>
                        </div>

                        <div class="modal fade" id="modalGestionCPE2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Comité Paritario, Etapa: Seleccion de Elector</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="well">
                                                    <div class="row mar-btm">
                                                        <div class="col-lg-6">
                                                            <div class="dd-handle dd-outline dd-anim">
                                                                <div class="media-left">
                                                                    <i class="pli-building icon-2x"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p class="text-main mar-no">Compañía</p>
                                                                    <small class="text-semibold">{{ showInfo.empresaRut }} - {{ showInfo.empresaNombre }}</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="dd-handle dd-outline dd-anim">
                                                                <div class="media-left">
                                                                    <i class="demo-pli-map-2 icon-2x"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p class="text-main mar-no">Punto de Atención</p>
                                                                    <small class="text-semibold">{{ showInfo.empresaCodigoPuntoAtencion }} - {{ showInfo.empresaNombrePuntoAtencion }} ({{ showInfo.empresaCantidadTrabajadores }} Empleado(s))</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="text-main h4">Opciones</p>
                                        <form id="datos-gestion" action="#" method="post">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label class="control-label">Indica el interés para el proceso de Votación</label>
                                                        <div class="radio">
                                                            <input type="radio" id="radio_interes_si" name="interesProcesoVotacion" v-model="optionsModel.interes" class="magic-radio" value="SI" />
                                                            <label for="radio_interes_si">Si</label>

                                                            <input type="radio" id="radio_interes_no" name="interesProcesoVotacion" v-model="optionsModel.interes" class="magic-radio" value="NO" />
                                                            <label for="radio_interes_no">No</label>

                                                            <input type="radio" id="radio_interes_pendiente" name="interesProcesoVotacion" v-model="optionsModel.interes" class="magic-radio" value="PENDIENTE" />
                                                            <label for="radio_interes_pendiente">Pendiente</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" v-if="optionsModel.interes=='SI'">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label class="control-label">Indica el estado del proceso de Votación</label>
                                                        <div class="radio">
                                                            <input type="radio" id="radio_estado_en_difusion" name="estadoProcesoVotacion" v-model="optionsModel.estado" class="magic-radio" value="EN_DIFUSION" />
                                                            <label for="radio_estado_en_difusion">En Difusión</label>

                                                            <input type="radio" id="radio_estado_pendiente" name="estadoProcesoVotacion" v-model="optionsModel.estado" class="magic-radio" value="PENDIENTE" />
                                                            <label for="radio_estado_pendiente">Pendiente</label>

                                                            <input type="radio" id="radio_estado_formalizada" name="estadoProcesoVotacion" v-model="optionsModel.estado" class="magic-radio" value="FORMALIZADA" />
                                                            <label for="radio_estado_formalizada">Formalizada</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" v-if="optionsModel.interes=='SI' && optionsModel.estado=='FORMALIZADA'">
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="control-label">Indica el estado concreto del proceso de Votación</label>
                                                        <select class="form-control" v-model="optionsModel.subEstado">
                                                            <option value="">Selecciona</option>
                                                            <option value="EN_GESTION">En Gestión</option>
                                                            <option value="DOCUMENTACION_ENVIADA">Documentación Enviada</option>
                                                            <option value="EN_REVISION_X_FISCALIA">En Revisión (Fiscalía)</option>
                                                            <option value="RECHAZADA">Rechazada</option>
                                                            <option value="APELADA">Apelada</option>
                                                            <option value="APROBADA">Aprobada</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Comentarios</label>
                                                        <textarea class="form-control" v-model="optionsModel.comentarios"></textarea>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row" v-if="optionsModel.interes=='SI'">
                                                <div class="col-lg-12">
                                                    <hr />
                                                    <p class="h4">Información del Elector</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label" for="elector_rut">Rut</label>
                                                        <input id="elector_rut" type="text" class="form-control" v-model="optionsModel.rutElector" />
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="control-label" for="elector_nombre">Nombre</label>
                                                        <input id="elector_nombre" type="text" class="form-control" v-model="optionsModel.nombreElector" />
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label" for="elector_correo">Correo</label>
                                                        <input id="elector_correo" type="text" class="form-control" v-model="optionsModel.correoElector" />
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label" for="elector_tel">Telefono</label>
                                                        <input id="elector_tel" type="text" class="form-control" v-model="optionsModel.telefonoElector" />
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label" for="elector_cel">Celular</label>
                                                        <input id="elector_cel" type="text" class="form-control" v-model="optionsModel.celularElector" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row mar-btm" id="mensajesCPE2"></div>
                                        <button type="button" class="btn btn-default bloquear-onsubmit" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary bloquear-onsubmit" v-on:click="doSubmitForm">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    

    <div id="mdl_management" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Gestión</h4>
                </div>
                <div class="modal-body">

                    <div class="tab-base" id="MDL_Primario" style="margin-bottom: 0px !important;">
                        <!--Nav Tabs-->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-gestion-1" id="tab_contacti" aria-expanded="true">Empresa</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-gestion-2" aria-expanded="false">Historial de Gestión</a>
                            </li>
                        </ul>

                        <!--Tabs Content-->
                        <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                            <div id="tab-gestion-1" class="tab-pane fade active in">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label">Rut</label>
                                                <input class="form-control" id="companyId" type="text" value="" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="control-label">Razon Social</label>
                                                <input class="form-control" id="companyName" type="text" value="" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label segmento_texto">Segmento</label>
                                                <input class="form-control" id="companySegment" type="text" value="" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Oficina Asignación</label>
                                                <input class="form-control" id="assignedOffice" type="text" value="" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Telefono</label>
                                                <input class="form-control" id="companyPhone" type="text" value="" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input class="form-control" id="companyEmail" type="text" value="" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label segmento_texto">Dirección</label>
                                                <input class="form-control" id="companyAddress" type="text" value="" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row charlyNTF" style="display:none;">
                                        <div class="col-sm-12 charlyNTFContainer">

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="tab-gestion-2" class="tab-pane fade">
                                <div class="list-group" id="gestiones_realizadas" style="min-height:100px; max-height:200px; overflow: scroll;">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--Modal footer-->
                <div class="modal-footer" id="mensahes-must">
                    <form id="management-data" action="#" method="post">
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Estado</label>
                                    <select class="form-control" id="parentStats" name="parentStats" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Sub Estado</label>
                                    <select class="form-control" id="childStats" name="childStats" disabled="disabled" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" id="fpg">
                                    <label class="control-label">Fecha Próxima Gestión</label>
                                    <div id="datepicker-component">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="nextCommitmentDate" name="nextCommitment" autocomplete="off">
                                            <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row esconder" style="text-align: left;">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Comentarios</label>
                                    <textarea placeholder="Comentarios" rows="3" class="form-control" id="comments" name="comments" required></textarea>
                                </div>
                            </div>

                        </div>

                        <input type="hidden" id="leadId" name="leadId" value="" />

                        <button data-dismiss="modal" class="btn btn-default close-modal-btn" type="button">Cerrar</button>
                        <button class="btn btn-primary esconder" id="btn_savear" type="submit">Guardar</button>
                    </form>


                </div>
            </div>
        </div>
    </div>

    

</div>




@section script{
    <script src="~/Assets/js/vue.js"></script>
    <!--Bootstrap Table [ OPTIONAL ]-->
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table-vue.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/js.App/src/empresas.inicio.directores-laborales.js"></script>

    <script>
        $(function () {
            var PAGE = 1;
            var OFFICE = getCookie('Oficina');
            var USER = getCookie('Rut');
            var LEAD_TYPE_ID = 1;
            var STATS_OBJECT = null;
            var STATS_MAP = null;
            var INVOLVED_USERS = null;

            //Start Loads
            $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/management-stats/${LEAD_TYPE_ID}/stats-map`, function (response) {
                STATS_MAP = response;
                //Una vez cargados los estados que son requisito para poder desplegar los estados de las gestiones de los Leads
                $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/leads/${OFFICE}/${USER}/${PAGE}`, function (response) {

                    $(response).each(function (index, lead) {

                        var lastLeadManagement = lead.managements.slice(-1)[0];
                        var statsSummary = STATS_MAP.find(function (st) {
                            return lastLeadManagement !== undefined ? st.code === lastLeadManagement.stats : null;
                        });

                        $(`#tabla_leads tbody`).append(
                            $('<tr>')
                                .append($('<td>').html(`<a class="btn-link" data-toggle="modal" data-target="#mdl_management" data-lead="${lead.id}" href="#!">${lead.companyId}</a>`))
                                .append($('<td>').html(lead.company.companyName))
                                .append($('<td>').html(lead.company.segment))
                                .append($('<td>').html(lead.company.employeesCount))
                                .append($('<td>').html(lead.company.unlistedMonthsCount))
                                .append($('<td>').html(statsSummary !== undefined ? statsSummary.leyend + (lastLeadManagement.nextCommitment != null ? ` <br/>Próx. Compromiso (${lastLeadManagement.nextCommitment.toFecha()})` : '') : '-'))
                        );
                    });

                });

            });

            $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/management-stats/${LEAD_TYPE_ID}`, function (response) {

                STATS_OBJECT = response;
                var rootStats = STATS_OBJECT.filter(function (st) {
                    return st.parentId === null && (st.options === null || (st.options !== null && !st.options.includes('--hidden')));
                });

                $("#parentStats").html(`<option value="">Seleccione</option>`);
                $("#filtro-estado").html(`<option value="">Todos</option><option value="-1">Sín Gestión</option>`);
                $.each(rootStats, function (i, rootStat) {
                    $("#parentStats").append($('<option>').val(rootStat.id).text(rootStat.name));
                    $("#filtro-estado").append($('<option>').val(rootStat.id).text(rootStat.name))
                });
            });

            ///Office employees
            $.SecGetJSON(BASE_URL + "/motor/api/perfil-empresas/dotacion-oficina", function (responseUsers) {

                INVOLVED_USERS = responseUsers;

                $("#filtro-ejecutivos").append(
                    $("<optgroup>").prop('label', 'Generales')
                        .append($("<option>").attr("value", USER).html("Mios"))
                        .append($("<option>").attr("value", 'ALL').html("Todos"))
                );

                var $officeGroup = $('<optgroup>').prop('label', 'Otros Ejecutivos');
                $.each(INVOLVED_USERS, function (i, e) {
                    if (USER !== e.Rut) {
                        $officeGroup.append($("<option>").attr("value", e.Rut).html(e.Nombre.OrdenaNombreCompleto()))
                    }
                });
                $("#filtro-ejecutivos").append($officeGroup);
            });

            $('#parentStats').on('change', function (event) {

                if ($(this).val() === '') {
                    $('#childStats').html(`<option value="">Selecciona</option>`);
                    $('#childStats').prop('disabled', true);
                    return false;
                }

                var parentId = parseInt($(this).val());
                var childStats = STATS_OBJECT.filter(function (cst) {
                    return cst.parentId === parentId;
                });

                $('#childStats').prop('disabled', false);
                $('#childStats').html(`<option value="">Selecciona</option>`);
                $(childStats).each(function (index, stat) {
                    $('#childStats').append($('<option>').val(stat.id).text(stat.name));
                });
            });

            $('#filtro-estado').on('change', function (event) {

                if ($(this).val() === '') {
                    $('#filtro-subestado').prop('disabled', true);
                    return false;
                }

                var parentId = parseInt($(this).val());
                var childStats = STATS_OBJECT.filter(function (cst) {
                    return cst.parentId === parentId;
                });

                $('#filtro-subestado').prop('disabled', false);
                $('#filtro-subestado').html(`<option value="">Todos</option>`);
                $(childStats).each(function (index, stat) {
                    $('#filtro-subestado').append($('<option>').val(stat.id).text(stat.name));
                });
            });

            $('#datepicker-component .input-group.date').datepicker(
                { autoclose: true, format: 'dd-mm-yyyy', startDate: "0d", language: "es", daysOfWeekDisabled: [6, 0], todayHighlight: true }
            ).on('changeDate', function (e) {
                e.stopPropagation();
            }).on('show.bs.modal hide.bs.modal', function (event) {
                event.stopPropagation();
            });

            $('#mdl_management').on('show.bs.modal', function (event) {
                var $opener = $(event.relatedTarget);
                var leadId = $opener.data('lead');

                //Get the Lead Data
                $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/leads/${leadId}`, function (response) {

                    $("#companyId").val(response.companyId);
                    $("#companyName").val(response.company.companyName);
                    $("#companySegment").val(response.company.segment);
                    $("#assignedOffice").val(response.assignedOfficce);
                    $("#companyPhone").val(response.company.phoneNumber);
                    $("#companyEmail").val(response.company.email);
                    $("#companyAddress").val(response.company.address);
                    $('#leadId').val(response.id);

                    $("#gestiones_realizadas").html("");
                    $.each(response.managements.reverse(), function (i, management) {


                        var statsSummary = STATS_MAP.find(function (st) {
                            return st.code === management.stats;
                        });

                        var userReg = INVOLVED_USERS.find(function (iu) {
                            return iu.Rut === management.createdBy;
                        });


                        $("#gestiones_realizadas").append($("<a>").attr("href", '#')
                            .append($("<h4>").addClass("list-group-item-heading").html("<strong>Gestor:</strong> " + userReg.Nombre.OrdenaNombreCompleto()))
                            .append($("<p>").addClass("list-group-item-text").html("<strong>Fecha Gestión:</strong>" + management.createdAt.toFechaHora() + ", <strong>Fecha Prox. Gestión:</strong> " + (management.nextCommitment !== null ? management.nextCommitment.toFecha() : '-')))
                            .append($("<p>").addClass("list-group-item-text").html("<strong>Estado:</strong> " + statsSummary.leyend))
                            .append($("<p>").addClass("list-group-item-text").html("<strong>Comentario:</strong> " + management.comments))
                        );
                    });
                })


            });

            $('#mdl_management').on('hide.bs.modal', function (event) {
                $("#companyId").val('');
                $("#companyName").val('');
                $("#companySegment").val('');
                $("#assignedOffice").val('');
                $("#companyPhone").val('');
                $("#companyEmail").val('');
                $("#companyAddress").val('');
                $("#leadId").val('');

                $('#mensahes-must .panel-alert').remove();
                $('#btn_savear').text("Guardar").prop('disabled', false);
            });

            $('#management-data').on('submit', function (event) {

                var formData = $(this).serializeFormJSON();
                var managementDto = {
                    leadId: formData.leadId,
                    comments: formData.comments,
                    status: {
                        parent: formData.parentStats,
                        child: formData.childStats
                    },
                    nextAppointment: parseDate(formData.nextCommitment),
                    manager: USER,
                    office: OFFICE
                };

                $('#btn_savear').text("Guardando!!!!").prop('disabled', true);
                $('.close-modal-btn').prop('disabled', true);

                $.ajax({
                    type: 'POST',
                    url: `${LEAD_SERVICE_BASE_URL}/api/v1/managements`,
                    data: JSON.stringify(managementDto),
                    contentType: "application/json; charset=utf-8"
                })
                    .done(function () {

                        $('#parentStats').val('');
                        $('#childStats').html(`<option value="">Selecciona</option>`);
                        $('#childStats').prop('disabled', true);
                        $('#nextCommitmentDate').val('');
                        $('#comments').val('');
                        $('#btn_savear').text("Guardar");
                        $('.close-modal-btn').prop('disabled', false);

                        $.niftyNoty({
                            type: 'success',
                            container: '#mensahes-must',
                            html: '<strong>OK</strong> Gestion guardada exitosamente.',
                            closeBtn: true,
                            onHidden: function () {
                                $('#btn_savear').prop('disabled', false);
                            }
                        });
                    })
                    .fail(function (failureResponse) {
                        console.log({
                            failureResponse
                        });

                        $.niftyNoty({
                            type: 'success',
                            container: '#mensahes-must',
                            html: '<strong>Error al Guardar</strong> ' + failureResponse,
                            closeBtn: true
                        });
                    })


                return false;
            });

            $('#button-filtrar').on('click', function (event) {

                var filterObject = {
                    parentState: $('#filtro-estado').val() === '' ? 0 : parseInt($('#filtro-estado').val()),
                    childState: $('#filtro-subestado').val() === '' ? 0 : parseInt($('#filtro-subestado').val()),
                    companyRut: $('#filtro-rut').val() === '' ? null : $('#filtro-rut').val()
                }
                var showOfUser = $('#filtro-ejecutivos').val();
                $.getJSON(`${LEAD_SERVICE_BASE_URL}/api/v1/leads/${OFFICE}/${showOfUser}/${PAGE}`, filterObject, function (response) {
                    $(`#tabla_leads tbody`).html('');
                    $(response).each(function (index, lead) {

                        var lastLeadManagement = lead.managements.slice(-1)[0];
                        var statsSummary = STATS_MAP.find(function (st) {
                            return lastLeadManagement !== undefined ? st.code === lastLeadManagement.stats : null;
                        });

                        $(`#tabla_leads tbody`).append(
                            $('<tr>')
                                .append($('<td>').html(`<a class="btn-link" data-toggle="modal" data-target="#mdl_management" data-lead="${lead.id}" href="#!">${lead.companyId}</a>`))
                                .append($('<td>').html(lead.company.companyName))
                                .append($('<td>').html(lead.company.segment))
                                .append($('<td>').html(lead.company.employeesCount))
                                .append($('<td>').html(lead.company.unlistedMonthsCount))
                                .append($('<td>').html(statsSummary !== undefined ? statsSummary.leyend + (lastLeadManagement.nextCommitment != null ? ` <br/>Próx. Compromiso (${lastLeadManagement.nextCommitment.toFecha()})` : '') : '-'))
                        );
                    });

                });
            });
        });
    </script>


    <script>

        var selApp = new Vue({
            el: '#tab-4',
            components: {
                'BootstrapTable': BootstrapTable
            },
            data: {
                leads: [],
                showInfo: {},
                optionsModel: {
                    interes: '',
                    estado: '',
                    subEstado: '',
                    comentarios: '',
                    rutElector: '',
                    nombreElector: '',
                    correoElector: '',
                    telefonoElector: '',
                    celularElector: '',
                },
                btTable: {
                    columns: [
                        {
                            field: 'empresaCodigoPuntoAtencion',
                            title: 'Código Pto. Atención',
                            sortable: true,
                            formatter: function (value, row, index) {
                                return `<a class="btn-link open-modal" data-toggle="modal" data-target="#modalGestionCPE2" :data-lead="${row.id}" href="#">${value}</a>`;
                            },
                            events: {
                                'click .open-modal': function (e, value, row) {
                                    selApp.doModalOpenClick(row);
                                }
                            }
                        },
                        {
                            field: 'empresaRut',
                            title: 'Rut',
                            sortable: true
                        },
                        {
                            field: 'empresaNombre',
                            sortable: true,
                            title: 'Nombre \ Pto. Atención',
                            formatter: function (value, row, index) {
                                return `${row.empresaNombre}\\${row.empresaNombrePuntoAtencion}`;
                            }
                        },
                        {
                            field: 'empresaCantidadTrabajadores',
                            sortable: true,
                            title: 'N° Trabajadores'
                        },
                        {
                            field: 'cantidadComiteParitario',
                            title: 'N° Directores Laborales',
                            formatter: function (value, row, index) {
                                return row.directoresLaborales.length;
                            }
                        }
                    ],
                    options: {
                        search: true,
                        showColumns: false,
                        pagination: true,
                        pageSize: 40,
                        pageList: []

                    }
                }
            },
            methods: {
                fetchLeads: function () {
                    let rutEjecutivo = getCookie('Rut');
                    return fetch(`http://${motor_api_server}:4002/directores-laborales?ejecutivo=${rutEjecutivo}&noaplica=0`, {
                        method: 'GET',
                        mode: 'cors',
                        cache: 'default'
                    }).then(response => response.json())
                        .then(leads => this.leads = leads.rows);
                },
                populateManagement: function (info) {
                    this.optionsModel = {
                        interes: info.interes,
                        estado: info.estado,
                        subEstado: info.subEstado,
                        comentarios: info.comentarios,
                        rutElector: info.rutElector,
                        nombreElector: info.nombreElector,
                        correoElector: info.correoElector,
                        telefonoElector: info.telefonoElector,
                        celularElector: info.celularElector
                    };
                },
                doModalOpenClick: function (lead) {
                    this.showInfo = lead;

                    fetch(`http://${motor_api_server}:4002/directores-laborales/gestion/seleccion-elector/${lead.empresaCodigoPuntoAtencion}`, {
                        method: 'GET',
                        mode: 'cors',
                        cache: 'default'
                    }).then(response => response.json())
                        .then(gestion => this.populateManagement(gestion));
                },
                doModalOnClose: function () {
                    this.showInfo = {};
                    const clear = {
                        interes: '',
                        estado: '',
                        subEstado: '',
                        comentarios: '',
                        rutElector: '',
                        nombreElector: '',
                        correoElector: '',
                        telefonoElector: '',
                        celularElector: '',
                    };
                    this.populateManagement(clear);
                },
                doSubmitForm: function () {
                    const model = {
                        ...this.optionsModel,
                        rutEmpresa: this.showInfo.empresaRut,
                        codigoAnexoEmpresa: this.showInfo.empresaCodigoPuntoAtencion,
                        rutEjecutivo: getCookie('Rut'),
                        codigoSucursal: getCookie('Oficina')
                    }

                    fetch(`http://${motor_api_server}:4002/directores-laborales/gestion/seleccion-elector`, {
                        method: 'POST',
                        body: JSON.stringify(model),
                        headers: {
                            'Content-Type': 'application/json',
                            'Token': getCookie('Token')
                        }
                    }).then(response => {
                        console.log({
                            response
                        });
                        if (response.ok) {
                            $.niftyNoty({
                                type: 'success',
                                icon: 'pli-like-2 icon-2x',
                                message: 'Gestion registrada con éxito.',
                                container: '#mensajesCPE2'
                            });
                        } else {
                            $.niftyNoty({
                                type: 'danger',
                                icon: 'pli-danger icon-2x',
                                message: 'Ops! Ha ocurrido un problema al intentar guardar tu gestión, por favor intentalo nuevamente.',
                                container: '#mensajesCPE2'
                            });
                        }
                    });
                }
            },
            computed: {

            },
            mounted: function () {
                this.fetchLeads();
            }
        });

        $(function () {
            $('#modalGestionCPE2').on('hidden.bs.modal', function (event) {
                selApp.doModalOnClose();
            });
        })
    </script>


}