
@{
    ViewBag.Title = "SinPermiso";
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}

 <!--Page content-->
<!--===================================================-->
<div id="page-content">


    <div class="row">
        <div class="col-lg-12">

            <div id="container" class="cls-container">

                <!-- HEADER -->
                <!--===================================================-->
                <div class="cls-header">
                    <div class="cls-brand">
                        <a class="box-inline" href="index.html">
                            <!-- <img alt="Nifty Admin" src="images/logo.png" class="brand-icon"> -->
                            <span class="brand-title">MDN<span class="text-thin">Admin</span></span>
                        </a>
                    </div>
                </div>

                <!-- CONTENT -->
                <!--===================================================-->
                <div class="cls-content">
                    <h1 class="error-code text-primary">Oh no!</h1>
                    <p class="text-main text-semibold text-lg text-uppercase">Sin Permisos para esta página!</p>
                    <div class="pad-btm text-muted">
                        Usted no posee los privilegios necesarios para acceder a este recurso.
                    </div>
                    <div class="row mar-ver">
                        
                    </div>
                    <hr class="new-section-sm bord-no">
                    <div class="pad-top"><a class="btn-link" href="/motor/App/Inicio">Ir a la Página de Inicio</a></div>
                </div>


            </div>
            
        </div>
    </div>



</div>
<!--===================================================-->
<!--End page content-->

