<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-CRM-20170403095407.mdf;Initial Catalog=aspnet-CRM-20170403095407;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />

    <!--hpd-14159156-8-->
    <add name="CN_Reportes" connectionString="Data Source=serv-280;Initial Catalog=BD_REPORTES;User=usr_motor; Password=usr_motor;" providerName="System.Data.SqlClient" />
    <add name="CN_ReportesCRF" connectionString="Data Source=serv-55;Initial Catalog=BD_CRF;User=usr_reporteria; Password=Reporteria.01;" providerName="System.Data.SqlClient" />
    <add name="CN_CRM" connectionString="Data Source=serv-280;Initial Catalog=BD_HERRAMIENTAS;User ID=usr_motor;Password=usr_motor;" providerName="System.Data.SqlClient" />
    <add name="CN_MotorHerra" connectionString="Data Source=serv-55;Initial Catalog=BD_MOTOR;User=usr_etl; Password=cargaetl;" providerName="System.Data.SqlClient" />
    <!--
  /*SERVER PRODUCCION*/
    Data Source=serv-280;Initial Catalog=BD_HERRAMIENTAS;User=usr_motor; Password=usr_motor;
  /*SERVER DESARROLLO LOCAL*/
    Data Source=HPN-17042783-1\SQLSERV_BIZAGI;Initial Catalog=BD_HERRAMIENTAS;User ID=sa;Password=sabor_01;
    <add name="CN_MotorHerra" connectionString="Data Source=serv-55;Initial Catalog=BD_MOTOR;User=usr_etl; Password=cargaetl;" providerName="System.Data.SqlClient" />
  -->
    

  </connectionStrings>
  <appSettings>
    <add key="AuthTokenExpiry" value="28800" />
    <add key="ServidorApi" value="http://localhost" />
    <add key="UrlInicio" value="/motor/App/Inicio" />
    <add key="MaterExploder" value="#spt546;V18$"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-CL" uiCulture="es-CL" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <clientCache cacheControlMode="DisableCache" />
    
    </staticContent>

    <modules>
      <remove name="FormsAuthentication" />
    </modules>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
     
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
     <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AutenticarLdapPortBinding" />
        <binding name="WSFonaCajasSoap" />
        <binding name="ConsultaDatosAfiliadoPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://146.83.1.144:9080/InterfazServiciosCredEspecial/AutenticarLdapService" binding="basicHttpBinding" bindingConfiguration="AutenticarLdapPortBinding" contract="AutenticarLdapService.AutenticarLdapDelegate" name="AutenticarLdapPort" />
      <endpoint address="http://198.41.41.37/WsFonaCajas/WSFonaCajas.asmx" binding="basicHttpBinding" bindingConfiguration="WSFonaCajasSoap" contract="WSFonasaCajas.WSFonaCajasSoap" name="WSFonaCajasSoap" />
      <endpoint address="http://146.83.1.144:9080/ConsultaDatosAfiliado/ConsultaDatosAfiliadoService" binding="basicHttpBinding" bindingConfiguration="ConsultaDatosAfiliadoPortBinding" contract="ConsultaDatosAfiliadoService.ConsultaDatosAfiliadoDelegate" name="ConsultaDatosAfiliadoPort" />
    </client>
  </system.serviceModel>
</configuration>