
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">


<div id="page-content">
    <div class="row">
        <div class="panel" style="border-radius: 7px;">
            <div class="panel-heading">
                <h3 class="panel-title">CONTACTABILIDAD</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">Nombre de Empresa</label>
                            <select class="form-control" id="dllNombreEmpresa" tabindex="2" name="dllNombreEmpresa" v-on:change="eventoCambiaEstado" required v-model="modelos.compania">
                                <option value="">Seleccione...</option>
                                <option v-for="empresa in filtros.companias" :value="empresa.RutEmpresa">{{empresa.NombreEmpresa}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">Punto de atención </label>
                            <select id="dllPuntoAtencion" tabindex="2" class="form-control" v-model="modelos.puntosAtenFiltro">
                                <option value="">Seleccione...</option>
                                <option v-for="punto in filtros.puntosAtencionFiltro" :value="punto.codigo">{{punto.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">
                            </label>
                            <button class="btn btn-primary btn-rounded" v-on:click="handleEventoClickFiltrar" style="margin-top: 22px;">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel" style="border-radius: 7px;">
            <div class="panel-heading">
                <div class="panel-control">
                    <span class="text-muted">Agregar Contacto</span>
                    <i class="btn btn-sm demo-psi-add icon-lg" v-on:click="handleEventoAbreModal" style="font-size: 31px;"></i>
                </div>
                <h3 class="panel-title">RESULTADO DE BUSQUEDA</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <table id="tblContactoEmpresa"
                           data-toggle="table"
                           data-sort-name="id"
                           data-page-list="[]"
                           data-page-size="50"
                           data-pagination="true"
                           data-search="false"
                           data-show-refresh="false"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-side-pagination="client"
                           data-show-pagination-switch="false"
                           data-locale="es-CL">
                        <thead>
                            <tr>
                                <th data-field="nombre" data-sortable="true" data-formatter="contactabilidadLinkFormatter">NOMBRE</th>
                                <th data-field="rut" data-sortable="true">RUT</th>
                                <th data-field="estamento.nombre" data-sortable="true">ESTAMENTO</th>
                                <th data-field="cargo.nombre" data-sortable="true">CARGO</th>
                                <th data-field="puntoAtencion.nombre" data-sortable="true">PUNTO DE ATENCIÓN</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdl_data_contactabiliadad" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-header">
                <button id="btCerrarModal" type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">CONTACTO</h4>
            </div>
            <div class="modal-body">
                <div class="panel" style="border-radius: 6px; border: 1px solid #dad3d3;">
                    <div class="panel-heading">
                        <div class="panel-control">
                            <a href="#fakelink" class="add-tooltip demo-pli-question-circle icon-lg unselectable" data-html="true" data-title="<h4>Información</h4><p style='width:150px'>Podra visualizar y editar los datos de contacto y dirección del pensionado.</p>" data-original-title="" title=""></a>
                        </div>
                        <h3 class="panel-title">Datos de Contacto</h3>
                    </div>
                    <div class="panel-body msjContactabilidad">
                        <form id="form-info-contactabilidad" action="#" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">EMPRESA</label>
                                        <select class="form-control" id="dllNombreEmpresaModal" tabindex="2" name="dllNombreEmpresaModal" v-on:change="eventoCambiaEstado" required v-model="modelos.compania" disabled>
                                            <option value="">Seleccione...</option>
                                            <option v-for="empresa in filtros.companias" :value="empresa.RutEmpresa">{{empresa.NombreEmpresa}}</option>
                                        </select>
                                        <input class="form-control" id="txtidContacto" v-model="dataModal.id" name="txtidContacto" type="hidden">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">PUNTO DE ATENCIÓN</label>
                                        <select id="dllPuntoAtencionModal" tabindex="2" class="form-control" v-model="modelos.puntosAten" disabled>
                                            <option value="">Seleccione...</option>
                                            <option v-for="punto in filtros.puntosAtencion" :value="punto.codigo">{{punto.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">RUT</label>
                                        <input class="form-control" id="txtRutContacto" v-model="dataModal.rut" type="text" maxlength="10" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">NOMBRE</label>
                                        <input class="form-control" id="txtNombreContacto" v-model="dataModal.nombre" name="pen_estado" type="text" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">ESTAMENTO</label>
                                        <select class="form-control" id="dllEstamento" tabindex="2" name="dllEstamento" v-on:change="eventoCambiaCargo" required v-model="modelos.estamento" disabled>
                                            <option value="">Seleccione...</option>
                                            <option v-for="estamento in filtros.estamentos" :value="estamento" :data-nodo="estamento.nodo">{{estamento.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">CARGO</label>
                                        <select class="form-control" id="dllCargo" tabindex="2" name="dllCargo" required v-model="modelos.cargo" disabled>
                                            <option value="">Seleccione...</option>
                                            <option v-for="cargo in filtros.cargos" :value="cargo.id">{{cargo.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">FONO</label>
                                        <input class="form-control" id="txtFonoContacto" name="txtFonoContacto" v-model="dataModal.fono" type="text" maxlength="20" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="control-label">EMAIL</label>
                                        <input class="form-control" id="txtMailContacto" name="txtMailContacto" v-model="dataModal.mail" type="text" maxlength="300" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" id="btn_edit_contact" v-on:click="editaContacto" type="button" disabled style="display: none">Editar Contacto </button>
                                <button class="btn btn-primary" id="btn_save_contact" v-on:click="handleEventoGrabaContacto" type="button" disabled style="display: none">Guardar Contacto</button>
                                <button class="btn btn-primary" id="btn_update_contact" v-on:click="handleUpdateContacto" type="button" disabled style="display: none">Actualiza Contacto</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





