

@{

    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/plugins/switchery/switchery.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

<div id="page-content">

    <div id="contAtencion">
        <div class="panel" style="border-radius: 7px;">
            <div class="panel-heading">
                <h3 class="panel-title">FILTROS</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">ESTADO GESTION</label>
                            <select class="form-control" id="dllEstadoCliente" name="dllEstadoCliente" v-model="modelos.estado">
                                <option value="">Todos...</option>
                                <option v-for="estadoAten in filtros.estado" :value="estadoAten.nombre">{{estadoAten.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 text-xs-center" style="display:none;">
                        <div class="form-groupsubEstadosIgn">
                            <label class="control-label">REQUERIMIENTO</label>
                            <select class="form-control" id="slRequerimiento">
                                <option value="">Todos...</option>
                                <option value="CESANTIA ">CESANTIA</option>
                                <option value="BAJA DE INGRESOS">BAJA DE INGRESOS</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">RUT</label>
                            <input id="txtRutFiltro" type="text" placeholder="Ej. 12345678" class="form-control" maxlength="8" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-1 text-xs-center">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <button class="btn btn-primary btn-rounded" v-on:click="cargaLeadFiltroCliente" style="margin-top: 21px;">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel" style="border-radius: 7px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">DATOS</h3>
                    </div>
                    <div class="panel-body">
                        <table data-toggle="table"
                               data-sort-name="id"
                               data-page-list="[]"
                               data-page-size="50"
                               data-search="false"
                               data-pagination="true" id="tblAtencion" style="font-size: 12px">

                            <thead>
                                <tr>
                                    <th data-field="rut" data-sortable="true" data-formatter="formaterRut">RUT</th>
                                    <th data-field="nombre" data-sortable="true">NOMBRE</th>
                                    <th data-field="requerimiento" data-sortable="true">REQUERIMIENTO </th>
                                    <th data-field="ultimaGestion.estado" data-sortable="true">ESTADO GESTION</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal_atencion_cliente" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header" style="background: #337ab7;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" style="color: #f1f1f1;">Gestion Atención Cliente</h4>
            </div>
            <div id="msjIgn"></div>
            <div class="modal-body">
                <div class="tab-base" id="MDL_Primario_acuerdo_pago" style="margin-bottom: 0px !important;">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-gestion-atencion" aria-expanded="false">Gestión</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-historial-atencion" aria-expanded="false">Historial</a>
                        </li>
                    </ul>
                    <div class="tab-content msjAcuerdo_pago" style="box-shadow: 0 0 0 !important;">
                        <div id="tab-gestion-atencion" class="tab-pane fade active in">
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div id="msjAtencion"></div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label">RUT</label>
                                                <input class="form-control" :value="dataModal.rut" id="txtRutClie" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <label class="control-label">DV</label>
                                                <input class="form-control" :value="dataModal.dv" id="txtdvClie" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <label class="control-label">NOMBRE</label>
                                                <input class="form-control" :value="dataModal.nombre" id="txtNombreClie" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">FONO</label>
                                                <input class="form-control" :value="dataModal.telefono" type="text" id="txtFonoClie" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">EMAIL</label>
                                                <input class="form-control" :value="dataModal.email" id="txtMailClie" type="text" disabled>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">REQUERIMIENTO</label>
                                                <input class="form-control" :value="dataModal.requerimiento" id="txtReqClie" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">DETALLE REQUERIMIENTO</label>
                                        <textarea rows="3" id="txtDetalleReqClie" name="txtObservacion" :value="dataModal.observacion" class="form-control" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <form id="form-gestiion-cliente" action="#" method="post">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">ESTADO</label>
                                                    <select class="form-control" id="dllEstadoClienteModal" name="dllEstadoClienteModal" v-model="modelos.estado">
                                                        <option value="">Seleccione...</option>
                                                        <option v-for="estadoModal in filtros.estado" :value="estadoModal.id">{{estadoModal.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-4" id="divSucursalDerivacion" style="display:none;">
                                                <div class="form-group">
                                                    <label class="control-label">SURCUSAL A DERIVAR</label>
                                                    <select class="form-control slSucursal" id="slSucursal" v-model="modelos.sucursal">
                                                        <option value="">Seleccione...</option>
                                                        <option v-for="sucursalModal in filtros.sucursal" :value="sucursalModal.Cod_Oficina">{{sucursalModal.Oficina}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" id="divFechaCompromiso" style="display:none;">
                                                <div class="form-group">
                                                    <label class="control-label" id="labelrutempresa">FECHA COMPROMISO</label>
                                                    <div id="dp-component-atencion">
                                                        <div class="input-group date">
                                                            <input type="text" class="form-control" id="ges_prox_compromiso" name="ges_prox_compromiso">
                                                            <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel" style="border-radius: 7px; display:none;" id="divCovid">
                                            <div id="msjDif"></div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">FOLIO</label>
                                                            <input class="form-control input-number" :value="dataModalDif.folio" id="txtFolio" maxlength="15" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">CUOTAS A DIFERIR</label>
                                                            <input class="form-control input-number" :value="dataModalDif.cuota_diferir" type="text" maxlength="8" id="txtCuotaDiferir">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">MONTO CUOTA</label>
                                                            <input class="form-control input-number" :value="dataModalDif.monto_cuota" type="text" maxlength="8" id="txtMontoCuota">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">PRIMERA CUOTA A DIFERIR</label>
                                                            <input class="form-control input-number" :value="dataModalDif.primera_cuota_diferir" type="text" maxlength="8" id="txtPriCuotadif">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label" id="labelrutempresa">PRIMERA FECHA VENCIMIENTO ACTUAL</label>
                                                            <div id="dp-component-fecha-vencimiento">
                                                                <div class="input-group date">
                                                                    <input type="text" class="form-control" id="ges_fecha_ven" :value="dataModalDif.primera_fecha_vencimiento" name="ges_fecha_ven">
                                                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">PRIMERA NUEVA FECHA VENCIMIENTO</label>
                                                            <div id="dp-component-nueva-fecha">
                                                                <div class="input-group date">
                                                                    <input type="text" class="form-control" id="ges_new_fecha_ven" :value="dataModalDif.primera_nueva_fecha_vencimiento" name="ges_new_fecha_ven">
                                                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group pad-ver">
                                                        <label class="col-md-3 control-label">TIPO DE VALIDACIÓN</label>
                                                        <div class="col-md-10">
                                                            <div class="checkbox">
                                                                <input id="checkMail" class="magic-checkbox" type="checkbox">
                                                                <label for="checkMail">EMAIL</label>
                                                                <input id="checkWeb" class="magic-checkbox" type="checkbox" disabled>
                                                                <label for="checkWeb">WEB</label>
                                                                <input id="checkCall" class="magic-checkbox" type="checkbox" disabled>
                                                                <label for="checkCall">CALL</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">RESPUETA</label>
                                            <textarea rows="3" id="txtRespuesta" name="txtObservacionIgn" :value="dataModaPop.respuesta" class="form-control"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                <button class="btn btn-primary" v-on:click="handleSubmitGuadarGestion">Guardar</button>
                            </div>
                        </div>
                        <div id="tab-historial-atencion" class="tab-pane fade">
                            <div class="list-group" style="min-height:290px;">
                                <div v-for="gestion in dataModalHist">
                                    <a href="#">
                                        <h4 class="list-group-item-heading">@*<strong>Gestor: </strong> {{gestion.nombreEjecutivo != undefined && gestion.nombreEjecutivo.OrdenaNombre()}}*@</h4>
                                        <p class="list-group-item-text">
                                            <strong>Fecha Gestión: </strong>{{gestion.fechaGestion != undefined && gestion.fechaGestion.toFechaHoraPrueba()}}, <strong>Fecha Compromiso: </strong>
                                            {{gestion.fechaCompromiso != undefined && gestion.fechaCompromiso !=null ? gestion.fechaCompromiso: '------'}}
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Estado: </strong>{{gestion.estado != undefined && gestion.estado != null ? gestion.estado: '------'}}
                                            @* <strong>Sub-Estado: </strong>{{gestion.estado != undefined && gestion.estado != null ? gestion.estado.nombre: '------'}}*@
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Comentarios: </strong> {{gestion.respuesta}}
                                        </p>
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/Assets/js.App/src/atencion-cliente.js?g=@Guid.NewGuid().ToString()"></script>

}