@{
    Layout = null;
}


<table class="table table-striped" id="tabla_fidelizacion">
    <thead>
        <tr>
            <th>Rut</th>
            <th>Razon Social</th>
            <th>Nro. de Empleados</th>
            <th>Clasificacion</th>
            <th>Caja Origen</th>
            <th>Hito Actual</th>
        </tr>
    </thead>
    <tbody>

        <tr v-for="item in prospectosVisados">
            <td><a class="btn-link" data-toggle="modal" data-target="#modalGestion" href="#">{{item.rut}}</a></td>
            <td>{{ item.razonSocial }}</td>
            <td>{{ item.empleados }}</td>
            <td>{{ item.clasificacion }}</td>
            <td>{{ item.caja }}</td>
            <td>{{ item.hito }}</td>
        </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="modalGestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Gestión de Prospectos Visados</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-10">
                        <div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#company-data" aria-controls="company-data" role="tab" data-toggle="tab">Empresa</a></li>
                                <li role="presentation"><a href="#company-topics" aria-controls="company-topics" role="tab" data-toggle="tab">Tópicos</a></li>
                                <li role="presentation"><a href="#history-info" aria-controls="history-info" role="tab" data-toggle="tab">Historial de Gestión</a></li>
                                <li role="presentation"><a href="#contact-info" aria-controls="contact-info" role="tab" data-toggle="tab">Contactos</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="company-data">
                                    <div class="row mar-top">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label><strong>Rut</strong></label>
                                                <input type="text" class="form-control" v-bind:value="seleccionadoModal.rut" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label><strong>Razón Social</strong></label>
                                                <input type="text" class="form-control" v-bind:value="seleccionadoModal.razonSocial" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label><strong>Nro. Empleados</strong></label>
                                                <input type="text" class="form-control" v-bind:value="seleccionadoModal.empleados" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label><strong>Caja Actual</strong></label>
                                                <input type="text" class="form-control" v-bind:value="seleccionadoModal.caja" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label><strong>Holding</strong></label>
                                                <input type="text" class="form-control" v-bind:value="seleccionadoModal.holding" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label><strong>Segmento</strong></label>
                                                <input type="text" class="form-control" v-bind:value="seleccionadoModal.segmento" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label><strong>Rubro</strong></label>
                                                <input type="text" class="form-control" v-bind:value="seleccionadoModal.rubro" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="company-topics">
                                    <div class="row mar-top">
                                        <div v-for="topico in toipics" class="form-group pad-ver">
                                            <label class="col-md-2 control-label mar-top">{{ topico.nombre }}</label>
                                            <div class="col-md-10">
                                                <div class="radio">

                                                    <input :id="'tema_' + topico.id + '_nota_na'" class="magic-radio" value="na" type="radio" :name="'radio_' + topico.id">
                                                    <label :for="'tema_' + topico.id + '_nota_na'">N/A</label>

                                                    <input :id="'tema_' + topico.id + '_nota_1'" class="magic-radio" value="1" type="radio" :name="'radio_' + topico.id">
                                                    <label :for="'tema_' + topico.id + '_nota_1'">1</label>

                                                    <input :id="'tema_' + topico.id + '_nota_2'" class="magic-radio" value="2" type="radio" :name="'radio_' + topico.id">
                                                    <label :for="'tema_' + topico.id + '_nota_2'">2</label>

                                                    <input :id="'tema_' + topico.id + '_nota_3'" class="magic-radio" value="3" type="radio" :name="'radio_' + topico.id">
                                                    <label :for="'tema_' + topico.id + '_nota_3'">3</label>

                                                    <input :id="'tema_' + topico.id + '_nota_4'" class="magic-radio" value="4" type="radio" :name="'radio_' + topico.id">
                                                    <label :for="'tema_' + topico.id + '_nota_4'">4</label>

                                                    <input :id="'tema_' + topico.id + '_nota_5'" class="magic-radio" value="5" type="radio" :name="'radio_' + topico.id">
                                                    <label :for="'tema_' + topico.id + '_nota_5'">5</label>
                                                </div>
                                                <div>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="history-info">
                                    <div class="row mar-top">

                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="badge">Ini: 10-11-2019</span>
                                                    <span class="badge alert-warning">Comp: 10-11-2019</span>
                                                    <table>
                                                        <tr>
                                                            <td style="padding-right: 5px;"><strong>Ejecutivo</strong></td>
                                                            <td style="padding-right: 5px;">:</td>
                                                            <td>17042783-1 | Carlos Pradenas Pérez</td>
                                                        </tr>

                                                    </table>
                                                    <p class="mar-top">Se dijo todo lo que querian saber Se dijo todo lo que querian saber Se dijo todo lo que querian saber Se dijo todo lo que querian saber Se dijo todo lo que querian saber Se dijo todo lo que querian saber Se dijo todo lo que querian saber Se dijo todo lo que querian saber.......</p>
                                                    <span class="label label-info">Tubo Comercial</span>
                                                    <span class="label label-primary">001003 - Se encuietra con mucho texto \ Se agendara nueva reunion</span>
                                                    <hr />
                                                    <span class="label label-info">Topico</span>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="contact-info">
                                    <div class="row mar-top">
                                        <ul class="media-list">
                                            <li v-for="itmContacto in seleccionadoModal.contactos" class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" style="width: 54px; height: 54px;" src="/Motor/Assets/img/profile-photos/1.png" alt="...">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{ itmContacto.nombre }} ({{ itmContacto.cargo }})</h4>
                                                    <table style="width: 90%;">
                                                        <tr>
                                                            <td><strong>Telefonos</strong></td>
                                                            <td>:</td>
                                                            <td>{{ itmContacto.telefono }} / {{ itmContacto.celular }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Email</strong></td>
                                                            <td>:</td>
                                                            <td>{{ itmContacto.correo }}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div v-bind:class="clasificacionClass">
                                <p class="text-center">Clasificación</p>
                                <p class="text-center" style="font-size:22px !important;">{{ seleccionadoModal.clasificacion }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="alert alert-info">
                                <p class="text-center">Fase</p>
                                <p class="text-center" style="font-size:18px !important;">{{ seleccionadoModal.hito }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <form id="datos-gestion" action="#" method="post">
                    <div class="row" style="text-align: left;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Canal de Gestión</label>
                                <div>
                                    <div class="checkbox">

                                        <!-- Inline Checkboxes -->
                                        <input id="phoneType" class="magic-checkbox" type="checkbox">
                                        <label for="phoneType">Telefónica</label>

                                        <input id="emailType" class="magic-checkbox" type="checkbox">
                                        <label for="emailType">Correo</label>

                                        <input id="visitType" class="magic-checkbox" type="checkbox">
                                        <label for="visitType">Visita</label>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="row" style="text-align: left;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Participantes</label>
                                <select v-model="selectedQuorum" id="managementQuorum" data-placeholder="Selecciona a los prticipantes de esta gestión..." multiple>
                                    <option v-for="aitmContacto in seleccionadoModal.contactos" v-bind:value="aitmContacto.id">{{ aitmContacto.nombre }} ({{ aitmContacto.cargo }})</option>
                                    <option value="all">Sindicato</option>
                                </select>
                            </div>


                        </div>
                    </div>
                    <div class="row" style="text-align: left;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select class="form-control" id="parentStatus" name="parentStatus">
                                    <option value="">Seleccione</option>
                                    <option value="001">Si Hay Interés</option>
                                    <option value="002">No hay Interés</option>
                                    <option value="003">No me pude Contactar</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Sub Estado</label>
                                <select class="form-control" id="childStatus" name="childStatus">
                                    <option value="">Seleccione</option>
                                    <option value="001001">Ingreso de Comentarios</option>
                                    <option value="001002">Agendé Reunión</option>
                                    <option value="001003">Empresa Realmente Interesada</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="fpg">
                                <label class="control-label">Fecha Próxima Gestión</label>
                                <div id="demo-dp-component">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="nextCommitmentDate" name="nextCommitmentDate">
                                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row" style="text-align: left;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Topicos</label>
                                <select id="conversationTopics" data-placeholder="Busca los tópicos de conversación" multiple>
                                    <option value="Licencias Medicas">Licencias Medicas</option>
                                    <option value="Credito">Credito</option>
                                </select>
                            </div>


                        </div>
                    </div>*@
                    <div class="row" style="text-align: left;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios</label>
                                <textarea placeholder="Comentarios" rows="3" class="form-control" id="comments" name="comments"></textarea>
                            </div>
                        </div>
                    </div>



                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </form>




            </div>
        </div>
    </div>
</div>





