
@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}

<!--Bootstrap Table [ OPTIONAL ]-->
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<!--Page content-->
<!--===================================================-->
<div id="page-content">


    <div class="row">
        <div class="col-lg-12">


            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1" aria-expanded="true" id="tab_" class="tab-principal">Gestión Fichas Empresa</a>
                    </li>
                </ul>

                <!--Tabs Content-->
                <div class="tab-content">


                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <table id="fichas_table" class="table"></table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>



</div>
<!--===================================================-->
<!--End page content-->

@section script{

    <!--Bootstrap Table [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>

    <script>
        $("#fichas_table").bootstrapTable({
            url: "/Motor/api/FichaEmpresas/listar-fichas?rut=" + httpGet("RE"),
            pagination: false,
            locale: 'es-CL',
            striped: true,
            columns: [
                {
                    field: 'nombre_funcionario',
                    title: 'Entrevista Con',
                    sortable: true,
                    formatter: function(value, row, index)
                    {
                        console.log(row)

                        var dondeir = "http://localhost/motor/App/FichaEmpresa/LeyDesmunicipalizacion";

                        switch (row.cuestionario_id)
                        {
                            case 1:
                                dondeir = "http://localhost/motor/App/FichaEmpresa/LeyDesmunicipalizacion";
                                break;
                            case 2:
                                dondeir = "http://localhost/motor/App/FichaEmpresa/OtrasEmpresas";
                                break;
                        }


                        return '<a href="' + dondeir + '?id=' + row.enc_id + '">' + value + '</a>';
                    }
                },
                {
                    field: 'cargo_funcionario',
                    title: 'Cargo',
                    sortable: true
                    
                },
                {
                    field: 'estamento',
                    title: 'Estamento',
                    sortable: true
                }
            ]
        })
    </script>

}

