
@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}



<link href="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
<link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
<!--Bootstrap Select [ OPTIONAL ]-->
<script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<!--Magic Checkbox [ OPTIONAL ]-->
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<script src="js/demo/nifty-demo.min.js"></script>

<style type="text/css">
    #container .table th {
        font-size: 11px !important;
        background-color: dodgerblue;
        color: white;
    }
</style>
<div id="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-empresa" aria-expanded="true" id="tab_empresa" class="tab-principal">Ficha Empresa <span class="badge badge-purple" style="display:none;">15</span></a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div id="tab-empresa" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="row">
                                <button type="button" id="btnvolver" class="btn btn-default btn-success-basic">Volver Atras</button>
                            </div>
                            <form id="FichaEmpresa">

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Rut Empresa</label>
                                            <input class="form-control" id="rut_empresa" type="text" name="rut_empresa" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Empresa</label>
                                            <input class="form-control" type="text" id="nombre_empresa" name="nombre_empresa" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Sucursal</label>
                                            <input class="form-control" id="sucursal_empresa" name="sucursal_empresa" type="text" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Estamento</label>
                                            <select id="estamento_empresa" class="form-control" name="estamento_empresa">
                                                <option value="">Seleccione</option>
                                                <option value="Empresas">Empresas</option>
                                                <option value="Sindicato">Sindicato</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="divHolding" style="display:none;">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Nombre Local Holding</label>
                                            <input class="form-control" id="holding_empresa" type="text" name="NombreSucursal">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Dirección Local Holding</label>
                                            <input class="form-control" id="direccion_holding_empresa" type="text" name="direccion_holding_empresa">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Nombre Funcionario</label>
                                            <input class="form-control" id="nombre_funcionario" type="text" name="nombre_funcionario">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Cargo Funcionario</label>
                                            <input class="form-control" type="text" id="cargo_funcionario" name="cargo_funcionario">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">N° de Empleados</label>
                                            <input class="form-control" id="numero_empleados_empresa" type="text" placeholder="Ingresar N° Empleados" name="numero_empleados_empresa">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Fecha Entrevista</label>
                                            <div id="dp_fecha_entrevista">
                                                <div class="input-group date">
                                                    <input type="text" id="fecha_entrevista" class="form-control">
                                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <br />

                                <div class="row mar-btm">
                                    <div class="col-sm-7">
                                        <h3>I- Relación con la Empresa</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label style="text-align:center;font-weight: bold;" class="control-label">1.1- ¿Cómo evaluarias la relación con la persona que sostuviste la reunión?</label>
                                    </div>
                                    <br />
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <select id="sslOption1" class="form-control larespuesta" data-id="21" name="sslOPtion1">
                                                <option value="">Seleccione</option>
                                                <option value="4">Excelente</option>
                                                <option value="5">Muy Buena</option>
                                                <option value="6">Normal</option>
                                                <option value="7">Deficiente</option>
                                                <option value="8">Mala</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Explique brevemente su respuesta</label>
                                            <textarea placeholder="..." rows="5" class="form-control larespuesta" data-id="22" id="text_1" name="textObs1"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">1.2- ¿Existe algun tema(s) en particular donde la empresa sienta que existen problemas de relacionamiento?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="radio-inline" for="radio_si_5"><input id="radio_si_5" class="radio5 larespuesta" data-id="23" type="radio" name="respuesta5" value="2"> Si</label>
                                                <label class="radio-inline" for="radio_no_5"><input id="radio_no_5" class="radio5 larespuesta" data-id="23" type="radio" name="respuesta5" value="3"> No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row radio5si" style="display:none;">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Indique cuales.</label>
                                            <textarea placeholder="..." rows="5" class="form-control larespuesta" data-id="24" id="text_5" name="textObs5"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">1.3- ¿Cómo definirias la relación entre la empresa y La Araucana?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select id="sslOption2" class="form-control larespuesta" data-id="25" name="sslOption2">
                                                    <option value="">Seleccione</option>
                                                    <option value="4">Excelente</option>
                                                    <option value="5">Muy Buena</option>
                                                    <option value="6">Normal</option>
                                                    <option value="7">Deficiente</option>
                                                    <option value="8">Mala</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Explique porque.</label>
                                            <textarea placeholder="..." rows="5" class="form-control larespuesta" data-id="26" id="text_6" name="textObs6"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                                <hr />




                                @*pregunta 2*@
                                <div class="row mar-btm">
                                    <div class="col-sm-7">
                                        <h3>II- Antecedentes de acceso al financiamiento</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">2.1- ¿La empresa tiene definida una restrcción en el acceso al financiamiento y/o Seguros?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>

                                                <label for="radio1_si" class="radio-inline">
                                                    <input id="radio1_si" class="pregunta2 abrir-p2rsi larespuesta" data-id="27" type="radio" name="respuesta1" value="2">
                                                    Si
                                                </label>


                                                <label for="radio1_no" class="radio-inline">
                                                    <input id="radio1_no" class="pregunta2 larespuesta" data-id="27" type="radio" name="respuesta1" value="3">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="p2rsi ocultable" style="display:none;">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">2.2- ¿Cómo evaluarias la posibilidad de revertir?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select id="rsp22" class="form-control larespuesta" data-id="28" name="rsp22">
                                                    <option value="">Seleccione</option>
                                                    <option value="9">Buena</option>
                                                    <option value="8">Mala</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row rsp22_buena" style="display:none;">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>Explique en detalle la medida restricctiva y las acciones inmediatas y compromisos de fechas para revertir esta situación.</label>
                                                <textarea placeholder="Explique brevemente su respuesta" rows="5" class="form-control larespuesta" data-id="29" id="text-2Obs" name="textObs2"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row rsp22_mala" style="display:none;">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>Explique el motivo y otras medidas necesarias a ejecutar.</label>
                                                <textarea placeholder="Explique brevemente su respuesta" rows="5" class="form-control larespuesta" data-id="30" id="text-2Obs" name="textObs2"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <script>
                                    $(function () {
                                        $("#rsp22").on("change", function () {
                                            
                                            if ($(this).val() == "9") {
                                                $(".rsp22_buena").show();
                                                $(".rsp22_mala").hide();
                                            } else if ($(this).val() == "8") {
                                                $(".rsp22_buena").hide();
                                                $(".rsp22_mala").show();
                                            }
                                        })

                                    })
                                </script>
                                <hr />
                                @*pregunta 3 *@
                                <div class="row mar-btm">
                                    <div class="col-sm-7">
                                        <h3>III- SIL</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">3.1- ¿La empresa tiene montos pendientes de retiro asociados a excedentes y pagos generados por conceptos de SIL?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>

                                                <label for="radio31_si" class="radio-inline">
                                                    <input id="radio31_si" class="pregunta3 larespuesta" data-id="31" type="radio" name="respuesta3" value="2">
                                                    Si
                                                </label>


                                                <label for="radio31_no" class="radio-inline">
                                                    <input id="radio31_no" class="pregunta3 larespuesta" data-id="31" type="radio" name="respuesta3" value="3">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row desarrollo-3" style="display:none;">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Explique acciones inmediatas y fechas comprometidas  para dejar en $0 el stock</label>
                                            <textarea placeholder="..." rows="5" class="form-control larespuesta" data-id="32" name="rs[21]"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(function () {
                                        $(".pregunta3").on("click", function (e) {
                                            if($(this).val() == 2)
                                            {
                                                $(".desarrollo-3").show();
                                            }
                                            else
                                            {
                                                $(".desarrollo-3").hide();
                                            }
                                        })
                                    });
                                </script>
                                <hr />

                                @**@
                                <div class="row mar-btm">
                                    <div class="col-sm-7">
                                        <h3>IV- Riesgo de Crédito</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">4.1- ¿Tenemos aspectos relacionados a morosidad pendientes por aclarar?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="radio-inline" for="radio_si_41"><input id="radio_si_41" class="radio41 larespuesta" data-id="33" type="radio" name="respuesta41" value="2"> Si</label>
                                                <label class="radio-inline" for="radio_no_41"><input id="radio_no_41" class="radio41 larespuesta" data-id="33" type="radio" name="respuesta41" value="3"> No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row  rs42_si" style="display:none;">
                                    <div class="form-group">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">4.2- ¿tenemos la complicidad y apoyo de la empresa para lograr su pronta solución?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label class="radio-inline" for="radio_si_42"><input id="radio_si_42" class="radio42 larespuesta" data-id="34" type="radio" name="respuesta42" value="2"> Si</label>
                                                <label class="radio-inline" for="radio_no_42"><input id="radio_no_42" class="radio42 larespuesta" data-id="34" type="radio" name="respuesta42" value="3"> No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row rs43_si" style="display:none;">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label" style="text-align:center;font-weight: bold;">4.3- Indique porque.</label>
                                            <textarea placeholder="..." rows="5" class="form-control larespuesta" data-id="35" id="text_6" name="textObs6"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $(function () {
                         

                                        $(".radio41").on("click", function (e) {
                                            $(".rs43_si").hide();
                                            if($(this).val() == 2)
                                            {
                                                $(".rs42_si").show();
                                                
                                            }
                                            else
                                            {
                                                $(".rs42_si").hide();
                                                
                                            }
                                        })



                                        $(".radio42").on("click", function (e) {
                                            if ($(this).val() == 2) {
                                                $(".rs43_si").hide();

                                            }
                                            else {
                                                $(".rs43_si").show();

                                            }
                                        })
                                    })
                                </script>


                                <hr />

                                @*pregunta 4*@
                                <div class="row mar-btm">
                                    <div class="col-sm-7">
                                        <h3>V- Difusión de Beneficios</h3>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">5.1- ¿Se realizó difusión "masiva" de prestaciones 2018?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>

                                                <label for="radio51_si" class="radio-inline">
                                                    <input id="radio51_si" class="pregunta51 larespuesta" data-id="36" type="radio" name="respuesta51" value="2">
                                                    Si
                                                </label>


                                                <label for="radio51_no" class="radio-inline">
                                                    <input id="radio51_no" class="pregunta51 larespuesta" data-id="36" type="radio" name="respuesta51" value="3">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row 51_no" style="display:none;">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">5.2- Tiene agendada actividad "Masiva"de difusión de prestaciones 2018 (feria de servicio, Stand, etc)?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>

                                                <label for="radio521_si" class="radio-inline">
                                                    <input id="radio521_si" class="pregunta521 larespuesta" data-id="40" type="radio" name="respuesta521" value="2">
                                                    Si
                                                </label>


                                                <label for="radio521_no" class="radio-inline">
                                                    <input id="radio521_no" class="pregunta521 larespuesta" data-id="40" type="radio" name="respuesta521" value="3">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row 521_si" style="display:none;">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label style="text-align:center;" class="control-label">Conseguirla de manera inmediata e informar las fechas comprometidas</label>
                                            <input type="text" class="form-control larespuesta" data-id="42" id="calendario1" />
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row 521_no" style="display:none;">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Explique el formato de difusión, lugares, cantidad de personas, como asegurará llegar a más del 60% de la dotación, etc.</label>
                                            <textarea placeholder="..." rows="5" class="form-control larespuesta" data-id="41" id="tx_res_4" name="tx_res_4"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row 51_si" style="display:none;">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">5.2- ¿Cómo es la percepción de los beneficios de la Caja?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select id="rsp522" class="form-control larespuesta" data-id="37" name="rsp522">
                                                    <option value="">Seleccione</option>
                                                    <option value="9">Buena</option>
                                                    <option value="8">Mala</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row rs_522 522_buena" style="display:none;">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Indique lo mas valorado. </label>
                                            <textarea placeholder='...' rows="5" class="form-control larespuesta" data-id="38" id="tx_res_4" name="tx_res_4"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row rs_522 522_mala" style="display:none;">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Indique los niveles de criticidad y acciones para revertir.</label>
                                            <textarea placeholder='...' rows="5" class="form-control larespuesta" data-id="39" id="tx_res_4" name="tx_res_4"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(function () {
                                        
                                        $(".pregunta51").on("click", function (e) {

                                            $(".rs_522").hide();
                                            $(".521_si").hide();
                                            
                                            if ($(this).val() == 2) {
                                                $(".51_si").show();
                                                $(".51_no").hide();
                                            }
                                            else {
                                                $(".51_si").hide();
                                                $(".51_no").show();
                                            }
                                        })

                                        $("#rsp522").on("change", function () {

                                            $(".rs_522").show();
                                            if($(this).val() == '9')
                                            {
                                                $(".522_mala").hide()
                                                $(".522_buena").show()
                                            }
                                            else if ($(this).val() == '8')
                                            {
                                                $(".522_mala").show()
                                                $(".522_buena").hide()
                                            }

                                        })

                                        $(".pregunta521").on("click", function () {
                                            if ($(this).val() == 2)
                                            {
                                                $(".521_no").show();
                                                $(".521_si").hide();
                                                
                                            }
                                            else
                                            {
                                                $(".521_si").show();
                                                $(".521_no").hide();
                                            }
                                        })
                                    });
                                </script>
                                <hr />
                               
                                @*pregunta 8*@
                                <div class="row mar-btm">
                                    <div class="col-sm-7">
                                        <h3>VI- Próxima Reunión</h3>
                                    </div>
                                </div>
                                <div class="row mar-btm">
                                    <div class="col-sm-2">
                                        <label class="control-label">Fecha</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div id="dp_fecha_entrevista">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" id="fecha_proxima_reunion_agenda" name="fecha_proxima_reunion_agenda">
                                                <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="row mar-btm">
                                    <div class="col-sm-2">
                                        <label class="control-label">Estamento</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <select id="sl_estamento_agenda" class="form-control" name="sl_estamento_agenda">
                                            <option value="">Seleccione</option>
                                            <option value="Empresas">Empresas</option>
                                            <option value="Sindicato">Sindicato</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mar-btm">
                                    <div class="col-sm-2">
                                        <label class="control-label">Nombre del Funcionario de la Empresa</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" id="nombre_funcionario_empresa_agenda" name="nombre_funcionario_empresa_agenda">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="control-label">Cargo del Funcionario</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" id="cargo_funcionario_empresa_agenda" name="cargo_funcionario_empresa_agenda">
                                    </div>
                                </div>
                                <br />
                                <br />

                                <div class="row">

                                    <div class="panel-footer text-right">
                                        <button class="btn btn-primary" type="button" id="btn_guardar">Guardar</button>
                                        
                                    </div>
                                </div>

                                <div class="row charlyNTF" style="display:none;">
                                    <div class="col-sm-12 charlyNTFContainer">

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section script{

    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script>






        var CargadorEncabezado = {
            CargaEncabezadoTotal: function (p_id) {

                $.SecGetJSON(BASE_URL + "/Motor/api/FichaEmpresas/empresa-ficha-data", { id: p_id }, function (resuelve) {

                    //Encabezado
                    $("#rut_empresa").val(resuelve.encabezado.rut_empresa)
                    $("#nombre_empresa").val(resuelve.encabezado.nombre_empresa)
                    $("#estamento_empresa").val(resuelve.encabezado.estamento)

                    $("#nombre_funcionario").val(resuelve.encabezado.nombre_funcionario)
                    $("#cargo_funcionario").val(resuelve.encabezado.cargo_funcionario)
                    $("#numero_empleados_empresa").val(resuelve.encabezado.cantidad_empleados)
                    $("#fecha_entrevista").val(resuelve.encabezado.fecha_entrevista.toFecha())

                    //Las Generales
                    $.each(resuelve.respuestas, function (i, e) {
                        $(".larespuesta").each(function (x, htel) {
                            if ($(htel).data("id") == e.respuesta.pregunta_id) {
                                //**Por tipo de control
                                if ($(htel).is("input") && $(htel).prop("type") == "radio") {
                                    if (e.respuesta.nuberespuesta_id == $(htel).val()) {
                                        $(htel).prop("checked", true).trigger("click");

                                    }
                                }
                                else if ($(htel).is("select")) {
                                    $(htel).val(e.respuesta.nuberespuesta_id).trigger("change");
                                }
                                else {
                                    $(htel).val(e.desarrollo.texto)
                                }
                            }
                        })


                        if (e.respuesta.pregunta_id == 15) {
                            $("#cantidad_desvinculacion").val(e.desarrollo.texto);
                            $("#tipo_conteo_desvinculacion").val(e.respuesta.nuberespuesta_id)
                        }

                    });


                    //Contactos
                    if (resuelve.personalidad != null) {
                        $("#nombre_persona_juridica").val(resuelve.personalidad.nombre)
                        $("#telefono_persona_juridica").val(resuelve.personalidad.telefono)
                        $("#email_persona_juridica").val(resuelve.personalidad.email)
                        $("#direccion_persona_juridica").val(resuelve.personalidad.direccion)
                        $("#compromisos_persona_juridica").val(resuelve.personalidad.compromisos)
                    }

                    if (resuelve.director != null) {
                        $("#nombre_director_ejecutivo").val(resuelve.director.nombre)
                        $("#telefono_director_ejecutivo").val(resuelve.director.telefono)
                        $("#email_director_ejecutivo").val(resuelve.director.email)
                        $("#direccion_director_ejecutivo").val(resuelve.director.direccion)
                    }

                    //Agenda
                    if (resuelve.agenda != null) {
                        $("#fecha_proxima_reunion_agenda").val(resuelve.agenda.fecha.toFecha());
                        $("#sl_estamento_agenda").val(resuelve.agenda.estamento);
                        $("#nombre_funcionario_empresa_agenda").val(resuelve.agenda.nombre_funcionario);
                        $("#cargo_funcionario_empresa_agenda").val(resuelve.agenda.cargo_funcionario);
                    }


                });

            },


        }

       


        $(document).ready(function () {
            

            $('#dp_fecha_entrevista .input-group.date').datepicker({
                autoclose: true,
                format: "dd-mm-yyyy",
            });

            //Cargas iniciales
            CargadorEncabezado.CargaEncabezadoTotal(httpGet("id"))

            //Eventos
            $("#btn_guardar").on("click", function () {

                var objetoFormulario = new Array();


                $(".larespuesta").each(function (i, e) {

                    if ($(e).prop("type") == "radio") {
                        if ($(e).is(":checked")) {
                            objetoFormulario.push({ id: $(e).data("id"), valor: $(e).val(), tipo: 'boleano' })
                        }
                    }
                    else if ($(e).is("select")) {
                        objetoFormulario.push({ id: $(e).data("id"), valor: $(e).val(), tipo: 'multiopcion' });
                    }
                    else {
                        objetoFormulario.push({ id: $(e).data("id"), valor: $(e).val(), tipo: 'texto' });
                    }
                });

                var objetoEnvio = {

                    sucursal: getCookie("Oficina"),
                    encabezado: {
                        id_ficha: httpGet("id"),
                        rut_empresa: $("#rut_empresa").val(),
                        nombre_empresa: $("#nombre_empresa").val(),
                        sucursal_empresa: $("#sucursal_empresa").val(),
                        estamento_empresa: $("#estamento_empresa").val(),
                        nombre_funcionario: $("#nombre_funcionario").val(),
                        cargo_funcionario: $("#cargo_funcionario").val(),
                        numero_empleados_empresa: $("#numero_empleados_empresa").val(),
                        fecha_entrevista: $("#fecha_entrevista").val(),
                    },
                    
                    agenda: {
                        fecha_prox_reunion: $("#fecha_proxima_reunion_agenda").val(),
                        estamento: $("#sl_estamento_agenda").val(),
                        nombre_funcionario_empresa: $("#nombre_funcionario_empresa_agenda").val(),
                        cargo_funcionario_empresa: $("#cargo_funcionario_empresa_agenda").val()
                    },
                    data: objetoFormulario
                }


                $.SecPostJSON(BASE_URL + "/motor/api/FichaEmpresas/guardar-formulario-privadas", objetoEnvio, function (respuesta) {

                    if (respuesta.Estado === "OK") {
                        $.niftyNoty({
                            type: 'success',
                            container: 'floating',
                            html: '<strong>OK</strong> ' + respuesta.Mensaje,
                            focus: false,
                            timer: 3000
                        });

                    } else {
                        $.niftyNoty({
                            type: 'danger',
                            container: 'floating',
                            html: '<strong>Error</strong> ' + respuesta.Mensaje,
                            focus: false,
                            timer: 3000,
                            onHidden: function () {
                                //history.back(-1);
                                //location.href = "/motor/App/Gestion/Empresas"
                            }
                        });
                    }
                });

            })

            $(".pregunta2").on("click", function () {
                if ($(this).val() === "2") {
                    $(".p2rno").hide();
                    $(".p2rsi").show();
                } else {
                    $(".p2rno").show();
                    $(".p2rsi").hide();
                }
            });

            $(".radio2").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio2no").hide();
                    $(".radio2si").show();
                } else {
                    $(".radio2no").show();
                    $(".radio2si").hide();
                }
            })

            $(".radio3").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio3si").show();
                } else {
                    $(".radio3si").hide();
                }
            })

            $(".radio4").on("click", function () {

                if ($(this).val() === "3") {
                    $(".radio4no").show();
                } else {
                    $(".radio4no").hide();
                }
            })


            $(".radio4_1").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio4_1si").show();
                    $(".radio4_1no").hide();
                } else {
                    $(".radio4_1si").hide();
                    $(".radio4_1no").show();
                }
            })

            $(".radio5").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio5si").show();
                    $(".radio5no").hide();
                } else {
                    $(".radio5si").hide();
                    $(".radio5no").show();
                }
            })


            $(".radio6").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio6si").show();
                    $(".radio6no").hide();
                } else {
                    $(".radio6si").hide();
                    $(".radio6no").show();
                }
            })

            $(".radio7").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio7si").show();
                } else {
                    $(".radio7si").hide();
                }
            })

            $(".radio9").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio9si").show();
                } else {
                    $(".radio9si").hide();
                }
            })


            $(".radio9_1").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio9_1no").hide();
                } else {
                    $(".radio9_1no").show();
                }
            })


            $(".radio10").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio10si").show();
                } else {
                    $(".radio10si").hide();
                }
            })

            $(".radio10_1").on("click", function () {

                if ($(this).val() === "2") {
                    $(".radio10_1si").show();
                } else {
                    $(".radio10_1si").hide();
                }
            })




        });


        $("#cod_sucursal").val(getCookie("Oficina"))
        $("#pub").val(getCookie("Usuario"))
        $("#btnvolver").click(function (event) {
            event.preventDefault();
            location.href = BASE_URL + '/motor/App/FichaEmpresa/Listado?RE=' + $("#rut_empresa").val();
        });
    </script>
}