


@{

    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/plugins/switchery/switchery.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

<div id="page-content">

    <div id="callBack">
        <div class="panel" style="border-radius: 7px;">
            <div class="panel-heading">
                <h3 class="panel-title">FILTROS</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">ESTADO</label>
                            <select class="form-control" id="dllEstadoCall" name="dllEstadoCall" v-on:change="eventoCambiaEstadoCall" v-model="modelos.estados">
                                <option value="">Todos...</option>
                                <option v-for="estadoCall in filtros.estados" :value="estadoCall.id">{{estadoCall.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">SUB-ESTADO</label>
                            <select class="form-control" id="dllSubEstadoCall" name="dllSubEstadoCall" v-model="modelos.subEstados">
                                <option value="">Todos...</option>
                                <option v-for="subEstadoCall in filtros.subEstados" :value="subEstadoCall.nombre">{{subEstadoCall.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 text-xs-center">
                        <div class="form-group">
                            <label class="control-label">RUT</label>
                            <input id="txtRutFiltroCall" type="text" placeholder="Ej. 12345678" class="form-control" maxlength="10" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-1 text-xs-center">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <button class="btn btn-primary btn-rounded" v-on:click="cargaLeadFiltroCall" style="margin-top: 21px;">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel" style="border-radius: 7px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">DATOS CALL BACK</h3>
                    </div>
                    <div class="panel-body">
                        <table data-toggle="table"
                               data-sort-name="id"
                               data-page-list="[]"
                               data-page-size="50"
                               data-search="false"
                               data-pagination="true" id="tblCall" style="font-size: 12px">

                            <thead>
                                <tr>
                                    <th data-field="rut" data-sortable="true" data-formatter="formaterRut">RUT</th>
                                    <th data-field="nombre" data-sortable="true">NOMBRE</th>
                                    <th data-field="telefonoContacto" data-sortable="true">FONO CONTACTO </th>
                                    <th data-field="fecha" data-sortable="true">FECHA</th>
                                    <th data-field="flujo" data-sortable="true">FLUJO</th>
                                    <th data-field="ultimaGestion.estado" data-sortable="true">ESTADO</th>
                                    <th data-field="ultimaGestion.subEstado" data-sortable="true">SUB-ESTADO</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal_atencion_call" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header" style="background: #337ab7;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" style="color: #f1f1f1;">Gestion Call Back</h4>
            </div>
            <div id="msCall"></div>
            <div class="modal-body">
                <div class="tab-base" id="MDL_Primario_acuerdo_pago" style="margin-bottom: 0px !important;">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-gestion-call" aria-expanded="false">Gestión</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-historial-call" aria-expanded="false">Historial</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                        <div id="tab-gestion-call" class="tab-pane fade active in">
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div id="msjCall"></div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label">RUT</label>
                                                <input class="form-control" id="txtRutCall" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="control-label">NOMBRE</label>
                                                <input class="form-control" id="txtNombreCall" type="text" disabled>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">FONO</label>
                                                <input class="form-control" type="text" id="txtFonoCall" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label">FLUJO</label>
                                                <input class="form-control" type="text" id="txtFlujoCall" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel" style="border-radius: 7px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">ESTADO</label>
                                                <select class="form-control" id="dllEstadoCallModal" name="dllEstadoCallModal" v-on:change="eventoCambiaEstado" v-model="modelosM.estadosM">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="estadoCall in filtrosM.estadosM" :value="estadoCall.id">{{estadoCall.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">SUB-ESTADO</label>
                                                <select class="form-control" id="dllSubEstadoCallModal" name="dllSubEstadoCallModal" v-model="modelosM.subEstadosM">
                                                    <option value="">Seleccione...</option>
                                                    <option v-for="subEstadoModal in filtrosM.subEstadosM" :value="subEstadoModal.id">{{subEstadoModal.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">RESPUETA</label>
                                        <textarea rows="3" id="txtRespuestaCall" name="txtRespuestaCall" class="form-control"></textarea>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                <button class="btn btn-primary" v-on:click="handleSubmitGuadarGestion">Guardar</button>
                            </div>
                        </div>
                        <div id="tab-historial-call" class="tab-pane fade">
                            <div class="list-group" style="min-height:290px;">
                                <div v-for="gestion in dataModalHist">
                                    <a href="#">
                                        <h4 class="list-group-item-heading"><strong>Gestor: </strong>{{gestion.rutEjecutivo != undefined && gestion.rutEjecutivo}}</h4>
                                        <p class="list-group-item-text">
                                            <strong>Fecha Gestión: </strong>{{gestion.fechaGestion != undefined && gestion.fechaGestion.toFechaHoraPrueba()}}, @*<strong>Fecha Compromiso: </strong>
                                                {{gestion.fechaCompromiso != undefined && gestion.fechaCompromiso !=null ? gestion.fechaCompromiso: '------'}}*@
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Estado: </strong>{{gestion.estado != undefined && gestion.estado != null ? gestion.estado: '------'}}
                                            <strong>Sub-Estado: </strong>{{gestion.subEstado != undefined && gestion.subEstado != null ? gestion.subEstado: '------'}}
                                        </p>
                                        <p class="list-group-item-text">
                                            <strong>Comentarios: </strong> {{gestion.respuesta}}
                                        </p>
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/Assets/js.App/src/call-back.js?g=@Guid.NewGuid().ToString()"></script>

}