
@{
    ViewBag.Title = "Reasignación";
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
<link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">

<!--Page content-->
<!--===================================================-->
<div id="page-content">

    <div class="panel CharlyWizardContainer">
        <div class="eq-height clearfix">
            <div class="col-md-12 eq-box-md eq-no-panel">

                <!-- Form wizard with Validation -->
                <!--===================================================-->
                <div id="demo-bv-wz">
                    <div class="wz-heading pad-top">

                        <!--Nav-->
                        <ul class="row wz-step wz-icon-bw wz-nav-off mar-top">
                            <li class="col-xs-3">
                                <a data-toggle="tab" href="#demo-bv-tab1">
                                    <span class="text-danger"><i class="pli-bird icon-2x"></i></span>
                                    <p class="text-semibold mar-no">Tipo campaña</p>
                                </a>
                            </li>
                            <li class="col-xs-3">
                                <a data-toggle="tab" href="#demo-bv-tab2">
                                    <span class="text-warning"><i class="demo-pli-male icon-2x"></i></span>
                                    <p class="text-semibold mar-no">Origen</p>
                                </a>
                            </li>
                            <li class="col-xs-3">
                                <a data-toggle="tab" href="#demo-bv-tab3">
                                    <span class="text-info"><i class="demo-pli-male icon-2x"></i></span>
                                    <p class="text-semibold mar-no">Destino</p>
                                </a>
                            </li>
                            <li class="col-xs-3">
                                <a data-toggle="tab" href="#demo-bv-tab4">
                                    <span class="text-success"><i class="demo-pli-medal-2 icon-2x"></i></span>
                                    <p class="text-semibold mar-no">Resumen y Confirmar</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--progress bar-->
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>


                    <!--Form-->
                    <form id="demo-bv-wz-form" class="form-horizontal">
                        <div class="panel-body">
                            <div class="tab-content">

                                <!--First tab-->
                                <div id="demo-bv-tab1" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Seleccione Tipo de Campaña</label>
                                        <div class="col-lg-4">
                                            <select class="form-control" name="slTipoCamp" id="slTipoCamp">
                                                <option value="">Seleccione</option>
                                                <option value="1">Comercial</option>
                                                <option value="2">Normalización</option>
                                                <option value="4">Seg. Cesantía</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                 
                                <!--Second tab-->
                                <div id="demo-bv-tab2" class="tab-pane fade">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Ejecutivo Origen</label>
                                        <div class="col-lg-4">
                                            <select class="lista-ejecutivos" name="slEjecutivOrigen" id="slEjecutivOrigen" data-placeholder="Seleccione un Ejecutivo">
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Casos Asignados Actualmente</label>
                                        <div class="col-lg-4">
                                            <input type="text" value="0" id="nroCasosOrigen" class="form-control" readonly="readonly">
                                        </div>
                                    </div>

                                </div>

                                <!--Third tab-->
                                <div id="demo-bv-tab3" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Ejecutivo Destino</label>
                                        <div class="col-lg-4">
                                            <select data-placeholder="Seleccione un Ejecutivo" name="slEjecutivDestino" id="slEjecutivDestino" class="lista-ejecutivos">
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Casos Asignados Actualmente</label>
                                        <div class="col-lg-4">
                                            <input type="text" value="0" id="nroCasosDestinoActual" class="form-control" readonly="readonly">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Ingrese Casos a Asignar</label>
                                        <div class="col-lg-4">
                                            <input type="text" id="nroCasosAsignar" name="nroCasosAsignar" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Casos Finales</label>
                                        <div class="col-lg-4">
                                            <input type="text" value="" id="nroCasosFinales" class="form-control" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                                <!--Fourth tab-->
                                <div id="demo-bv-tab4" class="tab-pane  mar-btm text-center">

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Ejecutivo Origen</label>
                                        <div class="col-lg-7">
                                            <input type="text" value="17042783-1 Carlos Pradenas" id="Resumen_EjecutivoOrigen" class="form-control" readonly="readonly">
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"></label>
                                        <label class="col-lg-2 control-label">Nro Casos Asignados (antes)</label>
                                        <div class="col-lg-1">
                                            <input type="text" value="100" id="Resumen_EjecutivoOrigen_nroCasos_antes" class="form-control" readonly="readonly">
                                        </div>

                                        <label class="col-lg-2 control-label">Nro Casos Asignados (después)</label>
                                        <div class="col-lg-1">
                                            <input type="text" value="100" id="Resumen_EjecutivoOrigen_nroCasos_despues" class="form-control" readonly="readonly">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Ejecutivo Destino</label>
                                        <div class="col-lg-7">
                                            <input type="text" value="12968261-2 Juan Pérez" id="Resumen_EjecutivoDestino" class="form-control" readonly="readonly">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"></label>
                                        <label class="col-lg-2 control-label">Nro Casos Asignados (antes)</label>
                                        <div class="col-lg-1">
                                            <input type="text" value="100" id="Resumen_EjecutivoDestino_nroCasos_antes" class="form-control" readonly="readonly">
                                        </div>

                                        <label class="col-lg-2 control-label">Nro Casos Asignados (después)</label>
                                        <div class="col-lg-1">
                                            <input type="text" value="100" id="Resumen_EjecutivoDestino_nroCasos_despues" class="form-control" readonly="readonly">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Footer button-->
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button type="button" class="previous btn btn-primary">Volver</button>
                                <button type="button" class="next btn btn-primary">Siguiente</button>
                                <button type="button" class="finish btn btn-warning" disabled>Confirmar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--===================================================-->
                <!-- End Form wizard with Validation -->
            </div>
        </div>
    </div>

    
    <div id="CharlyFinallyContainer" style="display:none;">

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Resumen de Reasignación</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="alert alert-success">
                        <strong>Finalizado!</strong> Se ha completado la Reasignacion Exitosamente.
                    </div>

                    <div class="col-sm-12">
                        <p><strong>Tipo de campaña: </strong>  <span id="resumen_tipo_camp"></span></p>
                        <p><strong>Cantidad de Asignaciones Traspasadas: </strong>  <span id="resumen_cantidad_asignaciones"></span></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <!--Paragraph-->
                        <!--===================================================-->
                        <p class="text-main text-bold">Ejecutivo Origen</p>
                        <p>
                            <strong>Datos:</strong> <label id="nameOrigen">Carlos Antonio Pradenas Pérez</label><br />
                            <strong>Casos Antes:</strong> <label id="origenAntes">500</label><br />
                            <strong>Casos Después:</strong> <label id="origenDespues">200</label><br />
                        </p>
                        <!--===================================================-->

                    </div>
                    <div class="col-sm-12">

                        <!--Paragraph-->
                        <!--===================================================-->
                        <p class="text-main text-bold">Ejecutivo Destino</p>
                        <p>
                            <strong>Datos:</strong> <label id="nameDestino">Carlos Antonio Pradenas Pérez</label><br />
                            <strong>Casos Antes:</strong> <label id="destinoAntes">500</label><br />
                            <strong>Casos Después:</strong> <label id="destinoDespues">200</label><br />
                        </p>
                        <!--===================================================-->

                    </div>
                </div>

                
                
                
                <button type="button" class="btn btn-primary" onclick="window.location.reload(true)">Nueva Reasignacion</button>
                

            </div>
        </div>

    </div>

</div>
<!--===================================================-->
<!--End page content-->




@section script{

    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>




    <script>

        $(document).ready(function () {

            $('.lista-ejecutivos').chosen({ width: '100%', no_results_text: "No se han encontrado resultados" });


            // FORM WIZARD WITH VALIDATION
            // =================================================================
            $('#demo-bv-wz').bootstrapWizard({
                tabClass: 'wz-steps',
                nextSelector: '.next',
                previousSelector: '.previous',
                onTabClick: function (tab, navigation, index) {
                    return false;
                },
                onInit: function () {
                    $('#demo-bv-wz').find('.finish').hide().prop('disabled', true);
                },
                onTabShow: function (tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;
                    var $percent = ($current / $total) * 100;
                    var wdt = 100 / $total;
                    var lft = wdt * index;

                    $('#demo-bv-wz').find('.progress-bar').css({ width: wdt + '%', left: lft + "%", 'position': 'relative', 'transition': 'all .5s' });

                    // If it's the last tab then hide the last button and show the finish instead
                    if ($current >= $total) {
                        $('#demo-bv-wz').find('.next').hide();
                        $('#demo-bv-wz').find('.finish').show();
                        $('#demo-bv-wz').find('.finish').prop('disabled', false);

                        //Resumen pre-procesar
                        $("#Resumen_EjecutivoOrigen").val($("#slEjecutivOrigen").find(":selected").html())
                        $("#Resumen_EjecutivoOrigen_nroCasos_antes").val($("#slEjecutivOrigen").find(":selected").data("asignaciones"));
                        $("#Resumen_EjecutivoOrigen_nroCasos_despues").val(Number($("#slEjecutivOrigen").find(":selected").data("asignaciones")) - Number($("#nroCasosAsignar").val()));

                        $("#Resumen_EjecutivoDestino").val($("#slEjecutivDestino").find(":selected").html())
                        $("#Resumen_EjecutivoDestino_nroCasos_antes").val($("#slEjecutivDestino").find(":selected").data("asignaciones"));
                        $("#Resumen_EjecutivoDestino_nroCasos_despues").val($("#nroCasosFinales").val());


                    } else {
                        $('#demo-bv-wz').find('.next').show();
                        $('#demo-bv-wz').find('.finish').hide().prop('disabled', true);
                    }

                    

                },
                onNext: function () {
                    isValid = null;
                    $('#demo-bv-wz-form').bootstrapValidator('validate');

                    if ($("#slEjecutivDestino_chosen").is(":visible"))
                    {


                        if ($("#slEjecutivDestino_chosen").hasClass("has-error")) {
                            isValid = false;
                        }
                        else if (!$("#slEjecutivDestino_chosen").hasClass("has-error") && isValid != false) {
                            isValid = true;
                        }



                        $("#slEjecutivDestino_chosen")
                            .removeClass("has-error").removeClass("form-control")
                            .closest("div.form-group").removeClass("has-error")
                        $('#slEjecutivDestino_chosen').next('small').remove();
                        if ($("#slEjecutivDestino").find(":selected").val() === "") {
                            isValid = false;
                            $("#slEjecutivDestino_chosen").addClass("has-error").addClass("form-control")
                            .after('<small class="help-block">El ejecutivo de destino no puede ser vacio.</small>')
                            .closest("div.form-group").addClass("has-error")
                        }

                        
                    }
                    

                    if ($("#slEjecutivOrigen_chosen").is(":visible"))
                    {
                        if ($("#slEjecutivOrigen").find(":selected").val() === "")
                        {
                            isValid = false;
                            $("#slEjecutivOrigen_chosen").addClass("has-error").addClass("form-control")
                            .after('<small class="help-block">El ejecutivo de origen no puede ser vacio.</small>')
                            .closest("div.form-group").addClass("has-error")
                        }
                        else
                        {
                            isValid = true;
                            $("#slEjecutivOrigen_chosen")
                            .removeClass("has-error").removeClass("form-control")
                            .closest("div.form-group").removeClass("has-error")
                            $('#slEjecutivOrigen_chosen').next('small').remove();
                        }
                    }


                    if (isValid === false) return false;
                }
            });


            // FORM VALIDATION
            // =================================================================
            // Require Bootstrap Validator
            // http://bootstrapvalidator.com/
            // =================================================================

            var isValid, esValidoMiau;
            $('#demo-bv-wz-form').bootstrapValidator({
                feedbackIcons: {
                    valid: 'fa fa-check-circle fa-lg text-success',
                    invalid: 'fa fa-times-circle fa-lg',
                    validating: 'fa fa-refresh'
                },
                fields: {
                    slTipoCamp: {
                        message: 'Tipo Campaña Invalida',
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar un tipo de campaña.'
                            }
                        }
                    },
                    slEjecutivOrigen: {
                        //excluded: false,
                        message: 'Ejecutivo Origen Invalido',
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar un Ejecutivo de Origen.'
                            }
                        }
                    },
                    slEjecutivDestino: {
                        //excluded: false,
                        message: 'Ejecutivo Destino Invalido',
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar un Ejecutivo de Destino.'
                            },
                            different: {
                                field: 'slEjecutivOrigen',
                                message: 'El ejecutivo de origen y destino no pueden ser el mismo'
                            }
                        }
                    },
                    nroCasosAsignar: {
                        message: 'Número Casos Asignar Invalido',
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar una cantidad de casos a asignar.'
                            },
                            greaterThan: {
                                value: 1,
                                message: 'Al menos debe Reasignar un Caso'
                            },
                            lessThan: {
                                value: function () { return $("#slEjecutivOrigen").find(":selected").data("asignaciones"); },
                                message: 'Los maximos casos que se pueden asignar son la cantidad de casos del ejecutivo Origen'
                            },
                            /*callback: {
                                message: 'La cantidad de Casos a finales no puede superar 500 casos',
                                callback: function (value, validator, $field) {
                                    var total = Number($("#nroCasosDestinoActual").val()) + Number(value)
                                    return total <= 500;
                                }
                            }*/
                        }
                    },
                }
            }).on('success.field.bv', function (e, data) {
                // $(e.target)  --> The field element
                // data.bv      --> The BootstrapValidator instance
                // data.field   --> The field name
                // data.element --> The field element

                var $parent = data.element.parents('.form-group');

                // Remove the has-success class
                $parent.removeClass('has-success');


                // Hide the success icon
                //$parent.find('.form-control-feedback[data-bv-icon-for="' + data.field + '"]').hide();
            }).on('error.form.bv', function (e) {
                isValid = false;
            });




            $("#slTipoCamp").on("change", function () {

                $.SecGetJSON(BASE_URL + "/motor/api/Gestion/listar-mi-oficina", { tipoCampania: $("#slTipoCamp").find(":selected").val() != "" ? $("#slTipoCamp").find(":selected").val() : 0 }, function (respuesta) {

                    $(".lista-ejecutivos").html("");
                    $(".lista-ejecutivos").append($("<option>").val(""));
                    $.each(respuesta, function (i, e) {
                        //Llenar los origenes solo que tengan cantidad > 0
                        if (e.CantidadAsignaciones > 0) {
                            $("#slEjecutivOrigen").append($("<option>").val(e.EjecutivoData.Rut).html(e.EjecutivoData.Rut + " " + e.EjecutivoData.Nombres).data({ "asignaciones": e.CantidadAsignaciones, "oficina": e.EjecutivoData.IdSucursal }));
                        }
                        //Llenar los destinos
                        $("#slEjecutivDestino").append($("<option>").val(e.EjecutivoData.Rut).html(e.EjecutivoData.Rut + " " + e.EjecutivoData.Nombres).data({ "asignaciones": e.CantidadAsignaciones, "oficina": e.EjecutivoData.IdSucursal }));

                    });

                    $(".lista-ejecutivos").trigger("chosen:updated");
                    
                });


            });

                            
            $('#demo-bv-wz').find('.finish').on("click", function () {

                bootbox.confirm("¿Está seguro de Traspasar las Asignaciones? ...esto no tiene vuelta a trás!", function (result) {
                    if (result) {

                        Pace.track(function () {
                            var WebReasignacion = {

                                ProcesoReasignacion: {
                                    RutEjecutivoOrigen: $("#slEjecutivOrigen").find(':selected').val(),
                                    RutEjecutivoDestino: $("#slEjecutivDestino").find(':selected').val(),
                                    TipoCampania: $("#slTipoCamp").find(':selected').val(),
                                    CantidadAsignaciones: $("#nroCasosAsignar").val(),
                                    CodOficina: getCookie("Oficina")
                                },
                                AuxLog: {
                                    OrigenAntes: $("#Resumen_EjecutivoOrigen_nroCasos_antes").val(),
                                    OrigenDespues: $("#Resumen_EjecutivoOrigen_nroCasos_despues").val(),
                                    DestinoAntes: $("#Resumen_EjecutivoDestino_nroCasos_antes").val(),
                                    DestinoDespues: $("#Resumen_EjecutivoDestino_nroCasos_despues").val(),
                                    TokenAgente: getCookie("Token")
                                }
                            }

                            $.SecPostJSON(BASE_URL + "/motor/api/Gestion/procesar-reasignacion", WebReasignacion, function (respuesta) {
                                if (respuesta.Estado === "OK") {
                                    
                                    $("#nameOrigen").html($("#slEjecutivOrigen").find(':selected').html())
                                    $("#nameDestino").html($("#slEjecutivDestino").find(':selected').html())
                                    $("#resumen_tipo_camp").html($("#slTipoCamp").find(':selected').html())
                                    $("#resumen_cantidad_asignaciones").html($("#nroCasosAsignar").val());
                                    $("#origenAntes").html(respuesta.Objeto.AuxLog.OrigenAntes);
                                    $("#origenDespues").html(respuesta.Objeto.AuxLog.OrigenDespues);
                                    $("#destinoAntes").html(respuesta.Objeto.AuxLog.DestinoAntes);
                                    $("#destinoDespues").html(respuesta.Objeto.AuxLog.DestinoDespues);


                                    $(".CharlyWizardContainer").hide();
                                    $("#CharlyFinallyContainer").show();

                                }
                            });
                        });

                    }
                });


            });


            $("#nroCasosAsignar").on("keyup", function () {
                $("#nroCasosFinales").val(Number($(this).val()) + Number($("#nroCasosDestinoActual").val()))
            })


            

            $("#slEjecutivOrigen").chosen().change(function () {
                $("#nroCasosOrigen").val($(this).find(":selected").data("asignaciones"))
                $("#nroCasosAsignar").val($(this).find(":selected").data("asignaciones"))


                if ($("#slEjecutivOrigen_chosen").is(":visible")) {
                    if ($("#slEjecutivOrigen").find(":selected").val() === "") {
                        $("#slEjecutivOrigen_chosen").addClass("has-error").addClass("form-control")
                        .after('<small class="help-block">El ejecutivo de origen no puede ser vacio.</small>')
                        .closest("div.form-group").addClass("has-error")
                    }
                    else
                    {
                        $("#slEjecutivOrigen_chosen")
                        .removeClass("has-error").removeClass("form-control")
                        .closest("div.form-group").removeClass("has-error")
                        $('#slEjecutivOrigen_chosen').next('small').remove();
                    }
                }


            });

            $("#slEjecutivDestino").chosen().change(function () {
                $("#nroCasosDestinoActual").val($(this).find(":selected").data("asignaciones"))
                $("#nroCasosFinales").val(Number($("#nroCasosAsignar").val()) + Number($("#nroCasosDestinoActual").val()))


                $("#slEjecutivDestino_chosen")
                        .removeClass("has-error").removeClass("form-control")
                        .closest("div.form-group").removeClass("has-error")
                $('#slEjecutivDestino_chosen').next('small').remove();

                if($("#slEjecutivOrigen").find(":selected").val() === $("#slEjecutivDestino").find(":selected").val())
                {
                    $("#slEjecutivDestino_chosen").addClass("has-error").addClass("form-control")
                        .after('<small class="help-block">El ejecutivo de origen y destino no pueden ser el mismo.</small>')
                        .closest("div.form-group").addClass("has-error")
                }
               
            });


            /*$("#slEjecutivDestino").on("change", function () {
                $("#nroCasosDestinoActual").val($(this).find(":selected").data("asignaciones"))
                $("#nroCasosFinales").val(Number($("#nroCasosAsignar").val()) + Number($("#nroCasosDestinoActual").val()))
            });
            
            $("#slEjecutivOrigen").on("change", function () {
                $("#nroCasosOrigen").val($(this).find(":selected").data("asignaciones"))
                $("#nroCasosAsignar").val($(this).find(":selected").data("asignaciones"))
            });*/

        });

    </script>
}
