

@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = null;
}

<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Actionable emails e.g. reset password</title>
<link href="~/Assets/plugins/transactional-email-templates/templates/styles.css" media="all" rel="stylesheet" type="text/css" />



<link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">


<!--Nifty Stylesheet [ REQUIRED ]-->
<link href="~/Assets/css/nifty.min.css" rel="stylesheet">


<!--Nifty Premium Icon [ DEMONSTRATION ]-->
<link href="~/Assets/css/demo/nifty-demo-icons.min.css" rel="stylesheet">


<!--Demo [ DEMONSTRATION ]-->
<link href="~/Assets/css/demo/nifty-demo.min.css" rel="stylesheet">






<script src="~/Assets/js.App/Conf.js?v=1"></script>
<script src="~/Assets/js/jquery.min.js"></script>
<script src="~/Assets/js/bootstrap.min.js"></script>
<script src="~/Assets/js/nifty.min.js"></script>
<script src="~/Assets/plugins/masked-input/jquery.maskedinput.min.js"></script>
<script src="~/Assets/js/jquery.rut.chileno.min.js"></script>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <div class="alert alert-danger" id="estadoEjeError" style="display:none">
                    <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
                    <strong>Problema!  </strong> Ejecutivo no registrado en dotación.
                </div>
                <div class="alert alert-primary" id="estadoEjeOK" style="display:none; font-size: 13px;">
                    <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
                    <strong>Enviando!  </strong> Su clave de acceso a la web ha sido enviada a su correo electrónico.
                </div>
                <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                    <tr>
                        <td class="content-wrap">
                            <meta itemprop="name" content="Confirm Email" />
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <img src="~/Assets/img/mail_motor.png" />
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block"></td>
                                </tr>
                                <tr>
                                    <td class="content-block" style="text-align: center;">
                                        <label class="col-sm-4 control-label" for="demo-is-inputsmall" style="padding-top: 7.5px;"><b>Ingrese su RUT.</b></label>
                                        <input type="text" class="form-control es-rut" id="rutEjec" required style="width: 200px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" style="text-align: center;">
                                        @*Please confirm your email address by clicking the link below.*@
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" style="text-align: center;">
                                        Su contraseña será enviada a su correo corporativo.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block aligncenter" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                                        <a href="#" class="btn-primary" itemprop="url" id="btEnvia">Enviar Contraseña</a>
                                        <br />

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block"><a href="#">© 2018 Información Analítica</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
</table>

<script>

    $.mask.definitions['~'] = '[1347]';
    $.mask.definitions['^'] = '[34]';
    $.mask.definitions['¬'] = '[0123456789Kk]';
    $('.demo-msk-date').mask('99/99/9999');
    $('.es-rut').mask('99.999.999-*');


    $('#btEnvia').on('click', function () {
        var rut = $('#rutEjec').val();

        $.getJSON(BASE_URL + "/motor/api/Contrasena/restablece-contrasena", { rutEjecutivo: rut }, function (respuesta) {
            if (respuesta.idEstadoMail === 1) {
                $('#estadoEjeError').css('display', 'none')
                $('#estadoEjeOK').css('display', 'block')
                setTimeout("location.href = '/motor/home/Acceso'", 3000);
            }
            else {

                $('#estadoEjeError').css('display', 'block')
            }
        });
    });

</script>
