
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sin Acceso</title>
</head>
<body>
    <div> 
        <h3>Usted no tiene acceso a esta Aplicación.</h3>
        <p>Si necesita acceder, debe generar un <a href="http://arapra1asp.laaraucana.local:8002/sap/bc/bsp/sap/crm_ui_start">Ticket Solman</a> con la solicitud.</p>
    </div>
</body>
</html>
