
@{

    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

<div id="page-content">
    <div id="contWapp">
        <div class="panel" style="border-radius: 7px;">
            <div class="panel-heading">
                <h3 class="panel-title">INGRESO DE DATOS</h3>
            </div>
            <div class="panel-body">
                <div id="msjIgn"></div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">RUT</label>
                            <input type="text" class="form-control" id="txtRutIng" maxlength="8">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label class="control-label">DV</label>
                            <input type="text" class="form-control" id="txtDvIng" maxlength="1">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">NOMBRE CONTACTO</label>
                            <input type="text" class="form-control" id="txtNomContIng">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">PUNTO ATENCION</label>
                            <input type="text" class="form-control" id="txtPuntotIng">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">ESTAMENTO</label>
                            <select class="form-control" id="txtEstamentotIng">
                                <option value="">Seleccione...</option>
                                <option value="Afiliado">AFILIADO</option>
                                <option value="Pensionado">PENSIONADO</option>
                                <option value="Representante Empresa">REPRESENTANTE EMPRESA</option>
                                <option value="Representante Trabajadores">REPRESENTANTE TRABAJADORES</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">N° CELUALR</label>
                            

                            <div class="input-group mar-btm">
                                <span class="input-group-btn">
                                    <button class="btn btn-mint" type="button" disabled style="background-color: #e8e4e4; border-color: #e8e4e4; color: #0e0d0d;">+56 9</button>
                                </span>
                                <input type="text" placeholder="Ej. 99887700" class="form-control" id="txtCelulartIng" maxlength="8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-success" type="submit" style="border-radius: 14px;" v-on:click="handleSubmitGuadarWapp">GUARDAR</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel" style="border-radius: 7px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">LISTA DISTRIBUCION Y FILTROS</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3 text-xs-center">
                                <div class="form-group">
                                    <label class="control-label">RUT</label>
                                    <input type="text" class="form-control" id="txtRutBuscar" maxlength="8">
                                </div>
                            </div>
                            <div class="col-sm-3 text-xs-center">
                                <div class="form-group">
                                    <label class="control-label">ESTAMENTO</label>
                                    <select class="form-control" id="slEstamentoWapp">
                                        <option value="">TODOS...</option>
                                        <option value="Afiliado">AFILIADO</option>
                                        <option value="Pensionado">PENSIONADO</option>
                                        <option value="Representante Empresa">REPRESENTANTE EMPRESA</option>
                                        <option value="Representante Trabajadores">REPRESENTANTE TRABAJADORES</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1 text-xs-center">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <button class="btn btn-primary btn-rounded" style="margin-top: 5px;" v-on:click="handleSubmitfiltroWapp">FILTRAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="panel-body">
                        <table data-toggle="table"
                               data-sort-name="id"
                               data-page-list="[]"
                               data-page-size="50"
                               data-search="false"
                               data-pagination="true" id="tblWapp" style="font-size: 12px">
                            <thead>
                                <tr>
                                    <th data-field="rut" data-sortable="true">RUT</th>
                                    <th data-field="dv" data-sortable="true">DV</th>
                                    <th data-field="nombreContacto" data-sortable="true">NOM. CONTACTO </th>
                                    <th data-field="puntoAtencion" data-sortable="true">PUNTO ATENCION </th>
                                    <th data-field="estamento" data-sortable="true">ESTAMENTO</th>
                                    <th data-field="nCelular" data-sortable="true">N° CELULAR</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section script{
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/locale/bootstrap-table-es-ES.min.js"></script>
    <script src="~/Assets/js.App/src/distribucion-wapp.js?g=@Guid.NewGuid().ToString()"></script>
}