@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}



<link href="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
<!--Bootstrap Select [ OPTIONAL ]-->
<link href="~/Assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<style type="text/css">
    #container .table th {
        font-size: 11px !important;
        background-color: dodgerblue;
        color: white;
    }
</style>

<div id="page-content">


    <div class="row">
        <div class="col-lg-12">


            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1" aria-expanded="true" id="tab_preaprobados" class="tab-principal">Resumen <span class="badge badge-purple" style="display:none;">15</span></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#demo-lft-tab-2" aria-expanded="false" id="tab_TrackingNormalizacion" class="tab-principal">Incentivo-Comisión<span class="badge badge-purple" style="display:none;">5</span></a>
                    </li>

                </ul>

                <!--Tabs Content-->
                <div class="tab-content">


                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        <div class="panel-body">
                         
                            <div>
                                <div>
                                    <div>
                                        <div class="panel-heading">
                                            <h1 class="panel-title">
                                                Resumen
                                            </h1>
                                        </div>
                                        <table class="table table-charlee table-responsive table-striped">
                                            <thead>
                                                <tr>

                                                
                                                    <th colspan="2" class="charlee-pintado">Cliente Historicamente sin Crédito</th>
                                                    <th colspan="2" class="charlee-pintado">Cliente sin Crédito Vigente</th>
                                                    <th colspan="2" class="charlee-pintado">Cliente con Crédito Vigente</th>
                                                    <th colspan="2" class="charlee-pintado">Totales Validos</th>
                                                    <th colspan="2" class="charlee-pintado">N° Operaciones</th>
                                                    <th colspan="2" class="charlee-pintado">Total Operaciones</th>


                                                </tr>
                                                <tr>
                                                   
                                                    <th class="charlee-pintado">N° Operaciones</th>
                                                    <th class="charlee-pintado">Monto</th>
                                                    <th class="charlee-pintado">N° Operaciones</th>
                                                    <th class="charlee-pintado">Monto</th>
                                                    <th class="charlee-pintado">N° Operaciones</th>
                                                    <th class="charlee-pintado">Monto</th>
                                                    <th class="charlee-pintado">N° Operaciones</th>
                                                    <th class="charlee-pintado">Monto</th>
                                                    <th class="charlee-pintado">N° Operaciones</th>
                                                    <th class="charlee-pintado">Monto Operación</th>
                                                    <th colspan="2" class="charlee-pintado">Total Operaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bdy_detalle_ejecutivo"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel-heading">
                                        <h1 class="panel-title">
                                            Pago
                                        </h1>
                                    </div>
                                    <div>

                                        <table class="table table-charlee table-responsive table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="charlee-pintado">N° Operaciones</th>
                                                    <th class="charlee-pintado">Monto Neto (M$)</th>
                                                    <th class="charlee-pintado">Incentivo po N° de operación</th>
                                                    <th class="charlee-pintado">Cliente Históricamente sin Crédito</th>
                                                    <th class="charlee-pintado">Cliente sin Crédito Vigente</th>
                                                    <th class="charlee-pintado">Cliente con Crédito Vigente</th>
                                                    <th class="charlee-pintado">N° Seguros Vendidos</th>
                                                    <th class="charlee-pintado">Incentivo por N° de Seguros</th>
                                                    <th class="charlee-pintado">Total Comisión</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bdy_detalle_comision_Ejecutivo"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <table id="demo-foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="15">
                                    <thead>
                                        <tr>
                                            <th data-toggle="true">Rut</th>
                                            <th>Nombre</th>
                                            <th data-hide="phone, tablet">Apellido</th>
                                            <th data-hide="phone, tablet">Monto Bruto</th>
                                            <th data-hide="phone, tablet">Monto Neto</th>
                                            <th data-hide="phone, tablet">Tipo Cliente</th>
                                            <th data-hide="phone, tablet">Tipo Cliente Campaña</th>

                                        </tr>
                                    </thead>
                                    <div class="pad-btm">
                                        <div class="row">

                                            <div class="col-sm-2 text-xs-center">
                                                <div class="form-group">
                                                    <label class="control-label">Periodo</label>
                                                    <select id="slPeriodo" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 text-xs-center">

                                            </div>
                                            <div class="col-sm-3 text-xs-center">

                                            </div>
                                            <div class="col-sm-1 text-xs-center">

                                            </div>


                                            <div class="col-sm-3 col-sm-offset-1 text-xs-center">
                                                <label class="control-label">Búsqueda</label>
                                                <div class="input-group mar-btm">
                                                    <input id="demo-foo-search" type="text" placeholder="Ej. 11.111.111-1" class="form-control" autocomplete="off">
                                                   
                                                </div>


                                            </div>




                                        </div>
                                    </div>
                                    <tbody id="bdy_datos"></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="9">
                                                <div class="text-right">
                                                    <ul class="pagination"></ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                               

                            </div>
                        </div>
                    </div>

                    <div id="demo-lft-tab-2" class="tab-pane fade">
                        <div class="panel-body">
                            <div>
                                <div class="panel-heading">
                                    <h1 class="panel-title">Incentivo</h1>
                                </div>
                                <div class="table-responsive" style="font-size: 11px;">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Desde</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Hasta</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">MM$25</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">MM$25 y MM$35</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">MM$35 y MM$50</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">MM$50 y MM$70</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">MM$70</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_incentivo"></tbody>
                                    </table>
                                </div>

                            </div>
                            <div>
                                <div class="panel-heading">
                                    <h1 class="panel-title">Comisión</h1>
                                </div>
                                <div class="table-responsive" style="font-size: 11px;">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Desde</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Hasta</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">% Cliente Historicamente sin Crédito</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">% Cliente sin Crédito Vigente</th>
                                                <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">% Cliente con Crédito Vigente</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_comisionesffvv"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>









    </div>



</div>





@section script{
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <script type="text/javascript">
        var CargadorFFVV = {
            CargaFFVVEjecutivo: function (p_periodo) {
                //Pre Aprobados
                $("#bdy_datos").html("");
                $.SecGetJSON(BASE_URL + "/motor/api/Informes/lista-ffvv-resumen", { periodo: p_periodo }, function (menus) {
                    $.each(menus, function (i, e) {
                        $("#bdy_datos")
                            .append(
                                $("<tr>")
                                    //.append($("<td>").append('<a href="/motor/App/Informes/DetalleEjecutivoTracking?RutEjecutivo=' + e.EjecAsign_Rut + '&Periodo=' + p_periodo + '" class="btn-link">' + e.EjecutivoNombre + '</a>')) //link
                                    //.append($("<td>").append(e.EjecutivoCargo).hide())
                                 .append($("<td>").append(e.rutAfiliado + '-' + e.dvAfiliado))
                                 .append($("<td>").append(e.nombreAfiliado))
                                 .append($("<td>").append(e.apellidoAfiliado))
                                 .append($("<td>").append(e.montoBruto.toMoney(0)))
                                 .append($("<td>").append(e.montoNetoReal.toMoney(0)))
                                 .append($("<td>").append(e.tipoCliente))
                                 .append($("<td>").append(e.tipoCamapana))



                            );
                    });
                    //////////////////////////////////////////////////////////////////////////////////
                    // Filtros
                    var filtering = $('#demo-foo-filtering');
                    filtering.footable().on('footable_filtering', function (e) {
                    });
                    $('#demo-foo-search').on('input', function (e) {
                        e.preventDefault();
                        if ($(this).val().length >= 5 || $(this).val().length == 0) {
                            filtering.trigger('footable_filter', { filter: $(this).val() });
                        }
                    });
                });

            },

        }

        var CargadorFFVVDetalle = {
            CargaFFVVEjecutivoDetalle: function (p_periodo) {
                //Pre Aprobados
                $("#bdy_detalle_ejecutivo").html("");
                $.SecGetJSON(BASE_URL + "/motor/api/Informes/lista-ffvv-comision-historico", { periodo: p_periodo }, function (menus) {
                    $.each(menus, function (i, e) {
                        $("#bdy_detalle_ejecutivo")
                            .append(
                                $("<tr>")
                                    //.append($("<td>").append('<a href="/motor/App/Informes/DetalleEjecutivoTracking?RutEjecutivo=' + e.EjecAsign_Rut + '&Periodo=' + p_periodo + '" class="btn-link">' + e.EjecutivoNombre + '</a>')) //link
                                    //.append($("<td>").append(e.EjecutivoCargo).hide())
                                 //.append($("<td>").append(e.rutEjecutivo))
                                 //.append($("<td>").append(e.nombreEjecutivo))
                                 .append($("<td>").append(e.opHistorico))
                                 .append($("<td>").append(e.mtoHistorico.toMoney(0)))
                                 .append($("<td>").append(e.opSinCredito))
                                 .append($("<td>").append(e.mtoSinCredito.toMoney(0)))
                                 .append($("<td>").append(e.opConCredito))
                                 .append($("<td>").append(e.mtoConCredito.toMoney(0)))
                                 .append($("<td>").append(e.totalOpValido))
                                 .append($("<td>").append(e.totalMtoValido.toMoney(0)))
                                 .append($("<td>").append(e.nOperacion.toMoney(0)))
                                 .append($("<td>").append(e.mtoNOperacion.toMoney(0)))
                                 .append($("<td>").append(e.totalOperacion.toMoney(0)))


                            );
                    });


                    //////////////////////////////////////////////////////////////////////////////////
                    // Filtros
                  
                });

            },
            CargaFFVVPagoComisiones: function (p_periodo) { //crear
                $("#bdy_detalle_comision_Ejecutivo").html("");
                $.SecGetJSON(BASE_URL + "/motor/api/Informes/lista-ffvv-pago-comision", { periodo: p_periodo }, function (pagocomision) {
                    $.each(pagocomision, function (i, e) {
                        $("#bdy_detalle_comision_Ejecutivo")
                            .append(
                                $("<tr>")
                                 .append($("<td>").append(e.totalOperacion.toMoney(0)))
                                 .append($("<td>").append(e.mtoNeto.toMoney(0)))
                                 .append($("<td>").append(e.incentivoNOperacion.toMoney(0)))
                                 .append($("<td>").append(e.cliHistorico.toMoney(0)))
                                 .append($("<td>").append(e.cliSinCredito.toMoney(0)))
                                 .append($("<td>").append(e.cliConCredito.toMoney(0)))
                                 .append($("<td>").append(e.nSegurosVendidos.toMoney(0)))
                                 .append($("<td>").append(e.incentivoNSeguros.toMoney(0)))
                                 .append($("<td>").append(e.totalComision.toMoney(0)))


                            );
                    });
                });

            },

            CargaFFVVIncentivo:function()
            {
                $("#bdy_incentivo").html("");
                $.SecGetJSON(BASE_URL + "/motor/api/Informes/listar-incentivo-ffvv", function (incentivo) {
                    $.each(incentivo, function (i, e) {
                        $("#bdy_incentivo")
                            .append(
                                $("<tr>")
                                    //.append($("<td>").append('<a href="/motor/App/Informes/DetalleEjecutivoTracking?RutEjecutivo=' + e.EjecAsign_Rut + '&Periodo=' + p_periodo + '" class="btn-link">' + e.EjecutivoNombre + '</a>')) //link
                                    //.append($("<td>").append(e.EjecutivoCargo).hide())
                                 .append($("<td align=center>").append(e.desde))
                                 .append($("<td align=center>").append(e.hasta))
                                 .append($("<td align=center>").append(e.MayorMM25.toMoney()))
                                 .append($("<td align=center>").append(e.M25_35MM.toMoney()))
                                 .append($("<td align=center>").append(e.M35_50MM.toMoney()))
                                 .append($("<td align=center>").append(e.M50_70MM.toMoney()))
                                 .append($("<td align=center>").append(e.M70.toMoney()))
                            );
                    });
                });

            },

            CargaFFVVComisiones:function()
            {
                $("#bdy_comisionesffvv").html("");
                $.SecGetJSON(BASE_URL + "/motor/api/Informes/listar-comisionesffvv", function (incentivo) {
                    $.each(incentivo, function (i, e) {
                        $("#bdy_comisionesffvv")
                            .append(
                                $("<tr>")
                                    //.append($("<td>").append('<a href="/motor/App/Informes/DetalleEjecutivoTracking?RutEjecutivo=' + e.EjecAsign_Rut + '&Periodo=' + p_periodo + '" class="btn-link">' + e.EjecutivoNombre + '</a>')) //link
                                    //.append($("<td>").append(e.EjecutivoCargo).hide())
                                 .append($("<td align=center>").append(e.desdeCo.toMoney()))
                                 .append($("<td align=center>").append(e.hastaCo))
                                 .append($("<td align=center>").append(e.PorcCliHistoSinCredito + '%'))
                                 .append($("<td align=center>").append(e.PorcCliSinCreditoVigente + '%'))
                                 .append($("<td align=center>").append(e.PorcCliConCreditoVigente + '%'))
                            );
                    });
                });
            }

        }



        $.SecGetJSON(BASE_URL + "/motor/api/Informes/listar-periodos-ffvv", function (datos) {

            $("#slPeriodo").html("");
            $.each(datos, function (i, periodo) {
                $("#slPeriodo").append($("<option>").val(periodo.Periodo).html(periodo.PeriodoText));
            });
            $("#slPeriodo").on("change", function () {
                CargadorFFVV.CargaFFVVEjecutivo($(this).val());
                CargadorFFVVDetalle.CargaFFVVEjecutivoDetalle($(this).val());
                CargadorFFVVDetalle.CargaFFVVPagoComisiones($(this).val());
                CargadorFFVVDetalle.CargaFFVVIncentivo();
                CargadorFFVVDetalle.CargaFFVVComisiones();
            });

            //Trigger para primera carga de preaprobaDOs
            $("#slPeriodo").trigger("change");
        });
    </script>
}