@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}


<link href="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
<!--Bootstrap Select [ OPTIONAL ]-->
<link href="~/Assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<style type="text/css">
    #container .table th {
        font-size: 11px !important;
    }
</style>
<div id="page-content">

    <div class="row">
        <div class="col-lg-12">

            <div class="tab-base">
                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1" aria-expanded="true" id="tab_preaprobados" class="tab-principal">Comercial<span class="badge badge-purple" style="display:none;">15</span></a>
                    </li>
                </ul>
                <!--Tabs Content-->
                <div class="tab-content">
                    <div class="panel-heading">
                        <h1 class="panel-title">Gestión <label style="font-weight:bold;" id="idNombreEjecutivo"></label></h1>
                    </div>
                   
                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="demo-weather-widget-lg" class="panel panel-info">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                           
                                            <div class="row pad-btm">
                                                <div class="col-md-4">
                                                    <p class="text-2x mar-no"><label style="font-weight:bold;" id="idPorcentajeGestionados"></label></p>
                                                    Gestión Campaña
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-md-10">
                                            <div class="list-unstyled text-center clearfix">
                                                <table class="table  table-condensed">
                                                    <thead>
                                                        <tr style="text-align:center">
                                                            <th style="text-align:center">Asignados</th>
                                                            <th style="text-align:center">Gestionados</th>
                                                            <th style="text-align:center">Contactados</th>
                                                            <th style="text-align:center">Presentados</th>
                                                            <th style="text-align:center">Aprobados</th>
                                                            <th style="text-align:center">Cursados</th>
                                                          @*  <th style="text-align:center">Monto Neto</th>*@
                                                            <th style="text-align:center">Monto Neto Promedio</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><label style="font-weight:bold;text-align:center" id="idTotalAsignados"></label></td>
                                                            <td><label style="font-weight:bold;text-align:center" id="idTotalGestionados"></label> - <label style="font-weight:bold;" id="idPorcentajeGestionados2"></label></td>
                                                            <td><label style="font-weight:bold;text-align:center" id="idTotalContactados"></label> - <label style="font-weight:bold;" id="idPorcentajeContactados"></label></td>
                                                            <td><label style="font-weight:bold;text-align:center" id="idTotalPresentados"></label> - <label style="font-weight:bold;" id="idPorcentajePresentados"></label></td>
                                                            <td><label style="font-weight:bold;text-align:center" id="idTotalAprobados"></label> - <label style="font-weight:bold;" id="idPorcentajeAprobados"></label></td>
                                                            <td><label style="font-weight:bold;text-align:center" id="idTotalCursados"></label> - <label style="font-weight:bold;" id="idPorcentajeCursados"></label></td>
                                                            @*<td><label style="font-weight:bold;text-align:center" id="idMontoNeto"></label></td>*@
                                                            <td><label style="font-weight:bold;text-align:center" id="idPromedioNeto"></label></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table id="demo-foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="30">
                                <thead>
                                    <tr>
                                        <th style="background-color:dodgerblue;color:white;">Rut</th>
                                        <th style="background-color:dodgerblue;color:white;">Nombre</th>
                                        <th style="background-color:dodgerblue;color:white;"data-hide="phone, tablet">Prioridad</th>
                                        @*<th data-hide="phone, tablet">Asignados</th>*@
                                        <th style="background-color:dodgerblue;color:white;"data-hide="phone, tablet">Gestionados</th>
                                        <th style="background-color:dodgerblue;color:white;"data-hide="phone, tablet">Contactados</th>
                                        <th style="background-color:dodgerblue;color:white;" data-hide="phone, tablet">Interesados</th>
                                        <th style="background-color:dodgerblue;color:white;"data-hide="phone, tablet">Presentados</th> 
                                        <th style="background-color:dodgerblue;color:white;"data-hide="phone, tablet">Aprobados</th> 
                                        <th style="background-color:dodgerblue;color:white;"data-hide="phone, tablet">Cursados</th> 
                                        <th style="background-color:dodgerblue;color:white;"data-hide="phone, tablet">Venta Neta</th>
                                         
                                    </tr>
                                </thead>
                                <div class="pad-btm">
                                    <div class="row">
                                        <div class="col-sm-2 text-xs-center">
                                            <label class="control-label">&nbsp;&nbsp;</label>
                                            <div class="form-group">
                                                <button type="button" id="btnvolver" class="btn btn-default btn-success-basic">Volver Atras</button>

                                             
                                            </div>
                                        </div>
                                        <div class="col-sm-1 text-xs-center">
                                            <div class="form-group">
                                                <label class="control-label">Prioridad</label>
                                                <select id="slPrioridad" class="form-control selectpicker">
                                                    <option value="">Todos</option>
                                                    <option data-content='<span class="badge badge-success">1<label style="display:none;">verde</label></span>'>1 verde</option>
                                                    <option data-content='<span class="badge badge-yelow">2<label style="display:none;">amarillo</label></span>'>2 amarillo</option>
                                                    <option data-content='<span class="badge badge-warning">3<label style="display:none;">naranjo</label></span>'>3 naranjo</option>
                                                    <option data-content='<span class="badge badge-danger">4<label style="display:none;">rojo</label></span>'>4 rojo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label">Gestion</label>
                                                <select id="slGestion" class="form-control selectpicker">
                                                    <option value="">Todos</option>
                                                    <option value="gestionado">Gestionados</option>
                                                    <option value="contactado">Contactados</option>
                                                    <option value="interesado">Interesados</option>
                                                    <option value="presentado">Presentados</option>
                                                    <option value="aprobado">Aprobados</option>
                                                    <option value="cursado">Cursados</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label">Búsqueda</label>
                                            <div class="input-group">
                                                <input id="demo-foo-search" type="text" placeholder="Ej. 11.111.111-1" class="form-control" autocomplete="off">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <tbody id="bdy_datos"></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="13">
                                            <div class="text-right">
                                                <ul class="pagination"></ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!--Large Bootstrap Modal-->
        <!--===================================================-->
        <div id="demo-lg-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                        <h4 class="modal-title" id="myLargeModalLabel">Gestión</h4>
                    </div>
                    <div class="modal-body">
                        <div class="tab-base" style="margin-bottom: 0px !important;">
                            <!--Nav Tabs-->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab-gestion-1" aria-expanded="true">Contacto</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab-gestion-2" aria-expanded="false">Historial de Gestión</a>
                                </li>
                                <li class="" style="display:none;">
                                    <a data-toggle="tab" href="#tab-gestion-3" aria-expanded="false">Créditos</a>
                                </li>
                            </ul>
                            <!--Tabs Content-->
                            <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                                <div id="tab-gestion-1" class="tab-pane fade active in">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label class="control-label">Rut</label>
                                                    <input class="form-control" id="afi_rut" type="text" value="17.024.783-1" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    <label class="control-label">Nombres</label>
                                                    <input class="form-control" id="afi_nombres" type="text" value="Carlos Antonio Pradenas Pérez" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Segmento</label>
                                                    <input class="form-control" id="afi_segmento" type="text" value="Privados" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Rut Empresa</label>
                                                    <input class="form-control" id="afi_empresa_rut" type="text" value="99.999.999-9" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Empresa</label>
                                                    <input class="form-control" type="text" id="afi_empresa_nombre" value="La Araucana C.C.A.F." readonly="readonly">
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group has-success">
                                                    <label class="control-label" id="morfeable_monto">Monto Pre Aprobado</label>
                                                    <div class="input-group mar-btm">
                                                        <span class="input-group-addon"><i class="demo-pli-wallet-2"></i></span>
                                                        <input class="form-control text-lg-right" id="afi_preaprobado" type="text" value="4.300.000" readonly="readonly">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Email</label>
                                                    <div class="input-group mar-btm">
                                                        <span class="input-group-addon"><i class="pli-mail-2"></i></span>
                                                        <input class="form-control" id="afi_email" type="email" value="carlpradenas@gmail.com" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Celular</label>
                                                    <div class="input-group mar-btm">
                                                        <span class="input-group-addon"><i class="pli-smartphone-3"></i></span>
                                                        <input class="form-control" id="afi_celular" type="text" value="+56945189023" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Telefono 1</label>
                                                    <div class="input-group mar-btm">
                                                        <span class="input-group-addon"><i class="pli-phone-2"></i></span>
                                                        <input class="form-control" id="afi_telefono1" type="text" value="+56221020301" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Telefono 2</label>
                                                    <div class="input-group mar-btm">
                                                        <span class="input-group-addon"><i class="pli-phone-2"></i></span>
                                                        <input class="form-control" id="afi_telefono2" type="text" value="+56221020302" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="tab-gestion-2" class="tab-pane fade">
                                    <div class="list-group" id="gestiones_realizadas">


                                    </div>
                                </div>
                                <div id="tab-gestion-3" class="tab-pane fade">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <h4 class="list-group-item-heading">Posee Crédito Social por $950.00</h4>
                                            <p class="list-group-item-text">4 cuotas de 60</p>
                                            <p class="list-group-item-text">Cada cuota es de $56.700</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal footer-->
                    <div class="modal-footer" id="mensahes-must">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--===================================================-->
        <!--End Large Bootstrap Modal-->
       

        <input type="hidden" id="PrincipalTabActivo" value="1" />
    </div>
</div>


@section script{
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <script type="text/javascript">

        var Cargador = {
            CargaTrakingSucursalDetalle: function (p_rut,p_periodo) {
                //Pre Aprobados
                $("#bdy_datos").html("");
                $.SecGetJSON(BASE_URL + "/motor/api/Informes/lista-traking-detalle", { RutEjecutivo: p_rut , Periodo: p_periodo}, function (menus) {

                    $.each(menus, function (i, e) {

                        $("#bdy_datos")
                            .append(
                                $("<tr>")

                                    //.append($("<td>").append(e.AfiliadoRut.toMoney(0) + '-' + e.AfiliadoDv))
                                    .append($("<td>").append('<a href="#" class="btn-link" data-target="#demo-lg-modal" data-toggle="modal" data-afiliado-rut="' + e.AfiliadoRut + '-' + e.AfiliadoDv + '" data-periodo= "' + p_periodo + '">' + e.AfiliadoRut.toMoney(0) + '-' + e.AfiliadoDv + '</a>'))
                                    .append($("<td>").append(e.AfiliadoNombre + ' ' + e.AfiliadoApellido))
                                    .append($("<td align=center>").append(e.Prioridad.toString().toEtiquetaPrioridad()))
          //                          .append($("<td align=center>").append(e.Asignados.toString().toEtiquetaAsignados()))
                                    .append($("<td align=center>").append(e.Gestionados.toString().toEtiquetaGestionados()))
                                    .append($("<td align=center>").append(e.Contactados.toString().toEtiquetaContactado()))
                                    .append($("<td align=center>").append(e.Interesados.toString().toEtiquetaInteresado())) //agregaretiqueta para filtro
                                    .append($("<td align=center>").append(e.Presentados.toString().toEtiquetaPresentado()))
                                    .append($("<td align=center>").append(e.Aprobados.toString().toEtiquetaAprobado()))
                                    .append($("<td align=center>").append(e.Cursados.toString().toEtiquetaCursado()))
                                    .append($("<td align=center>").append(e.VentaMontoNetoReal.toMoney(0)))
                                         


                            );
                    });




                    //////////////////////////////////////////////////////////////////////////////////
                    // Filtros
                    var filtering = $('#demo-foo-filtering');
                    filtering.footable().on('footable_filtering', function (e) {

                        var selectedX1 = $('#slPrioridad').find(':selected').html();
                        if (selectedX1 != "Todos") {
                            e.filter += (e.filter && e.filter.length > 0) ? ' ' + selectedX1 : selectedX1;
                        }
                        
                        var selectedX = $('#slGestion').find(':selected').val();
                        if (selectedX != "Todos") {
                            e.filter += (e.filter && e.filter.length > 0) ? ' ' + selectedX : selectedX;
                        }

                        e.clear = !e.filter;

                    });



                    $('#slPrioridad').change(function (e) {
                        e.preventDefault();
                        filtering.trigger('footable_filter', { filter: '' });
                    });

                    $('#slGestion').change(function (e) {
                        e.preventDefault();
                        filtering.trigger('footable_filter', { filter: '' });
                    });
                    $('#demo-foo-search').on('input', function (e) {
                        e.preventDefault();
                        if ($(this).val().length >= 5 || $(this).val().length == 0) {
                            filtering.trigger('footable_filter', { filter: $(this).val() });
                        }
                    });

                });
            },
            CargaTrakingEjecutivoTotal: function (p_rut,p_periodo) {
            $.SecGetJSON(BASE_URL + "/motor/api/Informes/lista-traking-totalEjecutivo", { RutEjecutivo: p_rut, Periodo: p_periodo }, function (menus) {
                //console.log(menus)

                $("#idTotalAsignados").html(menus.SumaAsignadosWidEjec.toMoney());
                $("#idTotalGestionados").text(menus.SumaGestionadosWidEjec);
                $("#idNombreEjecutivo").text(menus.nombreEjecutivo);
                $("#idFechaActualizacion").text(menus.ActualizacionEjec);
                $("#idPorcentajeGestionados").text((menus.SumaPorcentajeGestionadoWidEjec).toMoney(0) + '%');
                $("#idPorcentajeGestionados2").text((menus.SumaPorcentajeGestionadoWidEjec).toMoney(0) + '%');
                $("#idTotalContactados").text(menus.SumaContactadosWidEjec);
                $("#idPorcentajeContactados").text((menus.SumaPorcentajeContactadosWidEjec).toMoney(0) + '%');
                $("#idTotalPresentados").text(menus.SumaPresentadosWidEjec);
                $("#idPorcentajePresentados").text((menus.SumaPorcentajePresentadosWidEjec).toMoney(0) + '%');
                $("#idTotalAprobados").text(menus.SumaAprobadosWidEjec);
                $("#idPorcentajeAprobados").text((menus.SumaPorcentajeAprobadosWidEjec).toMoney(0) + '%');
                $("#idTotalCursados").text(menus.SumaCursadosWidEjec);
                $("#idPorcentajeCursados").text((menus.SumaPorcentajeCursadosWidEjec).toMoney(0) + '%');
                $("#idPromedioNeto").text(menus.MontoNetoPromWidEjec.toMoney());

                // <label id=""></label> - <label id=""></label>
                //.text(menus.SumaAsignadosWid);
            });
        },
        }
       
        //Evento de busqueda de cualquier gestión    
        //Data Modal

        $('#demo-lg-modal').on('show.bs.modal', function (event) {


            var link = $(event.relatedTarget); // Button that triggered the modal
            var RutAfiliado = link.data('afiliado-rut');
            var Periodo = link.data('periodo');
            if (typeof RutAfiliado != 'undefined') {

                var modal = $(this)
                $.SecGetJSON(BASE_URL + "/motor/api/Gestion/obtener-seguimiento", { periodo: Periodo, afiRut: RutAfiliado, tipoCampagna: 1 }, function (respuesta) {
                    //var SegData = respuesta.Objeto;
                    var afiData = respuesta.Objeto.Seguimiento;

                    modal.find('#afi_rut').val(afiData.Afiliado_Rut.toMoney(0) + '-' + afiData.Afiliado_Dv);
                    modal.find('#afi_nombres').val(afiData.Nombre + ' ' + afiData.Apellido);
                    modal.find('#afi_segmento').val(afiData.Segmento);
                    modal.find('#afi_empresa_nombre').val(afiData.Empresa);
                    modal.find('#afi_empresa_rut').val(parseInt(afiData.Empresa_Rut).toMoney(0) + '-' + afiData.Empresa_Dv);
                    modal.find('#afi_preaprobado').val('$' + afiData.PreAprobadoFinal.toMoney(0));
                    modal.find('#afi_email').val(afiData.Email);
                    modal.find('#afi_celular').val((afiData.Celular != '') ? '+' + afiData.Celular : '');
                    modal.find('#afi_telefono1').val((afiData.Telefono1 != '') ? '+' + afiData.Telefono1 : '');
                    modal.find('#afi_telefono2').val((afiData.Telefono2 != '') ? '+' + afiData.Telefono2 : '');


                    //Gestiones Realizadas
                    $("#gestiones_realizadas").html("");
                    $.each(respuesta.Objeto.HistorialGestion, function (i, e) {
                        $("#gestiones_realizadas").append($("<a>").attr("href", '#')
                             .append($("<h4>").addClass("list-group-item-heading").html("<strong>Gestor:</strong> " + e.Gestor.EjecutivoData.Nombres))
                             .append($("<p>").addClass("list-group-item-text").html("<strong>Fecha Gestión:</strong>" + e.GestionBase.FechaAccion.toFechaHora() + ", <strong>Fecha Prox. Gestión:</strong> " + e.GestionBase.FechaCompromete.toFecha()))
                             .append($("<p>").addClass("list-group-item-text").html("<strong>Estado:</strong> " + e.EstadoGestion.eges_nombre + ",  <strong>Sub Estado:</strong> " + e.SubEstadoGestion.eges_nombre))
                             .append($("<p>").addClass("list-group-item-text").html("<strong>Comentario:</strong> " + e.GestionBase.Descripcion))
                         );
                    });

                });
            }
        });
        Cargador.CargaTrakingSucursalDetalle(httpGet("RutEjecutivo"), httpGet("Periodo"))
        Cargador.CargaTrakingEjecutivoTotal(httpGet("RutEjecutivo"), httpGet("Periodo"))
       


        $("#btnvolver").click(function (event) {
            event.preventDefault();
            history.back(-1);
        });
    </script>


}