
@{
    ViewBag.Title = "SeguimientoGP";
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}

<div id="page-content">


    <div class="row">
        <div class="col-lg-12">


            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1" aria-expanded="true" id="tab_preaprobados">Seguimiento Grand Prix</a>
                    </li>

                </ul>

                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        <div class="panel-body">

                            <h4>Ya estamos en carrera</h4>
                            <p>    
                                En el archivo adjunto podrán ver el Ranking para cada uno de sus grupos. Lo relevante es  que en la hoja Resultado pueden ver los puntos acumulados por Concepto (Venta, Riesgo y Rentabilidad), y en la Hoja Trimestre pueden ver el detalle por cada una de las variables, y con ello descubrir donde tienen las oportunidades para lograr mejoras en el desempeño…, accionando en consecuencia y con ello mejorando el puntaje
                            </p>
                            

                            <br/>
                            <div>
                                <a class="btn btn-primary" href="~/Assets/data/" >Descargar</a>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
