
@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}

<!--Bootstrap Table [ OPTIONAL ]-->
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

<!--Magic Checkbox [ OPTIONAL ]-->
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

<style>
    .ocultus{
        display:none;
    }


    hr.delim {
        margin-top: 10px;
        margin-bottom: 1px;
        border: 0;
        border-top: 1px solid #eee;
    }
</style>
<!--Page content-->
<!--===================================================-->
<div id="page-content">


    <div class="row">
        <div class="col-lg-12">


            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1" aria-expanded="true" id="tab_" class="tab-principal">Nueva Fidelizacion Empresa</a>
                    </li>
                </ul>

                <!--Tabs Content-->
                <div class="tab-content">


                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form name="form-ingreso" action="#" method="post">
                                        
                                        <div class="row empresa-data">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Rut</label>
                                                    <input type="text" class="form-control" id="Rut" />
                                                </div>
                                            </div>

                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label class="control-label">Razón Social</label>
                                                    <input type="text" class="form-control inusable" id="RazonSocial" readonly="readonly" />
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">Holding</label>
                                                    <input type="text" class="form-control inusable" id="Holding" readonly="readonly" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row fidelizacion">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Áreas</label>

                                                    <div id="areas_fideliza">
                                                        


                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Ambitos de Acción</label>

                                                    <div id="ambitos_fideliza">
                                                        
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Estamento</label>
                                                    <select class="form-control esestamento" id="Estamento" name="Estamento">
                                                        <option value="">Seleccione</option>
                                                        <option value="1">Empresa</option>
                                                        <option value="2">Sindicato</option>
                                                        <option value="3">Empresa y Sindicato</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Actividad</label>
                                                    <select class="form-control" id="Actividad" name="Actividad">
                                                        <option value="">Seleccione</option>
                                                        <option value="1">Empresa</option>
                                                        <option value="2">Sindicato</option>
                                                        <option value="3">Empresa y Sindicato</option>
                                                    </select>
                                                </div>
                                            </div>

                                        
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Cobertura</label>
                                                    <input type="text" class="form-control" id="Cobertura" name="Cobertura" />
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre Representante Empresa</label>
                                                    <input type="text" class="form-control" id="Nombre" name="Nombre" />
                                                </div>
                                            </div>


                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Cargo</label>
                                                    <input type="text" class="form-control" id="Cargo" name="Cargo" />
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Fecha</label>
                                                    <div id="Calendario_Fecha_Fidelizacion">
                                                        <div class="input-group date">
                                                            <input type="text" class="form-control" id="Fecha_Fidelizacion" name="Fecha_Fidelizacion">
                                                            <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mar-btm enc-resultado-gestion form-inline">
                                            <h4>Resultado de Gestión</h4>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <select class="form-control" id="TipoRG" name="TipoRG">
                                                        <option value="">Seleccione Tipo Resultado</option>
                                                        <option value="1">Compromiso</option>
                                                        <option value="2">Comentario</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div id="resultado-gestion-compromiso" class="row mar-btm hidden">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label class="control-label">Compromiso</label>
                                                        <textarea class="form-control compromiso" id="ta_compromiso"></textarea>
                                                        <small>Máximo 100 caracteres</small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label class="control-label">Fecha</label>
                                                        <div id="Calendario_Fecha_Compromiso">
                                                            <div class="input-group date">
                                                                <input type="text" class="form-control fecha-compromiso" id="fecha_compromiso">
                                                                <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <button class="btn btn-primary bt-accion compromiso" data-edita="-1" type="button">Agregar Resultado Gestión</button>
                                                </div>
                                        </div>

                                        <div id="resultado-gestion-comentario" class="row mar-btm hidden">
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label class="control-label">Comentarios</label>
                                                    <textarea class="form-control comentario" id="ta_comentario"></textarea>
                                                    <small>Máximo 100 caracteres</small>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <button class="btn btn-primary bt-accion comentario" data-edita="-1" type="button">Agregar Resultado Gestión</button>
                                            </div>
                                            
                                        </div>
                                        <div class="row">

                                            <h4>Listado</h4>
                                        </div>
                                        <div id="resultado-gestion-listado" class="row mar-btm mar-lft">
                                           
                                        </div>

                                        <div class="row acciones">
                                            <hr />
                                            <a class="btn btn-primary" href="/motor/App/Empresas/">Volver</a>
                                            <button class="btn btn-success" type="button" disabled="disabled">Guardar</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>



</div>
<!--===================================================-->
<!--End page content-->

@section script{

   <script>
       var rs_GestionList = [];
       var herramientas = {
           actualizaVistaLista: function (rs_gstL) {
               
               $("#resultado-gestion-listado").html("");
               $.each(rs_gstL, function (i, o) {

                   var __container = $('<div>').addClass('media col-md-8 mar-btm').on({
                       mouseenter: function () {
                           //stuff to do on mouse enter
                           $(this).find(".media-buttons").toggle("slow");
                       },
                       mouseleave: function () {
                           //stuff to do on mouse leave
                           $(this).find(".media-buttons").toggle("slow");
                       }
                   });
                   var __media_body = $('<div>').addClass('media-body')
                                                .append($('<h5>').addClass('media-heading').text(o.tipo + " " + (o.fecha != null ? "(" + o.fecha + ")" : "")))
                                                .append(o.contenido)
                   var __media_buttons = $('<div>').addClass('media-buttons mar-top').css('display', 'none');
                   var __edit_button = $('<button>').addClass('btn btn-default btn-icon btn-circle editar').prop({ title: 'Editar', type: 'button' }).append($('<i>').addClass('ion-edit icon-sm')).on("click", function () {

                       var index = $(".editar").index(this);
                       var gest = rs_GestionList[index];

                       if (gest.tipo == "compromiso") {
                           $("#TipoRG").val("1");
                           $("#fecha_compromiso").val(gest.fecha);
                           $("#ta_compromiso").val(gest.contenido);
                       }
                       else if (gest.tipo == "comentario") {
                           $("#TipoRG").val("2");
                           $("#ta_comentario").val(gest.contenido);
                       }
                       else {
                           $("#TipoRG").val("");
                       }
                       $(".bt-accion").data("edita", index);
                       $("#TipoRG").trigger("change");


                   });

                   var __delete_button = $('<button>').addClass('btn btn-default btn-icon btn-circle eliminar').prop({ title: 'Eliminar', type: 'button' }).append($('<i>').addClass('ion-trash-a icon-sm')).on("click", function () {

                       var index = $(".eliminar").index(this);
                       rs_GestionList.splice(index, 1);
                       herramientas.actualizaVistaLista(rs_GestionList);

                   });

                   __media_buttons.append(__edit_button).append(__delete_button);
                   __container.append(__media_body).append(__media_buttons);
                   $("#resultado-gestion-listado").append(__container);
               });
           }
       }


       $(function () {
           

           $(".bt-accion").on("click", function () {

               const template = '<div class="media col-md-8 mar-btm"><div class="media-body"><h5 class="media-heading">{{tipo}} {{fecha}}</h5>{{contenido}}</div> <div class="media-buttons mar-top" style="display:none;"><button class="btn btn-default btn-icon btn-circle editar" title="Editar" type="button"><i class="ion-edit icon-sm"></i></button><button class="btn btn-default btn-icon btn-circle eliminar" title="Eliminar" type="button"><i class="ion-trash-a icon-sm"></i></button></div></div>';
               const indix = $(this).data("edita");

               if( $(this).hasClass("compromiso") )
               {
                   var ob_Inject = {
                       tipo: 'compromiso',
                       fecha: $("#fecha_compromiso").val(),
                       contenido: $("#ta_compromiso").val()
                   }
                   

                   if (indix > -1)
                   {
                       rs_GestionList[indix] = ob_Inject;
                   }
                   else
                   {
                       rs_GestionList.push(ob_Inject);
                   }
                   herramientas.actualizaVistaLista(rs_GestionList);

                   $("#fecha_compromiso").val("")
                   $("#ta_compromiso").val("")
                   $("#resultado-gestion-compromiso").hide();
                   
               }
               else if( $(this).hasClass("comentario") )
               {
                   var ob_Inject = {
                       tipo: 'comentario',
                       fecha: null,
                       contenido: $("#ta_comentario").val()
                   }
                   
                   
                   if (indix > -1) {
                       rs_GestionList[indix] = ob_Inject;
                   }
                   else {
                       rs_GestionList.push(ob_Inject);
                   }
                   herramientas.actualizaVistaLista(rs_GestionList);

                   $("#ta_comentario").val("")
                   $("#resultado-gestion-comentario").hide();
               }

               //Reseteo de Variables y Elementos
               $("#TipoRG").val("");
               $(".bt-accion").data("edita", -1);
               
               console.log(rs_GestionList);

           });



           $("#TipoRG").on("change", function () {

               if($(this).val() == 1)
               {
                   $("#resultado-gestion-compromiso").removeClass("hidden");
                   $("#resultado-gestion-compromiso").show();
                   $("#resultado-gestion-comentario").hide();
               }
               else if ($(this).val() == 2) {
                   $("#resultado-gestion-comentario").removeClass("hidden");
                   $("#resultado-gestion-compromiso").hide();
                   $("#resultado-gestion-comentario").show();
               }
               else {
                   $("#resultado-gestion-compromiso").hide();
                   $("#resultado-gestion-comentario").hide();
               }
           });

           $.SecGetJSON(BASE_URL + "/Motor/Assets/data/areas.json", function (respuesta) {
               $.each(respuesta, function (i, e) {
                   var dv_contenedor = $('<div>').addClass('checkbox');
                   var _lbl = $('<label>').prop({ for: 'area-fdlz-' + i }).text(e.nombre);
                   var _chk_box = $('<input>').addClass('magic-checkbox').prop({ type: 'checkbox', id: 'area-fdlz-' + i }).val(e.id).on("click", function () {
                       $that = $(this);
                       var _class_name = e.nombre;
                       var _cluster = $('<div>').addClass('cluster').addClass(_class_name).append($('<hr>').addClass('delim')).append($('<p>').addClass('text-main').text(_class_name));
                       //$("#ambitos_fideliza")
                       if ($that.is(":checked"))
                       {
                           $.SecGetJSON(BASE_URL + "/Motor/Assets/data/ambitos.json", function (respuesta) {
                               $.each(respuesta, function (ni, ne) {

                                   if (ne.padre == $that.val()) {
                                       var dv_sb_contenedor = $('<div>').addClass('checkbox');
                                       var _sb_lbl = $('<label>').prop({ for: 'ambito-fdlz-' + ni }).text(ne.nombre);
                                       var _sb_chk_box = $('<input>').addClass('magic-checkbox').prop({ type: 'checkbox', id: 'ambito-fdlz-' + ni }).val(ne.id);
                                       _cluster.append(dv_sb_contenedor.append(_sb_chk_box).append(_sb_lbl));
                                   }
                               });
                           });
                           $("#ambitos_fideliza").append(_cluster);
                       }
                       else
                       {
                           $('.' + _class_name).remove();
                       }
                   });
                   
                   $("#areas_fideliza").append(dv_contenedor.append(_chk_box).append(_lbl));
               });
           });


           $('#Calendario_Fecha_Fidelizacion .input-group.date').datepicker(
                { autoclose: true, format: 'dd-mm-yyyy', startDate: "0d", language: "es", daysOfWeekDisabled: [6, 0], todayHighlight: true }
            ).on('changeDate', function (e) {
                //$('#datos-gestion').bootstrapValidator('updateStatus', 'ges_prox_gestion', 'NOT_VALIDATED').bootstrapValidator('validateField', 'ges_prox_gestion');

                console.log(e)

            });

           $('#Calendario_Fecha_Compromiso .input-group.date').datepicker(
                { autoclose: true, format: 'dd-mm-yyyy', startDate: "0d", language: "es", daysOfWeekDisabled: [6, 0], todayHighlight: true }
            ).on('changeDate', function (e) {
                //$('#datos-gestion').bootstrapValidator('updateStatus', 'ges_prox_gestion', 'NOT_VALIDATED').bootstrapValidator('validateField', 'ges_prox_gestion');

                console.log(e)

            });

           


       });
   </script>
   



}

