
@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}

<!--Bootstrap Table [ OPTIONAL ]-->
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<!--Page content-->
<!--===================================================-->
<div id="page-content">


    <div class="row">
        <div class="col-lg-12">


            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1" aria-expanded="true" id="tab_" class="tab-principal">Mi Gestión Empresas</a>
                    </li>
                </ul>

                <!--Tabs Content-->
                <div class="tab-content">


                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="mar-btm">
                                        <a href="/motor/App/Empresas/Nuevo" class="btn btn-primary">
                                            <i class="ion-plus-circled"></i>
                                            Nuevo
                                        </a>

                                    </div>


                                    <table data-toggle="table"
                                           data-url="/Motor/Assets/data/empresas.json"
                                           data-sort-name="Rut"
                                           data-page-list="[15, 30]"
                                           data-page-size="15"
                                           data-pagination="true" data-show-pagination-switch="false">
                                        <thead>
                                            <tr>
                                                <th data-field="Rut" data-sortable="true">Rut</th>
                                                <th data-field="RazonSocial" data-sortable="true">Razon Social</th>
                                                <th data-field="Holding" data-sortable="true">Holding</th>
                                                <th data-field="Tipo" data-sortable="true">Tipo</th>
                                                <th data-field="FechaUltimaGestion" data-sortable="true">Fecha Última Gestión</th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>



</div>
<!--===================================================-->
<!--End page content-->

@section script{
    
<!--Bootstrap Table [ OPTIONAL ]-->
<script src="~/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>


    
 }

