
@{
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}



<link href="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
<link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
<!--Bootstrap Select [ OPTIONAL ]-->
<script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<!--Magic Checkbox [ OPTIONAL ]-->
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<script src="js/demo/nifty-demo.min.js"></script>

<style type="text/css">
    #container .table th {
        font-size: 11px !important;
        background-color: dodgerblue;
        color: white;
    }
</style>
<div id="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-empresa" aria-expanded="true" id="tab_empresa" class="tab-principal">Ficha Empresa <span class="badge badge-purple" style="display:none;">15</span></a>
                    </li>
                    @*<li class="">
                            <a data-toggle="tab" href="#demo-lft-tab-2" aria-expanded="false" id="tab_TrackingNormalizacion" class="tab-principal">Incentivo-Comisión<span class="badge badge-purple" style="display:none;">5</span></a>
                        </li>*@

                </ul>
                <div class="tab-content">

                    <div id="tab-empresa" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="row">
                                <button type="button" id="btnvolver" class="btn btn-default btn-success-basic">Volver Atras</button>
                            </div>
                             <form id="FichaEmpresa">
                               
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Fecha Gestión</label>
                                            <div>
                                                <label class="control-label" id="id_fechaIngreso" name="fechaIngreso">27-07-2017</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Rut Empresa</label>
                                            <input class="form-control" id="emp_rut_FREE" type="text" name="rutEmpresaIngreso" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Empresa</label>
                                            <input class="form-control" type="text" id="emp_nombre_FREE" name="nombreEmpresaIngreso" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Sucursal</label>
                                            <input class="form-control" id="emp_sucursal_FREE" type="text" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Estamento</label>
                                            @*<input class="form-control" id="emp_estamento_FREE" type="text" placeholder="Ingrese Estamento" name="EstamentoIngreso">*@
                                            <select id="sslEstamentoIngreso" class="form-control" name="sslEstamentoIngreso">
                                                <option value="Empresas">Empresas</option>
                                                <option value="Sindicato">Sindicato</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="divHolding" style="display:none;">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Nombre Local Holding</label>
                                            <input class="form-control" id="nombre_sucursal" type="text" name="NombreSucursal">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Dirección Local Holding</label>
                                            <input class="form-control" id="direccion" type="text" name="DireccionSucursal">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Nombre Funcionario</label>
                                            <input class="form-control" id="emp_Nombrefuncionario_FREE" type="text" name="FuncionarioIngreso">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Cargo Funcionario</label>
                                            <input class="form-control" type="text" id="emp_CargoFuncionario_FREE" name="CargoIngreso">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">N° Contacto</label>
                                            <input class="form-control" id="n_contacto" type="text" name="ncontacto">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">e-Mail</label>
                                            <input class="form-control" type="text" id="mail_ingreso" name="MailIngreso">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">N° de Empleados</label>
                                            <input class="form-control" id="emp_numEmpleados_FREE" type="text" placeholder="Ingresar N° Empleados" name="NEmpleadosIngreso">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Funcionario Caja</label>
                                            <input class="form-control" type="text" id="emp_funcionarioCaja_FREE" placeholder="Ingresar Funcionario" name="pub" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row" id="dv_anexo" style="display:none;">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Anexo Empresa</label>
                                            <input class="form-control" id="anexo" type="text" name="anexo">
                                        </div>
                                    </div>
                                </div>*@

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input class="form-control" id="cod_sucursal" type="text" name="cod_sucursal" style="display:none;">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div>
                                    <label style="text-align:center;font-weight: bold" class="control-label">Después de conversar con el representante de la empresa (RRHH, Gerente, Dueño, Dirigente, etc.) responde las siguientes interrogantes</label>
                                </div>
                                <div></div>
                                    <h1 style="text-align:center">Objetivos</h1>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">1- Relaciones Personales</label>
                                            <br />
                                            <label style="text-align:center;font-weight: bold;" class="control-label">¿Cómo evaluarias las relaciones personales con la persona que sostuviste la reunión?</label>
                                        </div>
                                        <br />
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select id="sslOption1" class="form-control" name="sslOPtion1">
                                                    <option value="">Seleccione</option>
                                                    <option value="Excelente">Excelente</option>
                                                    <option value="Muy Buenas">Muy Buenas</option>
                                                    <option value="Normal">Normal</option>
                                                    <option value="Deficiente">Deficiente</option>
                                                    <option value="Mala">Mala</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="Explique brevemente su respuesta" rows="5" class="form-control" id="text_1" name="textObs1"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>

                                    </div>
                                    <hr />

                                    @*pregunta 2*@
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="col-sm-8">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">2- Verificar antecedentes de empleabilidad</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">¿La empresa tiene definida una persona para evaluar datos de la empleabilidad al momento de otorgar crédito?</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>

                                                    <label for="radio1_si" class="radio-inline">
                                                        <input id="radio1_si" class="pregunta2" type="radio" name="respuesta1" value="1">
                                                        Si
                                                    </label>


                                                    <label for="radio1_no" class="radio-inline">
                                                        <input id="radio1_no" class="pregunta2" type="radio" name="respuesta1" value="0">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="p2rsi" style="display:none;">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">En caso de SI, ¿como evaluarias la relación con la contraparte?</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <select id="sslOption2" class="form-control" name="sslOption2">
                                                        <option value="">Seleccione</option>
                                                        <option value="Excelente">Excelente</option>
                                                        <option value="Muy Buenas">Muy Buenas</option>
                                                        <option value="Normal">Normal</option>
                                                        <option value="Deficiente">Deficiente</option>
                                                        <option value="Mala">Mala</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea placeholder="Explique brevemente su respuesta y datos de la persona" rows="5" class="form-control" id="text-2Obs" name="textObs2"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="p2rno" style="display:none;">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-5">
                                                    <label style="text-align:center;font-weight: bold;" class="control-label">En caso de NO, ¿lograste obtener nombre y datos de contactabilidad de la contraparte necesaria?</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div>
                                                        <label class="radio-inline" for="radio_si_2"><input id="radio_si_2" class="radio2" type="radio" name="respuesta2" value="1"> Si</label>
                                                        <label class="radio-inline" for="radio_no_2"><input id="radio_no_2" class="radio2" type="radio" name="respuesta2" value="0"> No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="row radio2si" style="display:none;">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea placeholder="En caso de SI, indique nombre, telefono contacto, mail, cargo, etc." rows="5" class="form-control" id="text_2_1" name="textObs2_1"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row radio2no" style="display:none;">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea placeholder="¿Sirve solo un contacto para ver temas de créditos, beneficios, licencias médicas, cargas familiares, etc? En caso de NO, agregue antecedentes de otro contacto, en caso de SI, omite este llenado. " rows="5" class="form-control" id="text_2_2" name="textObs2_2"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row radio2no" style="display:none;">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea placeholder="En caso de NO, explique porque no logró un interlocutor válido para contactar" rows="5" class="form-control" id="text_2_3" name="textObs2_3"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <hr />
                                    @*pregunta 3 *@
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">3- Aspectos actuales o futuros de la empresa</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">¿Existen cambios que afectarán la empleabilidad de los afiliados, como desvinculaciones, pérdidas de licitaciones o proyectos?</label>
                                            </div>
                                            <div class="col-sm-3">

                                                <div>

                                                    <label class="radio-inline" for="radio_si_3"><input id="radio_si_3" class="radio3" type="radio" name="respuesta3" value="1"> Si</label>

                                                    <label class="radio-inline" for="radio_no_3"><input id="radio_no_3" class="radio3" type="radio" name="respuesta3" value="0"> No</label>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row radio3si" style="display:none;">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="En caso de SI, explique impactos en contratos, rentas variables, dotación, sector geográfico, etc." rows="5" class="form-control" id="text_3" name="textObs3"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @*pregunta 4*@
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">4- Actualización de base de datos (BDD) para contactar a nuestros afiliados</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">¿Tenemos la BDD actualizada para contactar a nuestros afiliados y ofrecer campañas, productos, beneficios, créditos, etc.?</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>
                                                    <label class="radio-inline" for="radio_si_4"><input id="radio_si_4" class="radio4" type="radio" name="respuesta4" value="1"> Si</label>
                                                    <label class="radio-inline" for="radio_no_4"><input id="radio_no_4" class="radio4" type="radio" name="respuesta4" value="0"> No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="radio4no" style="display:none;">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-5">
                                                    <label style="text-align:center;font-weight: bold;" class="control-label">En caso de NO, ¿Podemos conseguirla?</label>
                                                </div>
                                                <div class="col-sm-3">

                                                    <div>
                                                        <label class="radio-inline" for="radio_si_4_1"><input id="radio_si_4_1" class="radio4_1" type="radio" name="respuesta4_1" value="1"> Si</label>

                                                        <label class="radio-inline" for="radio_no_4_1"><input id="radio_no_4_1" class="radio4_1" type="radio" name="respuesta4_1" value="0"> No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row radio4_1si" style="display:none;">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea placeholder="En caso de SI, explique bremente como llegará la BDD, cuando, en que formato, restriccines de su uso, etc." rows="5" class="form-control" id="text_4" name="textObs4"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row radio4_1no" style="display:none;">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea placeholder="En caso de NO, explique porque." rows="5" class="form-control" id="text_4_1" name="textObs4_1"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @*pregunta 5*@
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">5- Formalizar canal de ventas de créditos.</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">¿Logramos protocolizar la visita del vendedor de créditos en la empresa?</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>
                                                    <label class="radio-inline" for="radio_si_5"><input id="radio_si_5" class="radio5" type="radio" name="respuesta5" value="1"> Si</label>
                                                    <label class="radio-inline" for="radio_no_5"><input id="radio_no_5" class="radio5" type="radio" name="respuesta5" value="0"> No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row radio5si" style="display:none;">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="En caso de SI, indique los dias, lugares y horarios de atención." rows="5" class="form-control" id="text_5" name="textObs5"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row radio5no" style="display:none;">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="En caso de NO, explique porque." rows="5" class="form-control" id="text_5_1" name="textObs5_1"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @*pregunta 6*@
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">6- Uso de canales de comunicación</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">¿Podemos utilizar los canales internos de la empresa para difundir beneficios, creditos, campañas, etc.?</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>
                                                    <label class="radio-inline" for="radio_si_6"><input id="radio_si_6" class="radio6 " type="radio" name="respuesta6" value="1"> Si</label>
                                                    <label class="radio-inline" for="radio_no_6"><input id="radio_no_6" class="radio6" type="radio" name="respuesta6" value="0"> No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row radio6si" style="display:none;">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="En caso de SI, indique cuales son los canales y nombre y datos de contactos para coordinar su utilización" rows="5" class="form-control" id="text_6" name="textObs6"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row radio6no" style="display:none;">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="En caso de NO, explique porque." rows="5" class="form-control" id="text_6_1" name="textObs6_1"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @*pregunta 7*@
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">7- Relación de la empresa con la Caja</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">¿Existe algun tema(s) en particular donde la empresa sienta que existen problemas de relacionamiento?</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>
                                                    <label class="radio-inline" for="radio_si_7"><input id="radio_si_7" class="radio7" type="radio" name="respuesta7" value="1"> Si</label>
                                                    <label class="radio-inline" for="radio_no_7"><input id="radio_no_7" class="radio7" type="radio" name="respuesta7" value="0"> No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row radio7si" style="display:none;">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="En caso de SI, indique cuales." rows="5" class="form-control" id="text_7" name="textObs7"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @*pregunta 8*@
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">8- Oportunidades de mejoras</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">Según reunión sostenida con la empresa, ¿Cuales son los aspectos rescatados de mejoras?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select id="sslOption8" class="form-control" name="sslOption8">
                                                    <option value="Crédito">Crédito</option>
                                                    <option value="SIL">SIL</option>
                                                    <option value="ASFAM">ASFAM</option>
                                                    <option value="Benef">Benef</option>
                                                    <option value="5">Cobranza</option>
                                                    <option value="Cobranza">Campaña</option>
                                                    <option value="Programa">Programa</option>
                                                    <option value="Otro">Otro</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="En caso de SI, indique cuales son las oportunidades de mejoras que percibes" rows="5" class="form-control" id="text_8" name="textObs8"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @*pregunta 9*@
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">9- Temas relacionados al riesgo</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">¿Tenemos aspectos relacionados a morosidad pendientes por aclarar?</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>
                                                    <label class="radio-inline" for="radio_si_9"><input id="radio_si_9" class="radio9" type="radio" name="respuesta9" value="1"> Si</label>
                                                    <label class="radio-inline" for="radio_no_9"><input id="radio_no_9" class="radio9" type="radio" name="respuesta9" value="0"> No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="radio9si" style="display:none;">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-5">
                                                    <label style="text-align:center;font-weight: bold;" class="control-label">En caso de SI, ¿tenemos la complicidad y apoyo de la empresa para lograr su pronta solución?</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div>
                                                        <label class="radio-inline" for="radio_si_9_1"><input id="radio_si_9_1" class="radio9_1" type="radio" name="respuesta9_1" value="1"> Si</label>
                                                        <label class="radio-inline" for="radio_no_9_1"><input id="radio_no_9_1" class="radio9_1" type="radio" name="respuesta9_1" value="0"> No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row radio9_1no" style="display:none;">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea placeholder="En caso de NO, indique porque." rows="5" class="form-control" id="text_9" name="textObs9"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @*pregunta 10*@
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">10- Situación Caja</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label style="text-align:center;font-weight: bold;" class="control-label">¿Realizan consulta respecto de la situación actual de la Caja?</label>
                                            </div>
                                            <div class="col-sm-3">

                                                <div>
                                                    <label class="radio-inline" for="radio_si_10"><input id="radio_si_10" class="radio10" type="radio" name="respuesta10" value="1"> Si</label>
                                                    <label class="radio-inline" for="radio_no_10"><input id="radio_no_10" class="radio10" type="radio" name="respuesta10" value="0"> No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="radio10si" style="display:none;">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-5">
                                                    <label style="text-align:center;font-weight: bold;" class="control-label">En caso de SI, habiendo respondido en función del script adjunto, ¿quedaron consultas o dudas por aclarar?</label>
                                                </div>
                                                <div class="col-sm-3">

                                                    <div>
                                                        <label class="radio-inline" for="radio_si_10_1"><input id="radio_si_10_1" class="radio10_1" type="radio" name="respuesta10_1" value="1"> Si</label>
                                                        <label class="radio-inline" for="radio_no_10_1"><input id="radio_no_10_1" class="radio10_1" type="radio" name="respuesta10_1" value="0"> No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row radio10_1si" style="display:none;">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea placeholder="En caso de SI, indique cuales." rows="5" class="form-control" id="text_10" name="textObs10"></textarea>
                                                <small>Máximo 500 caracteres.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @*pregunta 11*@
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">11- Relación Empresa y Caja</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label style="text-align:center;font-weight: bold;" class="control-label">¿Cómo definirias la relación entre la empresa y La Araucana?</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select id="sslOption11" class="form-control" name="sslOption11">
                                                    <option value="">Seleccione</option>
                                                    <option value="Excelente">Excelente</option>
                                                    <option value="Muy Buenas">Muy Buenas</option>
                                                    <option value="Normal">Normal</option>
                                                    <option value="Deficiente">Deficiente</option>
                                                    <option value="Mala">Mala</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea placeholder="Explique porque." rows="5" class="form-control" id="text_11" name="textObs11"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <div class="row">

                                        <div class="panel-footer text-right">
                                            <button class="btn btn-primary" type="button" id="btn_guardar">Guardar</button>
                                        <button class="btn btn-success" type="submit" id="btn_enviar">Finalizar</button>
                                        </div>
                                    </div>

                                    <div class="row charlyNTF" style="display:none;">
                                        <div class="col-sm-12 charlyNTFContainer">

                                        </div>
                                    </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section script{

    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script>

        var CargadorEncabezado = {
            CargaEncabezadoTotal: function (p_periodo, p_rutempresa, p_id, p_isHolding) {

                //Pre Aprobados
                $.SecGetJSON(BASE_URL + "/motor/api/Gestion/lista-ficha-empresa-encabezado", { Periodo: p_periodo, RutEmpresa: p_rutempresa, Id: p_id }, function (menus) {


                    $("#emp_rut_FREE").val(menus.EmpresaRut + '-' + menus.EmpresaDV);
                    $("#emp_nombre_FREE").val(menus.EmpresaNombre);
                    $("#emp_sucursal_FREE").val(menus.EmpresaSucursal);
                    $("#emp_funcionarioCaja_FREE").val(getCookie("Usuario"));
                        if (p_isHolding === "1") {
                            $("#divHolding").show();
                        }
                    if (menus.idFicha > 0) {
                    $("#sslEstamentoIngreso").val(menus.Estamento)
                    $("#emp_Nombrefuncionario_FREE").val(menus.FuncionarioEmple);
                    $("#emp_CargoFuncionario_FREE").val(menus.FuncionarioCargo);
                    $("#n_contacto").val(menus.Num_Contacto);
                    $("#mail_ingreso").val(menus.Email);
                    $("#nombre_sucursal").val(menus.NombreSucursal);
                    $("#direccion").val(menus.DireccionSucursal);
                    $("#emp_numEmpleados_FREE").val(menus.NumeroEmpleados);
                    $("#emp_funcionarioCaja_FREE").val(menus.FuncionarioCaja);
                    $("#sslOption1").val(menus.pregunta_1)
                    $("#text_1").val(menus.pregunta_obs);
                    $(".pregunta2[value=" + menus.pregunta2_radio + "]").prop("checked", true)
                    $("#sslOption2").val(menus.pregunta2_combo);
                    $("#text-2Obs").val(menus.pregunta2_obs2);
                    $(".radio2[value=" + menus.pregunta2_radio_1 + "]").prop("checked", true)
                    $("#text_2_1").val(menus.pregunta2_obs3);
                    $("#text_2_2").val(menus.pregunta2_obs4);
                    $("#text_2_3").val(menus.pregunta2_obs5);
                    $(".radio3[value=" + menus.pregunta3_radio + "]").prop("checked", true)
                    $("#text_3").val(menus.pregunta3_obs);
                    $(".radio4[value=" + menus.pregunta4_radio + "]").prop("checked", true)
                    $(".radio4_1[value=" + menus.pregunta4_radio_2 + "]").prop("checked", true)
                    $("#text_4").val(menus.pregunta4_obs_1);
                    $("#text_4_1").val(menus.pregunta4_obs_2);
                    $(".radio5[value=" + menus.pregunta5_radio + "]").prop("checked", true)
                    $("#text_5").val(menus.pregunta5_obs);
                    $("#text_5_1").val(menus.pregunta5_obs_1);
                    $(".radio6[value=" + menus.pregunta6_radio + "]").prop("checked", true)
                    $("#text_6").val(menus.pregunta6_obs_1);
                    $("#text_6_1").val(menus.pregunta6_obs_2);
                    $(".radio7[value=" + menus.pregunta7_radio + "]").prop("checked", true)
                    $("#text_7").val(menus.pregunta7_obs_1);
                    $("#sslOption8").val(menus.pregunta8_combo);
                    $("#text_8").val(menus.pregunta8_obs_1);
                    $(".radio9[value=" + menus.pregunta9_radio + "]").prop("checked", true)
                    $(".radio9_1[value=" + menus.pregunta9_radio_1 + "]").prop("checked", true)
                    $("#text_9").val(menus.pregunta9_obs_1);
                    $(".radio10[value=" + menus.pregunta10_radio + "]").prop("checked", true)
                    $(".radio10_1[value=" + menus.pregunta10_radio_1 + "]").prop("checked", true)
                    $("#textObs10").val(menus.pregunta10_obs);
                    $("#sslOption11").val(menus.pregunta11_combo);
                    $("#text_11").val(menus.pregunta11_obs_1);
                   // $("#anexo").val(menus.Anexo);
                    $("input[type='radio']:checked").trigger("click");



                        if (menus.Estado === "Enviado")
                        {
                            $("input, textarea, select, button").prop({"disabled": "disabled"})
                        }
                    }

                    

                    


                });

            },


        }


        $(document).ready(function () {
            //Cargas iniciales

            CargadorEncabezado.CargaEncabezadoTotal(httpGet("Periodo"), httpGet("RutEmpresa"), httpGet("Id"), httpGet("isHolding"))

            //Eventos
            $("#btn_guardar").on("click", function () {



                var x = $("#FichaEmpresa").serialize();
                x = x + "&Estado=Guardado&idFicha=" + httpGet("Id")


                $.SecPostJSON(BASE_URL + "/motor/api/Gestion/guardar-ficha-empresa", x, function (respuesta) {

                    if (respuesta.Estado === "OK") {
                        $.niftyNoty({
                            type: 'success',
                            container: 'floating',
                            html: '<strong>OK</strong> ' + respuesta.Mensaje,
                            focus: false,
                            timer: 3000,
                            onHidden: function () {
                                //history.back(-1);
                                location.href = "/motor/App/Gestion/Empresas"
                            }
                        });

                        
                    } else {
                        $.niftyNoty({
                            type: 'danger',
                            container: 'floating',
                            html: '<strong>Error</strong> ' + respuesta.Mensaje,
                            focus: false,
                            timer: 3000
                        });
                    }
                });

            })


            $('#FichaEmpresa').bootstrapValidator({
                excluded: [':disabled', ':not(:visible)'],
                fields: {
                    sslEstamentoIngreso: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar un Estamento'
                            }
                        }
                    },

                    //anexo: {
                    //    validators: {
                    //        notEmpty: {
                    //            message: 'Debe ingresar un anexo'
                    //        }
                    //    }
                    //},
                    FuncionarioIngreso: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un funcionario'
                            }
                        }
                    },
                    ncontacto: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un n° de contacto'
                            }
                        }
                    },
                    MailIngreso: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un E-Mail'
                            }
                        }
                    },
                    NombreSucursal: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar nombre sucursal'
                            }
                        }
                    },
                    DireccionSucursal: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar dirección'
                            }
                        }
                    },
                    
////////

                    CargoIngreso: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar un estado'
                            }
                        }
                    },
                    NEmpleadosIngreso: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un cargo'
                            }
                        }
                    },
                    pub: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar valor'
                            }
                        }
                    },
                    respuesta1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta2: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta3: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta4: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta4_1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta5: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta6: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta7: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta9: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta9_1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta10: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    respuesta10_1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },

                    sslOPtion1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    sslOption2: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    sslOption8: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },
                    sslOption11: {
                        validators: {
                            notEmpty: {
                                message: 'Debe seleccionar una opción'
                            }
                        }
                    },


                    textObs1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },

                    textObs2: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },

                    textObs2_1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs2_2: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs2_3: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs3: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs4: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs4_1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs5: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs5_1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs6: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs6_1: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs7: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs8: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs9: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs10: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                    textObs11: {
                        validators: {
                            notEmpty: {
                                message: 'Debe agregar algún comentario'
                            },
                            stringLength: {
                                message: 'No pueden ser mas de 500 caracteres',
                                max: function (value, validator, $field) {
                                    return 500 - (value.match(/\r/g) || []).length;
                                }
                            }
                        }
                    },
                }
            }).on('success.form.bv', function (e) {
                // Prevén que se mande el formulario
                e.preventDefault();
                var $form = $(e.target);
                var postForm = $("#FichaEmpresa").serialize();
                postForm = postForm + "&Estado=Enviado&idFicha=" + httpGet("Id")
                $.SecPostJSON(BASE_URL + "/motor/api/Gestion/guardar-ficha-empresa", postForm, function (respuesta) {

                    if (respuesta.Estado === "OK") {
                        $.niftyNoty({
                            type: 'success',
                            container: 'floating',
                            html: '<strong>OK</strong> ' + respuesta.Mensaje,
                            focus: false,
                            timer: 3000
                        });

                    } else {
                        $.niftyNoty({
                            type: 'danger',
                            container: 'floating',
                            html: '<strong>Error</strong> ' + respuesta.Mensaje,
                            focus: false,
                            timer: 3000,
                            onHidden: function () {
                                //history.back(-1);
                                location.href = "/motor/App/Gestion/Empresas"
                            }
                        });
                    }
                });
            });


            $("#FichaEmpresa").on("submit", function () {
                console.log($("#FichaEmpresa").serialize())

                return false

            });

            $(".pregunta2").on("click", function () {
                if ($(this).val() === "1") {
                    $(".p2rno").hide();
                    $(".p2rsi").show();
                } else {
                    $(".p2rno").show();
                    $(".p2rsi").hide();
                }
            });

            $(".radio2").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio2no").hide();
                    $(".radio2si").show();
                } else {
                    $(".radio2no").show();
                    $(".radio2si").hide();
                }
            })

            $(".radio3").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio3si").show();
                } else {
                    $(".radio3si").hide();
                }
            })

            $(".radio4").on("click", function () {

                if ($(this).val() === "0") {
                    $(".radio4no").show();
                } else {
                    $(".radio4no").hide();
                }
            })


            $(".radio4_1").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio4_1si").show();
                    $(".radio4_1no").hide();
                } else {
                    $(".radio4_1si").hide();
                    $(".radio4_1no").show();
                }
            })

            $(".radio5").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio5si").show();
                    $(".radio5no").hide();
                } else {
                    $(".radio5si").hide();
                    $(".radio5no").show();
                }
            })


            $(".radio6").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio6si").show();
                    $(".radio6no").hide();
                } else {
                    $(".radio6si").hide();
                    $(".radio6no").show();
                }
            })

            $(".radio7").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio7si").show();
                } else {
                    $(".radio7si").hide();
                }
            })

            $(".radio9").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio9si").show();
                } else {
                    $(".radio9si").hide();
                }
            })


            $(".radio9_1").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio9_1no").hide();
                } else {
                    $(".radio9_1no").show();
                }
            })


            $(".radio10").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio10si").show();
                } else {
                    $(".radio10si").hide();
                }
            })

            $(".radio10_1").on("click", function () {

                if ($(this).val() === "1") {
                    $(".radio10_1si").show();
                } else {
                    $(".radio10_1si").hide();
                }
            })




        });


        $("#cod_sucursal").val(getCookie("Oficina"))
        $("#pub").val(getCookie("Usuario"))
        $("#btnvolver").click(function (event) {
            event.preventDefault();
            history.back(-1);
        });
    </script>
}