
@{
    ViewBag.Title = "Oferta";
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<!--Page content-->
<!--===================================================-->
<div id="page-content">

    <div class="row">
        
        <div class="panel">
            <!--Panel heading-->
            <div class="panel-heading">
                <div class="panel-control" id="myLargeModalLabel">  
                </div>
                <h3 class="panel-title" id="titulo_gestion">Gestión</h3>
            </div>
        </div>



    </div>
    <div class="row">

        <div class="tab-base" id="MDL_Primario">
            <!--Nav Tabs-->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-gestion-1" aria-expanded="true">Contacto</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#tab-gestion-2" aria-expanded="false">Historial de Gestión</a>
                </li>
                <li class="" style="display:none;">
                    <a data-toggle="tab" href="#tab-gestion-3" aria-expanded="false">Créditos</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#tab-gestion-4" aria-expanded="false">Filtros</a>
                </li>
            </ul>

            <!--Tabs Content-->
            <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                <div id="tab-gestion-1" class="tab-pane fade active in">
                    <form>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Rut</label>
                                    <input class="form-control" id="afi_rut" type="text" value="17.024.783-1" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="control-label">Nombres</label>
                                    <input class="form-control" id="afi_nombres" type="text" value="Carlos Antonio Pradenas Pérez" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label segmento_texto">Segmento</label>
                                    <input class="form-control" id="afi_segmento" type="text" value="Privados" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Oficina Asignación</label>
                                    <input class="form-control" id="OficinaAsig" type="text" value="OficinaAsig" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" id="labelrutempresa">Rut Empresa</label>
                                    <input class="form-control" id="afi_empresa_rut" type="text" value="99.999.999-9" readonly="readonly">
                                </div>
                            </div>

                            <div class="col-sm-6" id="morf_cnvs">
                                <div class="form-group">
                                    <label class="control-label" id="labelempresa">Empresa</label>
                                    <input class="form-control" type="text" id="afi_empresa_nombre" value="La Araucana C.C.A.F." readonly="readonly">
                                </div>
                            </div>


                            <div class="col-sm-3">
                                <div class="form-group has-success">
                                    <label class="control-label" id="morfeable_monto">Monto Pre Aprobado</label>
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="demo-pli-wallet-2"></i></span>
                                        <input class="form-control text-lg-right" id="afi_preaprobado" type="text" value="4.300.000" readonly="readonly">
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Emails</label>
                                    <button class="btn btn-xs btn-rounded btn-default" type="button" data-clipboard-action="copy" id="btn_copiar">copiar seleccionado</button>
                                    <div class="input-group mar-btm multicontrol-mail">
                                        <div class="input-group-btn">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" style="height: 34px; margin-right:0px;">
                                                <i class="pli-mail-2"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="forma-uno-mail"><a href="#" id="correos_Malo">Marcar como Malo</a></li>
                                                <li class="divider desaparecible-mail"></li>
                                                <li class="forma-dos-mail"><a href="#" id="correos_Nuevo">Agregar Nuevo</a></li>
                                            </ul>
                                        </div>
                                        <select class="form-control" id="afi_correos" readonly="readonly"></select>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Celulares</label>
                                    <div class="input-group mar-btm multicontrol-cel">
                                        <div class="input-group-btn">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" style="height: 34px; margin-right:0px;">
                                                <i class="pli-smartphone-3"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="forma-uno-cel"><a href="#" id="celulares_Malo">Marcar como Malo</a></li>
                                                <li class="divider desaparecible-cel"></li>
                                                <li class="forma-dos-cel"><a href="#" id="celulares_Nuevo">Agregar Nuevo</a></li>
                                            </ul>
                                        </div>
                                        <select class="form-control" id="afi_celulares" readonly="readonly"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Telefonos</label>
                                    <div class="input-group mar-btm multicontrol">

                                        <div class="input-group-btn">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" style="height: 34px; margin-right:0px;">
                                                <i class="pli-phone-2"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="forma-uno"><a href="#" id="telefonos_Malo">Marcar como Malo</a></li>
                                                <li class="divider desaparecible"></li>
                                                <li class="forma-dos"><a href="#" id="telefonos_Nuevo">Agregar Nuevo</a></li>
                                            </ul>
                                        </div>


                                        <select class="form-control" id="afi_telefonos" readonly="readonly"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Oficina Preferencia</label>
                                    <div class="input-group mar-btm">

                                        <select class="form-control" id="afi_oficina_preferencia" readonly="readonly"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Horario Preferencia</label>
                                    <div class="input-group mar-btm">
                                        <select class="form-control" id="afi_horario_preferencia" readonly="readonly">
                                            <option value="">Seleccione</option>
                                            <optgroup label="Generales">
                                                <option>Durante la Mañana</option>
                                                <option>Durante la Tarde</option>
                                                <option>Cualquier Horario</option>
                                            </optgroup>
                                            <optgroup label="Especificas">
                                                <option>09:00-11:00</option>
                                                <option>11:00-13:00</option>
                                                <option>13:00-15:00</option>
                                                <option>15:00-17:00</option>
                                                <option>17:00-19:00</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row NotfGenerica" style="display:none;">
                            <div class="col-sm-12 NotfGenericaContainer">
                                <br />
                            </div>
                        </div>

                        <div class="row charlyNTF" style="display:none;">
                            <div class="col-sm-12 charlyNTFContainer">

                            </div>
                        </div>
                    </form>
                </div>
                <div id="tab-gestion-2" class="tab-pane fade">
                    <div class="list-group" id="gestiones_realizadas" style="min-height:290px;">


                    </div>
                </div>
                <div id="tab-gestion-3" class="tab-pane fade">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Posee Crédito Social por $950.00</h4>
                            <p class="list-group-item-text">4 cuotas de 60</p>
                            <p class="list-group-item-text">Cada cuota es de $56.700</p>
                        </a>
                    </div>
                </div>
                <div id="tab-gestion-4" class="tab-pane fade">
                    <div class="table-responsive" style="overflow:scroll; height:350px;">
                        <table class="table table-striped">
                            <tbody id="letable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="panel">
            <div class="panel-body" id="mensahes-must">
                <form id="datos-gestion" action="#" method="post" style="display:none;">
                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select class="form-control" id="ges_estado" name="ges_estado">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Sub Estado</label>
                                <select class="form-control" id="ges_subestado" name="ges_subestado" disabled="disabled">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="fpg">
                                <label class="control-label">Fecha Próxima Gestión</label>
                                <div id="demo-dp-component">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="ges_prox_gestion" name="ges_prox_gestion">
                                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios</label>
                                <textarea placeholder="Comentarios" rows="3" class="form-control" id="ges_comentarios" name="ges_comentarios"></textarea>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" id="ges_id_asignacion" name="ges_id_asignacion" value="" />
                    <button class="btn btn-default volvere" type="button">Volver</button>
                    <button class="btn btn-primary esconder" id="btn_savear" type="submit">Guardar</button>
                </form>
                <form id="datos-gestion_normalizacion" action="#" method="post" style="display:none;">
                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Causa basal</label>
                                <select class="form-control" id="ges_causa_basal_normalizacion" name="ges_causa_basal_normalizacion">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Consecuencia</label>
                                <select class="form-control" id="ges_consecuencia_normalizacion" name="ges_consecuencia_normalizacion">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select class="form-control" id="ges_estado_normalizacion" name="ges_estado_normalizacion">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group" id="fpg_normalizacion">
                                <label class="control-label">Fecha Próxima Gestión</label>
                                <div id="demo-dp-component_normalizacion">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="ges_prox_gestion_normalizacion" name="ges_prox_gestion_normalizacion">
                                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios</label>
                                <textarea placeholder="Comentarios" rows="3" class="form-control" id="ges_comentarios_normalizacion" name="ges_comentarios_normalizacion"></textarea>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" id="ges_id_asignacion_normalizacion" name="ges_id_asignacion_normalizacion" value="" />

                    <button class="btn btn-default volvere" type="button">Volver</button>
                    <button class="btn btn-primary esconder" id="btn_savear_normalizacion" type="submit">Guardar</button>
                </form>
                <form id="datos-gestion-tmc" action="#" method="post" style="display:none;">
                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select class="form-control" id="ges_estadoTMC" name="ges_estadoTMC">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Sub Estado</label>
                                <select class="form-control" id="ges_subestadoTMC" name="ges_subestadoTMC" disabled="disabled">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="fpg">
                                <label class="control-label">Fecha Próxima Gestión</label>
                                <div id="demo-dp-componentTMC">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="ges_prox_gestionTMC" name="ges_prox_gestionTMC">
                                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios</label>
                                <textarea placeholder="Comentarios" rows="3" class="form-control" id="ges_comentariosTMC" name="ges_comentariosTMC"></textarea>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" id="ges_id_asignacionTMC" name="ges_id_asignacionTMC" value="" />

                    <button class="btn btn-default volvere" type="button">Volver</button>
                    <button class="btn btn-primary esconder" id="btn_savear" type="submit">Guardar</button>
                </form>
                <form id="datos-gestion-sc" action="#" method="post" style="display:none;">
                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select class="form-control" id="ges_estadoSC" name="ges_estadoSC">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Sub Estado</label>
                                <select class="form-control" id="ges_subestadoSC" name="ges_subestadoSC" disabled="disabled">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="fpgSC">
                                <label class="control-label">Fecha Próxima Gestión</label>
                                <div id="demo-dp-componentSC">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="ges_prox_gestionSC" name="ges_prox_gestionSC">
                                        <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row esconder" style="text-align: left;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios</label>
                                <textarea placeholder="Comentarios" rows="3" class="form-control" id="ges_comentariosSC" name="ges_comentariosSC"></textarea>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" id="ges_id_asignacionSC" name="ges_id_asignacionSC" value="" />

                    <button class="btn btn-default volvere" type="button">Volver</button>
                    <button class="btn btn-primary esconder" id="btn_savear" type="submit">Guardar</button>
                </form>
            </div>
        </div>
        

    </div>
</div>


<input type="hidden" id="rut-afi" value="@Html.Raw(ViewBag.rut != null ? ViewBag.rut : "0")" />
<input type="hidden" id="periodo" value="@Html.Raw(ViewBag.periodo != null ? ViewBag.periodo : "0")" />
<input type="hidden" id="tipo" value="@Html.Raw(ViewBag.tipo != null ? ViewBag.tipo : "0")" />

<script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
<script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Assets/js.App/gestion/oferta.js?v=@Html.Raw(ViewBag.hash)"></script>

