

<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

<style>
    #tblAsigPen > tbody {
        font-size: 11px;
    }
</style>
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel" style="border-radius: 7px;">
                <div class="panel-heading">
                    <div class="panel-control">
                        <a href="#fakelink" class="add-tooltip demo-pli-question-circle icon-lg unselectable" data-html="true" data-title="<h4>Información</h4><p style='width:150px'>Debe presionar el boton Filtrar para visualizar datos de pensionados.</p>" data-original-title="" title=""></a>
                    </div>
                    <h3 class="panel-title">PENSIONADOS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 text-xs-center">
                            <div class="form-group">
                                <label class="control-label">Nombre</label>
                                <input type="text" class="form-control" id="txtNombrePen" placeholder="Nombre pensionado..">
                            </div>
                        </div>
                        <div class="col-sm-2 text-xs-center">
                            <div class="form-group">
                                <label class="control-label">Comuna</label>
                                <select class="form-control" id="dllComunaPen" tabindex="2" name="dllComunaPen" required></select>
                            </div>
                        </div>
                        <div class="col-sm-2 text-xs-center">
                            <div class="form-group">
                                <label class="control-label">Prioridad</label>
                                <select id="dllPriorodadPen" class="form-control">
                                    <option value="">Todos</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 text-xs-center">
                            <div class="form-group">
                                <label class="control-label">Estado Gestion</label>
                                <select id="dllEstadoGestionPadre" class="form-control">
                                    <option value="0">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 text-xs-center">
                            <div class="form-group">
                                <label class="control-label">Sub-Estado Gestion</label>
                                <select id="dllEstadoGestion" class="form-control">
                                    <option value="0">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 text-xs-center" id="divAgente" style="display:none;">
                            <div class="form-group">
                                <label class="control-label">Ejecutivo</label>
                                <select id="dllEjecutivo" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-1 text-xs-center">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <button id="btn_filtroPen" class="btn btn-primary btn-rounded" style="margin-top: 4px;">Filtrar</button>
                            </div>
                        </div>
                        <div class="col-sm-5 text-xs-center" style="display:none;">
                            <div class="form-group">
                                <h5>Para visualizar datos debe presionar el botón filtrar.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" style="border-radius: 7px;">
                <div class="panel-heading">
                    <div class="panel-control">
                        <div class="col-sm-8" id="mdAsigEjePen">
                            <button class="demo-panel-ref-btn btn btn-default btn-active-success" data-toggle="panel-overlay" id="modalAsignacion">
                                <i class="demo-psi-repeat-2 icon-fw"></i> Asignar Pensionados
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <button class="demo-panel-ref-btn btn btn-default  btn-active-success" data-toggle="panel-overlay" id="PrintPensionados">
                                <i class="demo-pli-printer"></i> Imprimir
                            </button>
                        </div>
                    </div>
                    <h3 class="panel-title">RESULTADO DE BUSQUEDA</h3>
                </div>
                <script>
                    function idFormatter(value, row, index) {
                        return `<a href="${value}" class="btn-link" data-id="${value}"  data-estado="${row.PRIORIDAD}" data-toggle="modal" data-target="#mdl_data_gestion_pensionado">${value}</a>`;
                    }
                </script>
                <div class="panel-body">
                    <table data-toggle="table"
                           data-sort-name="id"
                           data-page-list="[]"
                           data-page-size="50"
                           data-pagination="true" id="tblAsigPen">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id_Asign" data-sortable="true" data-formatter="idFormatter">ID</th>
                                <th data-field="NOMBREPEN" data-sortable="true">Nombre</th>
                                <th data-field="PRIORIDAD" data-sortable="true">Prioridad</th>
                                <th data-field="COMUNA" data-sortable="true">Comuna</th>
                                <th data-field="FONOCELULAR" data-sortable="true">Celular</th>
                                <th data-field="FONOPARTICULAR" data-sortable="true">Fono P.</th>
                                @*<th data-field="EMAIL" data-sortable="true">Mail</th>*@
                                <th data-field="RUTEJECUTIVO" data-sortable="true">Asignado</th>
                                <th data-field="NOM_GESTION" data-sortable="true">Sub-Estado</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="mar-all" style="display:none" id="printPensionado">
                <div id="tblPrinPensionado">
                    <div style="visibility: hidden;">
                        separador
                    </div>
                    <img src="~/Assets/img/logo_arau.png" style="width: 200px; margin-top: 10px;" />
                    <br />
                    <br />
                    <table id="base-table" class='table table-bordered' style='display:none; border-radius: 7px; font-size: 10px;'>
                        <tbody id='nada'>
                            <tr>
                                <td style='width: 621px'>([id])</td>
                                <td style='width: 300px'>([email])</td>
                            </tr>
                            <tr>
                                <td style='width: 621px'>Nombre</td>
                                <td style='width: 300px'>Fono Particular / Celular</td>
                            </tr>
                            <tr>
                                <td>([name])</td>
                                <td>([phone])</td>
                            </tr>
                            <tr>
                                <td>Dirección</td>
                                <td>Comuna</td>
                            </tr>
                            <tr>
                                <td>([address])</td>
                                <td>([city])</td>
                            </tr>
                            <tr>
                                <td colspan='2'>
                                    Contacto:
                                    <div class='checkbox'>
                                        <input id='demo-form-inline-checkbox' class='magic-checkbox' type='checkbox'>
                                        <label for='demo-form-inline-checkbox'>Fono / Celular</label>

                                        <input id='demo-form-inline-checkbox-2' class='magic-checkbox' type='checkbox'>
                                        <label for='demo-form-inline-checkbox-2'>Domicilio</label>

                                        <input id='demo-form-inline-checkbox-3' class='magic-checkbox' type='checkbox'>
                                        <label for='demo-form-inline-checkbox-3'>Evento</label>

                                        <input id='demo-form-inline-checkbox-3' class='magic-checkbox' type='checkbox'>
                                        <label for='demo-form-inline-checkbox-3'>Ninguno</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='2'>Fecha Contacto:</td>
                            </tr>
                            <tr>
                                <td colspan='2'>Proxima Gestion (Fecha-Hora)</td>
                            </tr>
                            <tr style='height: 140px;'>
                                <td colspan='2'>Observación Gestión</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="mdl_data_gestion_pensionado" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="border-radius: 7px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                        <h4 class="modal-title">Pensionado</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel">
                            <div class="tab-base" id="MDL_Primario" style="margin-bottom: 0px !important;">
                                <!--Nav Tabs-->
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab-gestion-pensionado" aria-expanded="true">Datos Pensionado</a>
                                    </li>
                                    <li class="" style="display:none;">
                                        <a data-toggle="tab" href="#tab-gestion-contacto" aria-expanded="false">Contacto/Gestión</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab-gestion-gestion" aria-expanded="false">Gestión</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab-gestion-historial" aria-expanded="false">Historial Gestión</a>
                                    </li>
                                </ul>
                                <!--Tabs Content-->
                                <div class="tab-content" style="box-shadow: 0 0 0 !important;">
                                    <div id="tab-gestion-pensionado" class="tab-pane fade active in">
                                        <div class="panel" style="border-radius: 6px; border: 1px solid #dad3d3;">
                                            <div class="panel-heading">
                                                <div class="panel-control">
                                                    <a href="#fakelink" class="add-tooltip demo-pli-question-circle icon-lg unselectable" data-html="true" data-title="<h4>Información</h4><p style='width:150px'>Podra visualizar y editar los datos de contacto y dirección del pensionado.</p>" data-original-title="" title=""></a>
                                                </div>
                                                <h3 class="panel-title">Datos Pensionado</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div id="msjMantPensionadoContacto"></div>
                                                <form id="form-info-pensionado" action="#" method="post">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="control-label">ID</label>
                                                                <input class="form-control" id="txtId" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Estado</label>
                                                                <input class="form-control" id="pen_estado" name="pen_estado" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <label class="control-label">Nombres</label>
                                                                <input class="form-control" id="pen_nombre" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label segmento_texto">Comuna</label>
                                                                <select class="form-control" id="pen_comuna" tabindex="2" name="pen_comuna"></select>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Calle</label>
                                                                <input class="form-control" id="pen_direccion" name="pen_direccion" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Numero</label>
                                                                <input class="form-control" id="pen_N_direccion" name="pen_N_direccion" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label class="control-label" id="labelrutempresa">Celular</label>
                                                                <input class="form-control" id="pen_fono_1" name="pen_fono_1" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label class="control-label" id="labelrutempresa">Fono Particular</label>
                                                                <input class="form-control" id="pen_fono_2" name="pen_fono_2" type="text">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6" id="morf_cnvs">
                                                            <div class="form-group">
                                                                <label class="control-label" id="labelempresa">Correo</label>
                                                                <input class="form-control" type="email" id="pen_correo" name="pen_correo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-success" id="btn_edit_contact_pensionado" type="button">Editar Contacto </button>
                                                        <button class="btn btn-primary" id="btn_save_contact_pensionado" type="submit" disabled>Guardar Contacto</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-gestion-contacto" class="tab-pane fade" style="display:none;">
                                        <div class="panel" style="border-radius: 6px; border: 1px solid #dad3d3;">
                                            <div class="panel-heading">
                                                <div class="panel-control">
                                                    <a href="#fakelink" class="add-tooltip demo-pli-question-circle icon-lg unselectable" data-html="true" data-title="<h4>Information</h4><p style='width:150px'>This is an information bubble to help the user.</p>" data-original-title="" title=""></a>
                                                </div>
                                                <h3 class="panel-title">Contacto</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div id="msjMantContacto"></div>
                                                <div id="msjMantGestionPen"></div>
                                                <form id="pensionado-contacto" action="#" method="post">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Se contacto con Pensionado?</label>
                                                            <select class="form-control" id="slContactoPensionado" name="slContactoPensionado">
                                                                <option value="">Seleccione</option>
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" id="dvContactMedio" style="display:none;">
                                                        <div class="form-group">
                                                            <label class="control-label">Por cual medio?</label>
                                                            <select class="form-control" id="slContactMedio" name="slContactMedio"></select>
                                                            <label class="control-label" style="font-size: 10px; color: #a94442; display:none;" id="lbslContactMedio">Debe selecciona una opción</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" id="dvNOContactoPensionadoFono" style="display:none;">
                                                        <div class="form-group">
                                                            <label class="control-label">Intento por Fono</label>
                                                            <select class="form-control" id="slNOContactoPensionadoFono" name="slNOContactoPensionadoFono">
                                                                <option value="">Seleccione</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" id="dvNOContactoPensionadoDom" style="display:none;">
                                                        <div class="form-group">
                                                            <label class="control-label">Intento a Domicilio</label>
                                                            <select class="form-control" id="slNOContactoPensionadoDom" name="slNOContactoPensionadoDom">
                                                                <option value="">Seleccione</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row esconder" style="text-align: left;">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Observación</label>
                                                                <textarea placeholder="Observación" rows="3" class="form-control" id="txtObsContacto" name="txtObsContacto"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row esconder" id="btSaveContatoPensionado" style="text-align: left; display:none">
                                                        <button data-dismiss="modal" class="btn btn-default" id="btCerrarGersPen" type="button">Cerrar</button>
                                                        <button class="btn btn-primary esconder" id="btn_savearPensionadoCon" type="submit">Guardar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="panel" style="border-radius: 6px; border: 1px solid #dad3d3; display:none;" id="paneGestionPesnionado">
                                            <div class="panel-heading">
                                                <div class="panel-control">
                                                    <a href="#fakelink" class="add-tooltip demo-pli-question-circle icon-lg unselectable" data-html="true" data-title="<h4>Information</h4><p style='width:150px'>This is an information bubble to help the user.</p>" data-original-title="" title=""></a>
                                                </div>
                                                <h3 class="panel-title">Gestión</h3>
                                            </div>
                                            <div class="panel-body">
                                                <form id="datos-gestion_pensionado" action="#" method="post">
                                                    <div class="row esconder" style="text-align: left;">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Estado</label>
                                                                <select class="form-control" id="ges_estado_pensionado" name="ges_estado_pensionado">
                                                                    <option value="">Seleccione</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Sub Estado</label>
                                                                <select class="form-control" id="ges_subestado_pensionado" name="ges_subestado_pensionado">
                                                                    <option value="">Seleccione</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4" id="prox_gest_pensionado" style="display: none;">

                                                            <label class="control-label">Fecha Próxima Gestión</label>
                                                            <div id="dp-component-pensionados">
                                                                <div class="input-group date">
                                                                    <input type="text" class="form-control" id="ges_prox_gestion_pensionado" name="ges_prox_gestion_pensionado">
                                                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3" id="prox_hora_gest_pensionado" style="display: none;">
                                                            <div class="form-group">
                                                                <label class="control-label">Hora</label>
                                                                <div class="input-group date">
                                                                    <select id="slComienzaDia_pensionado" name="slComienzaDia_pensionado" class="form-control" tabindex="-98">
                                                                        <option value="">Seleccione</option>
                                                                        <option value="09:00">9:00 hrs.</option>
                                                                        <option value="09:30">9:30 hrs.</option>
                                                                        <option value="10:00">10:00 hrs.</option>
                                                                        <option value="10:30">10:30 hrs.</option>
                                                                        <option value="11:00">11:00 hrs.</option>
                                                                        <option value="11:30">11:30 hrs.</option>
                                                                        <option value="12:00">12:00 hrs.</option>
                                                                        <option value="12:30">12:30 hrs.</option>
                                                                        <option value="13:00">13:00 hrs.</option>
                                                                        <option value="13:30">13:30 hrs.</option>
                                                                        <option value="14:00">14:00 hrs.</option>
                                                                        <option value="14:30">14:30 hrs.</option>
                                                                        <option value="15:00">15:00 hrs.</option>
                                                                        <option value="15:30">15:30 hrs.</option>
                                                                        <option value="16:00">16:00 hrs.</option>
                                                                        <option value="16:30">16:30 hrs.</option>
                                                                        <option value="17:00">17:00 hrs.</option>
                                                                        <option value="17:30">17:30 hrs.</option>
                                                                        <option value="18:00">18:00 hrs.</option>
                                                                        <option value="18:30">18:30 hrs.</option>
                                                                        <option value="19:00">19:00 hrs.</option>
                                                                        <option value="19:30">19:30 hrs.</option>
                                                                        <option value="20:00">20:00 hrs.</option>
                                                                        <option value="20:30">20:30 hrs.</option>
                                                                        <option value="21:00">21:00 hrs.</option>
                                                                    </select>
                                                                    <span class="input-group-addon"><i class="demo-pli-clock"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row esconder" style="text-align: left;">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Comentarios</label>
                                                                <textarea placeholder="Comentarios" rows="3" class="form-control" id="txt_interes_comentarios_pensionado" name="txt_interes_comentarios_pensionado"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button data-dismiss="modal" class="btn btn-default" id="btCerrarGersPen" type="button">Cerrar</button>
                                                    <button class="btn btn-primary esconder" id="btn_savearPensionado" type="submit">Guardar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-gestion-historial" class="tab-pane fade">
                                        <div class="list-group" id="gestiones_realizadas_pensionados" style="min-height:290px;">
                                        </div>
                                    </div>
                                    <div id="tab-gestion-gestion" class="tab-pane fade">
                                        <div id="msjMantPensionado"></div>
                                        <h4 class="modal-title" id="lbTitulo">Contacto</h4>
                                        <!--CONTACTO-->
                                        <div class="modal-body" id="etapaContacto" style="display:block">
                                            <div class="alert alert-success" style="border-radius: 5px; height: 54px; background-color: #f3f3f3; color: #696666;">
                                                <label class="col-md-5 control-label">Se contactó con Pensionado? </label>
                                                <div class="col-md-6" style="margin-top: -11px;">
                                                    <div class="radio">
                                                        <input id="rdkContactoSi" class="magic-radio" type="radio" name="inline-form-radioContacto" value="SI">
                                                        <label for="rdkContactoSi">SI</label>
                                                        <input id="rdkContactoNO" class="magic-radio" type="radio" name="inline-form-radioContacto" value="NO">
                                                        <label for="rdkContactoNO">NO</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="visibility: hidden;">
                                                separador
                                            </div>
                                            <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="paso1_Si">
                                                <div class="panel-body">
                                                    <div class="form-group pad-ver">
                                                        <label class="col-md-4 control-label">Por que medio?</label>
                                                        <div class="col-md-8" id="dvRbMedioSi"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="paso1_No">
                                                <div class="panel-body">
                                                    <div class="form-group pad-ver">
                                                        <label class="col-md-4 control-label">Fono</label>
                                                        <div class="col-md-8" id="dvRbMedioNoFono"></div>
                                                    </div>
                                                    <div style="visibility: hidden;">
                                                        separador
                                                    </div>
                                                    <div class="form-group pad-ver">
                                                        <label class="col-md-4 control-label">Domicilio</label>
                                                        <div class="col-md-8" id="dvRbMedioNoDomi"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Observación</label>
                                                    <textarea placeholder="Observación" rows="3" class="form-control" id="txtObservacionContacto" name="txtObservacionContacto"></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                @*<button class="btn btn-success" id="btn_contacto_guardar" type="submit" disabled>Guardar</button>*@
                                                <button class="btn btn-primary" id="btn_contacto" type="submit" disabled>Siguiente</button>
                                            </div>
                                        </div>
                                        <!--INTERES-->
                                        <div class="modal-body" id="etapaInteres" style="display:none">
                                            <div class="alert alert-success" style="border-radius: 5px; height: 54px; background-color: #f3f3f3; color: #696666;">
                                                <label class="col-md-5 control-label">Pensionado  está interesado?  </label>
                                                <div class="col-md-6" style="margin-top: -11px;">
                                                    <div class="radio" id="divInteres"></div>
                                                </div>
                                            </div>
                                            <div class="alert alert-warning" id="msjBloqueo" style="display:none;">
                                                <strong>Atencion!</strong> Pensionado, <a href="#" class="alert-link" id="msjBlockPen"></a>
                                            </div>
                                            <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="Interes_Si">
                                                <div class="panel-body">
                                                    <div class="form-group pad-ver">
                                                        <label class="col-md-4 control-label">Como avanzamos?</label>
                                                        <div class="col-md-8" id="divInteresSI">

                                                        </div>
                                                    </div>
                                                    <div style="visibility: hidden;">
                                                        separador
                                                    </div>
                                                    <div class="form-group pad-ver">
                                                        <div class="col-md-4 control-label">
                                                            <div class="form-group">
                                                                <label class="control-label">Cuando?</label>
                                                            </div>
                                                        </div>
                                                        <div id="dp-component-pensionados-interes" class="col-md-4">
                                                            <label class="control-label">Fecha</label>
                                                            <div class="input-group date">
                                                                <input type="text" class="form-control" id="txtFechacita" name="txtFechacita">
                                                                <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Hora</label>
                                                                <div class="input-group date">
                                                                    <select id="slHoraInteres" name="slHoraInteres" class="form-control" tabindex="-98">
                                                                        <option value="">Seleccione</option>
                                                                        <option value="09:00">9:00 hrs.</option>
                                                                        <option value="09:30">9:30 hrs.</option>
                                                                        <option value="10:00">10:00 hrs.</option>
                                                                        <option value="10:30">10:30 hrs.</option>
                                                                        <option value="11:00">11:00 hrs.</option>
                                                                        <option value="11:30">11:30 hrs.</option>
                                                                        <option value="12:00">12:00 hrs.</option>
                                                                        <option value="12:30">12:30 hrs.</option>
                                                                        <option value="13:00">13:00 hrs.</option>
                                                                        <option value="13:30">13:30 hrs.</option>
                                                                        <option value="14:00">14:00 hrs.</option>
                                                                        <option value="14:30">14:30 hrs.</option>
                                                                        <option value="15:00">15:00 hrs.</option>
                                                                        <option value="15:30">15:30 hrs.</option>
                                                                        <option value="16:00">16:00 hrs.</option>
                                                                        <option value="16:30">16:30 hrs.</option>
                                                                        <option value="17:00">17:00 hrs.</option>
                                                                        <option value="17:30">17:30 hrs.</option>
                                                                        <option value="18:00">18:00 hrs.</option>
                                                                        <option value="18:30">18:30 hrs.</option>
                                                                        <option value="19:00">19:00 hrs.</option>
                                                                        <option value="19:30">19:30 hrs.</option>
                                                                        <option value="20:00">20:00 hrs.</option>
                                                                        <option value="20:30">20:30 hrs.</option>
                                                                        <option value="21:00">21:00 hrs.</option>
                                                                    </select>
                                                                    <span class="input-group-addon"><i class="demo-pli-clock"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="Interes_Terminada">
                                                <div class="panel-body">
                                                    <div class="form-group pad-ver">
                                                        <label class="col-md-4 control-label">Por que?</label>
                                                        <div class="col-md-8" id="divInteresTerminada"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="Interes_NO">
                                                <div class="panel-body">
                                                    <div class="form-group pad-ver">
                                                        <label class="col-md-4 control-label">Por que?</label>
                                                        <div class="col-md-8" id="divInteresNO">

                                                        </div>
                                                        <div class="col-md-8" id="divInteresNoInteresado" style="display:none;">

                                                        </div>



                                                        @*<div class="col-md-8" id="divInteresNO2">
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input class="magic-radio" type="radio" name="gRbInteresNO2" id="contacto-rdInteresNo-3012" value="301">
                                                                    <label for="contacto-rdInteresNo-3012">No Interesado</label>


                                                                    <div class="radio" style="margin-top: 9px; margin-left: 40px;">
                                                                        <input class="magic-radio" type="radio" name="gRbInteresNO22" id="contacto-rdInteresNo-30222" value="302">
                                                                        <label for="contacto-rdInteresNo-30222">Desiste4444</label>
                                                                    </div>
                                                                    <div class="radio" style="margin-top: 9px; margin-left: 40px;">
                                                                        <input class="magic-radio" type="radio" name="gRbInteresNO22" id="contacto-rdInteresNo-302223" value="302">
                                                                        <label for="contacto-rdInteresNo-302223">Desiste555</label>
                                                                    </div>

                                                                </div>
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input class="magic-radio" type="radio" name="gRbInteresNO2" id="contacto-rdInteresNo-3022" value="302">
                                                                    <label for="contacto-rdInteresNo-3022">Desiste</label>
                                                                </div>
                                                            </div>*@



                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Comentarios</label>
                                                    <textarea placeholder="Comentarios" rows="3" class="form-control" id="txt_interes_comentarios_pen" name="txt_interes_comentarios_pen"></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success" id="btn_interes_guardar" type="submit" disabled>Guardar</button>
                                                <button class="btn btn-primary" id="btn_interes" type="submit" disabled>Siguiente</button>
                                            </div>
                                        </div>
                                        <!--DOMICILIO-->
                                        @*<div class="modal-body" id="etapaDomicilio" style="display:none">
                                                <div class="alert alert-success" style="border-radius: 5px; height: 54px; background-color: #f3f3f3; color: #696666;">
                                                    <label class="col-md-5 control-label">Se concretó la visita?  </label>
                                                    <div class="col-md-6" style="margin-top: -11px;">
                                                        <div class="radio">
                                                            <input id="rdkDomicilioSi" class="magic-radio" type="radio" name="inline-form-radioDomicilio" value="SI">
                                                            <label for="rdkDomicilioSi">SI</label>
                                                            <input id="rdkDomicilioNO" class="magic-radio" type="radio" name="inline-form-radioDomicilio" value="NO">
                                                            <label for="rdkDomicilioNO">NO</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="alert alert-success" style="border-radius: 5px; height: 54px; background-color: #f3f3f3; color: #696666; display:none;" id="preguntaInteresDom">
                                                    <label class="col-md-5 control-label">Sigue Interesado?</label>
                                                    <div class="col-md-6" style="margin-top: -11px;">
                                                        <div class="radio">
                                                            <input id="rdkDomicilioInteresadoSi" class="magic-radio" type="radio" name="inline-form-radioDomicilioInteresado" value="SI">
                                                            <label for="rdkDomicilioInteresadoSi">SI</label>
                                                            <input id="rdkDomicilioInteresadoNO" class="magic-radio" type="radio" name="inline-form-radioDomicilioInteresado" value="NO">
                                                            <label for="rdkDomicilioInteresadoNO">NO</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="Domicilio_Si">
                                                    <div class="panel-body">
                                                        <div class="form-group pad-ver">
                                                            <label class="col-md-4 control-label">Como avanzamos?</label>
                                                            <div class="col-md-8">
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio">Agenda Visita a Domicilio</label>
                                                                </div>
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio-2" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio-2">Agenda Visita a Sucursal</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="visibility: hidden;">
                                                            separador
                                                        </div>
                                                        <div class="form-group pad-ver">
                                                            <div class="col-md-4 control-label">
                                                                <div class="form-group">
                                                                    <label class="control-label">Cuando?</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Fecha</label>
                                                                    <input type="text" class="form-control" id="txtFechacita" name="txtFechacita" placeholder="Fecha">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Hora</label>
                                                                    <div class="input-group date">
                                                                        <select id="slComienzaDomicilio" name="slComienzaDomicilio" class="form-control" tabindex="-98">
                                                                            <option value="">Seleccione</option>
                                                                            <option value="09:00">9:00 hrs.</option>
                                                                            <option value="09:30">9:30 hrs.</option>
                                                                            <option value="10:00">10:00 hrs.</option>
                                                                            <option value="10:30">10:30 hrs.</option>
                                                                            <option value="11:00">11:00 hrs.</option>
                                                                            <option value="11:30">11:30 hrs.</option>
                                                                            <option value="12:00">12:00 hrs.</option>
                                                                            <option value="12:30">12:30 hrs.</option>
                                                                            <option value="13:00">13:00 hrs.</option>
                                                                            <option value="13:30">13:30 hrs.</option>
                                                                            <option value="14:00">14:00 hrs.</option>
                                                                            <option value="14:30">14:30 hrs.</option>
                                                                            <option value="15:00">15:00 hrs.</option>
                                                                            <option value="15:30">15:30 hrs.</option>
                                                                            <option value="16:00">16:00 hrs.</option>
                                                                            <option value="16:30">16:30 hrs.</option>
                                                                            <option value="17:00">17:00 hrs.</option>
                                                                            <option value="17:30">17:30 hrs.</option>
                                                                            <option value="18:00">18:00 hrs.</option>
                                                                            <option value="18:30">18:30 hrs.</option>
                                                                            <option value="19:00">19:00 hrs.</option>
                                                                            <option value="19:30">19:30 hrs.</option>
                                                                            <option value="20:00">20:00 hrs.</option>
                                                                            <option value="20:30">20:30 hrs.</option>
                                                                            <option value="21:00">21:00 hrs.</option>
                                                                        </select>
                                                                        <span class="input-group-addon"><i class="demo-pli-clock"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="Domicilio_NO">
                                                    <div class="panel-body">
                                                        <div class="form-group pad-ver">
                                                            <label class="col-md-3 control-label">Por que?</label>
                                                            <div class="col-md-6">
                                                                <textarea placeholder="Comentarios..." rows="13" class="form-control" style="margin: 0px -63.3438px 0px 0px; height: 155px; width: 400px;"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="DomicilioVisita_NO">
                                                    <div class="panel-body">
                                                        <div class="form-group pad-ver">
                                                            <label class="col-md-4 control-label">Por que? </label>
                                                            <div class="col-md-8">
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio">Domicilio No Corresponde</label>
                                                                </div>
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio-2" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio-2">Domicilio No Existe</label>
                                                                </div>
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio-3" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio-3">No se encontraba en el momento de visita</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="visibility: hidden;">
                                                            separador
                                                        </div>
                                                        <div class="form-group pad-ver">
                                                            <label class="col-md-4 control-label">Como avanzamos?</label>
                                                            <div class="col-md-8">
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio">Agenda otra Visita a Domicilio</label>
                                                                </div>
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio-2" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio-2">Agenda Visita a Sucursal</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="visibility: hidden;">
                                                            separador
                                                        </div>
                                                        <div class="form-group pad-ver">
                                                            <div class="col-md-4 control-label">
                                                                <div class="form-group">
                                                                    <label class="control-label">Cuando?</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Fecha</label>
                                                                    <input type="text" class="form-control" id="txtFechacita" name="txtFechacita" placeholder="Fecha">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Hora</label>
                                                                    <div class="input-group date">
                                                                        <select id="slComienzaDomicilio" name="slComienzaDomicilio" class="form-control" tabindex="-98">
                                                                            <option value="">Seleccione</option>
                                                                            <option value="09:00">9:00 hrs.</option>
                                                                            <option value="09:30">9:30 hrs.</option>
                                                                            <option value="10:00">10:00 hrs.</option>
                                                                            <option value="10:30">10:30 hrs.</option>
                                                                            <option value="11:00">11:00 hrs.</option>
                                                                            <option value="11:30">11:30 hrs.</option>
                                                                            <option value="12:00">12:00 hrs.</option>
                                                                            <option value="12:30">12:30 hrs.</option>
                                                                            <option value="13:00">13:00 hrs.</option>
                                                                            <option value="13:30">13:30 hrs.</option>
                                                                            <option value="14:00">14:00 hrs.</option>
                                                                            <option value="14:30">14:30 hrs.</option>
                                                                            <option value="15:00">15:00 hrs.</option>
                                                                            <option value="15:30">15:30 hrs.</option>
                                                                            <option value="16:00">16:00 hrs.</option>
                                                                            <option value="16:30">16:30 hrs.</option>
                                                                            <option value="17:00">17:00 hrs.</option>
                                                                            <option value="17:30">17:30 hrs.</option>
                                                                            <option value="18:00">18:00 hrs.</option>
                                                                            <option value="18:30">18:30 hrs.</option>
                                                                            <option value="19:00">19:00 hrs.</option>
                                                                            <option value="19:30">19:30 hrs.</option>
                                                                            <option value="20:00">20:00 hrs.</option>
                                                                            <option value="20:30">20:30 hrs.</option>
                                                                            <option value="21:00">21:00 hrs.</option>
                                                                        </select>
                                                                        <span class="input-group-addon"><i class="demo-pli-clock"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success" id="btn_domicilio_guardar" type="submit">Guardar</button>
                                                    <button class="btn btn-primary" id="btn_domicilio" type="submit" disabled>Siguiente</button>
                                                </div>
                                            </div>*@

                                        <!--SUCURSAL-->
                                        @*<div class="modal-body" id="etapaSucursal" style="display:none">
                                                <div class="alert alert-success" style="border-radius: 5px; height: 54px; background-color: #f3f3f3; color: #696666;">
                                                    <label class="col-md-5 control-label">Se concretó la visita?  </label>
                                                    <div class="col-md-6" style="margin-top: -11px;">
                                                        <div class="radio">
                                                            <input id="rdkSucursalSi" class="magic-radio" type="radio" name="inline-form-radioSucursal" value="SI">
                                                            <label for="rdkSucursalSi">SI</label>
                                                            <input id="rdkSucursalNO" class="magic-radio" type="radio" name="inline-form-radioSucursal" value="NO">
                                                            <label for="rdkSucursalNO">NO</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="alert alert-success" style="border-radius: 5px; height: 54px; background-color: #f3f3f3; color: #696666; display:none;" id="preguntaInteresSurc">
                                                    <label class="col-md-5 control-label">Sigue Interesado?</label>
                                                    <div class="col-md-6" style="margin-top: -11px;">
                                                        <div class="radio">
                                                            <input id="rdkrdkSucursalInteresadoSi" class="magic-radio" type="radio" name="inline-form-radiordkSucursalInteresado" value="SI">
                                                            <label for="rdkrdkSucursalInteresadoSi">SI</label>
                                                            <input id="rdkrdkSucursalInteresadoNO" class="magic-radio" type="radio" name="inline-form-radiordkSucursalInteresado" value="NO">
                                                            <label for="rdkrdkSucursalInteresadoNO">NO</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="Sucursal_Si">
                                                    <div class="panel-body">
                                                        <div class="form-group pad-ver">
                                                            <label class="col-md-4 control-label">Como avanzamos?</label>
                                                            <div class="col-md-8">
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio">Agenda Visita a Sucursal</label>
                                                                </div>
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio-2" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio-2">Pensionado Afiliado</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="visibility: hidden;">
                                                            separador
                                                        </div>
                                                        <div class="form-group pad-ver">
                                                            <div class="col-md-4 control-label">
                                                                <div class="form-group">
                                                                    <label class="control-label">Cuando?</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Fecha</label>
                                                                    <input type="text" class="form-control" id="txtFechacita" name="txtFechacita" placeholder="Fecha">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Hora</label>
                                                                    <div class="input-group date">
                                                                        <select id="slComienzaSucursalNO" name="slComienzaSucursalNO" class="form-control" tabindex="-98">
                                                                            <option value="">Seleccione</option>
                                                                            <option value="09:00">9:00 hrs.</option>
                                                                            <option value="09:30">9:30 hrs.</option>
                                                                            <option value="10:00">10:00 hrs.</option>
                                                                            <option value="10:30">10:30 hrs.</option>
                                                                            <option value="11:00">11:00 hrs.</option>
                                                                            <option value="11:30">11:30 hrs.</option>
                                                                            <option value="12:00">12:00 hrs.</option>
                                                                            <option value="12:30">12:30 hrs.</option>
                                                                            <option value="13:00">13:00 hrs.</option>
                                                                            <option value="13:30">13:30 hrs.</option>
                                                                            <option value="14:00">14:00 hrs.</option>
                                                                            <option value="14:30">14:30 hrs.</option>
                                                                            <option value="15:00">15:00 hrs.</option>
                                                                            <option value="15:30">15:30 hrs.</option>
                                                                            <option value="16:00">16:00 hrs.</option>
                                                                            <option value="16:30">16:30 hrs.</option>
                                                                            <option value="17:00">17:00 hrs.</option>
                                                                            <option value="17:30">17:30 hrs.</option>
                                                                            <option value="18:00">18:00 hrs.</option>
                                                                            <option value="18:30">18:30 hrs.</option>
                                                                            <option value="19:00">19:00 hrs.</option>
                                                                            <option value="19:30">19:30 hrs.</option>
                                                                            <option value="20:00">20:00 hrs.</option>
                                                                            <option value="20:30">20:30 hrs.</option>
                                                                            <option value="21:00">21:00 hrs.</option>
                                                                        </select>
                                                                        <span class="input-group-addon"><i class="demo-pli-clock"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="Sucursal_NO">
                                                    <div class="panel-body">
                                                        <div class="form-group pad-ver">
                                                            <label class="col-md-3 control-label">Por que?</label>
                                                            <div class="col-md-6">
                                                                <textarea placeholder="Comentarios..." rows="13" class="form-control" style="margin: 0px -63.3438px 0px 0px; height: 155px; width: 400px;"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-bordered-success" style="border-radius: 6px; border: 1px solid #e0e0e0; display:none;" id="SucursalVisita_NO">
                                                    <div class="panel-body">
                                                        <div class="form-group pad-ver">
                                                            <label class="col-md-4 control-label">Por que? </label>
                                                            <div class="col-md-8">
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio">No Asistió a cita</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group pad-ver">
                                                            <label class="col-md-4 control-label">Como avanzamos?</label>
                                                            <div class="col-md-8">
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio">Agenda otra Visita a Sucursal</label>
                                                                </div>
                                                                <div class="radio" style="margin-top: -2px;">
                                                                    <input id="demo-form-radio-2" class="magic-radio" type="radio" name="form-radio-button">
                                                                    <label for="demo-form-radio-2">No Contesta llamados</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="visibility: hidden;">
                                                            separador
                                                        </div>
                                                        <div class="form-group pad-ver">
                                                            <div class="col-md-4 control-label">
                                                                <div class="form-group">
                                                                    <label class="control-label">Cuando?</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Fecha</label>
                                                                    <input type="text" class="form-control" id="txtFechacita" name="txtFechacita" placeholder="Fecha">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Hora</label>
                                                                    <div class="input-group date">
                                                                        <select id="slComienzaSucursalSi" name="slComienzaSucursalSi" class="form-control" tabindex="-98">
                                                                            <option value="">Seleccione</option>
                                                                            <option value="09:00">9:00 hrs.</option>
                                                                            <option value="09:30">9:30 hrs.</option>
                                                                            <option value="10:00">10:00 hrs.</option>
                                                                            <option value="10:30">10:30 hrs.</option>
                                                                            <option value="11:00">11:00 hrs.</option>
                                                                            <option value="11:30">11:30 hrs.</option>
                                                                            <option value="12:00">12:00 hrs.</option>
                                                                            <option value="12:30">12:30 hrs.</option>
                                                                            <option value="13:00">13:00 hrs.</option>
                                                                            <option value="13:30">13:30 hrs.</option>
                                                                            <option value="14:00">14:00 hrs.</option>
                                                                            <option value="14:30">14:30 hrs.</option>
                                                                            <option value="15:00">15:00 hrs.</option>
                                                                            <option value="15:30">15:30 hrs.</option>
                                                                            <option value="16:00">16:00 hrs.</option>
                                                                            <option value="16:30">16:30 hrs.</option>
                                                                            <option value="17:00">17:00 hrs.</option>
                                                                            <option value="17:30">17:30 hrs.</option>
                                                                            <option value="18:00">18:00 hrs.</option>
                                                                            <option value="18:30">18:30 hrs.</option>
                                                                            <option value="19:00">19:00 hrs.</option>
                                                                            <option value="19:30">19:30 hrs.</option>
                                                                            <option value="20:00">20:00 hrs.</option>
                                                                            <option value="20:30">20:30 hrs.</option>
                                                                            <option value="21:00">21:00 hrs.</option>
                                                                        </select>
                                                                        <span class="input-group-addon"><i class="demo-pli-clock"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success" id="btn_sucursal_guardar" type="submit">Guardar</button>
                                                    <button class="btn btn-primary" id="btn_sucursal" type="submit" disabled>Finalizar</button>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_asigna_pensionado" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-xs">
                <div class="modal-content" style="border-radius: 9px;">
                    <div class="modal-header">
                        <div class="panel-control">
                            <span class="badge badge-pink" id="cantPensScheck">0</span>
                            <span>Pensionados seleccionados</span>
                        </div>
                        <h4 class="modal-title">Asiganción de pensionados</h4>
                    </div>
                    <div id="msjAsigPensionado"></div>
                    <div class="modal-body">
                        <div class="col-sm-8 text-xs-center">
                            <div class="form-group">
                                <label class="control-label">Seleccione un ejecutivo para asignar...</label>
                                <select id="dllEjePensiondos" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <!--Modal footer-->
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                        <button class="btn btn-primary" id="btAsignarPensionado">Asignar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

