<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 90%;
        }

        .auto-style2 {
        }

        .auto-style3 {
            height: 20px;
        }

        .auto-style4 {
            width: 600px;
        }

        .auto-style5 {
            height: 100px;
        }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Assets/css.App/bundle.min.css" rel="stylesheet">
    <link href="~/Assets/css.App/print.css" rel="stylesheet">

    <link href="Assets/css/demo/nifty-demo-icons.css" rel="stylesheet">
    <link href="Assets/premium/icon-sets/icons/line-icons/premium-line-icons.css" rel="stylesheet">
    <link href="Assets/plugins/fooTable/css/footable.core.css" rel="stylesheet">

</head>
<body style="height: 336px">
    <form id="form1" runat="server">
        <div>
            <div id="page-content">
                <div class="row">

                    <table class="auto-style1 table table-bordered" style="font-size: 11px; border-color: #4a4848;">
                        <tr>
                            <td style="height: 10px">Nombre</td>
                            <td style="height: 10px">Fono</td>
                        </tr>
                        <tr>
                            <td style="height: 10px">&nbsp;</td>
                            <td style="height: 10px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="height: 10px">Dirección</td>
                            <td style="height: 10px">Comuna</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 10px">Contacto:&nbsp;&nbsp; Fono&nbsp;&nbsp; Domicilio&nbsp;&nbsp; Evento&nbsp;&nbsp;&nbsp; Ninguno</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 10px">Fecha Contacto:</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 10px">Proxima Gestion (Fecha-Hora)</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 100px">Observación Gestión</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </form>
</body>
</html>
