<div class="panel-body">
    <table id="tabla" class="table table-bordered table-hover toggle-circle table-striped">
        <thead>
            <tr>
                <th>Rut Empresa</th>
                <th>Nombre Empresa</th>
                <th data-align="center" data-sortable="true">N° Trabajadores</th>
                <th data-align="center" data-sortable="true">Clasificación Empresa</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="bdy_datos"></tbody>
    </table>
</div>