
@{
    ViewBag.Title = "Ingreso";
    Layout = "~/Areas/AppPage/Views/Shared/_Layout.cshtml";
}



<!--Magic Checkbox [ OPTIONAL ]-->
<link href="~/Assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>



<!--Page content-->
<!--===================================================-->
<div id="page-content">


    <div class="row">
        <div class="col-lg-12">

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Recepción de Licencias No Visadas</h3>
                </div>

                <!--Block Styled Form -->
                <!--===================================================-->
                <form id="frm-data-lc">
                    <div class="panel-body">


                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Rut Afiliado</label>
                                    <input type="text" class="form-control es-rut" name="AfiliadoRut" id="AfiliadoRut" tabindex="1" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre Afiliado</label>
                                    <input type="text" class="form-control" readonly="readonly" id="AfiNombres">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="checkbox pad-top">
                                    <label>
                                        <input type="checkbox" name="SistemaNoData" id="SistemaNoData" tabindex="2"> Sin datos en sistema
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Rut Empresa</label>
                                    <input type="text" class="form-control es-rut" readonly="readonly" id="EmpresaRut">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre Empresa</label>
                                    <input type="text" class="form-control" readonly="readonly" id="EmpresaNombre">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="control-label">Formato Licencia</label>
                                    <div class="radio">
                                        <!-- Inline radio buttons -->
                                        <input id="radio-formato-manual-lm" class="magic-radio" type="radio" name="radio-formato-licencia" checked="checked">
                                        <label for="radio-formato-manual-lm">Manual</label>
                                        <!-- <input id="radio-formato-electronico-lm" class="magic-radio" type="radio" name="radio-formato-licencia">
                                         <label for="radio-formato-electronico-lm">Electrónica</label> -->
                                        <input id="radio-formato-mixto-lm" class="magic-radio" type="radio" name="radio-formato-licencia">
                                        <label for="radio-formato-mixto-lm">Mixta</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="checkbox pad-top">
                                        <label>
                                            <input type="checkbox" name="DerivarLM" id="DerivarLM" tabindex="2"> Derivar Licencia
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Numero Licencia</label>
                                    <input type="text" class="form-control" name="FolioLic" id="FolioLic" tabindex="3">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Dias Licencia</label>
                                    <input type="text" class="form-control validatore" id="DiasLM" name="DiasLM" tabindex="6" readonly="readonly">
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Derivar LM a:</label>
                                    <select class="form-control" id="sslOfiDerivacion" name="OfiDerivacion " disabled="disabled"></select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Fecha Desde</label>
                                    <input type="text" id="FechaDesdeLM" name="FechaDesdeLM" class="form-control demo-msk-date validatore" placeholder="dd/mm/yyyy" tabindex="5" readonly="readonly">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Fecha Hasta</label>
                                    <input type="text" id="FechaHastaLM" class="form-control demo-msk-date" placeholder="dd/mm/yyyy" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="form-control validatore" id="FormLM" name="FormLM" tabindex="7" readonly="readonly" value="Manual" style="display:none;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Color</label>

                                    <div class="radio">

                                        <!-- Inline radio buttons -->
                                        <input id="demo-inline-form-radio" class="magic-radio" type="radio" name="inline-form-radio" disabled="disabled">
                                        <label for="demo-inline-form-radio">Roja</label>

                                        <input id="demo-inline-form-radio-2" class="magic-radio" type="radio" name="inline-form-radio" disabled="disabled">
                                        <label for="demo-inline-form-radio-2">Verde</label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Tipo Licencia</label>
                                    <input type="text" class="form-control validatore" id="TipoLM" name="TipoLM" tabindex="6" readonly="readonly">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Fecha Afiliación</label>
                                    <input type="text" id="wq1" class="form-control demo-msk-date" placeholder="dd/mm/yyyy" readonly="readonly">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Fecha Contrato</label>
                                    <input type="text" id="wq2" class="form-control demo-msk-date" placeholder="dd/mm/yyyy" readonly="readonly">
                                </div>
                            </div>
                        </div>


                        <hr />

                        <div class="row" id="checkList">

                            <div class="form-group pad-ver">
                                <div class="col-md-4" id="doc_check" style="display:none;">
                                    <h4 class="title">Documentos Recepcionados</h4>
                                    <!-- Checkboxes -->
                                    <div class="checkbox">
                                        <input id="m1" class="magic-checkbox" type="checkbox">
                                        <label for="m1" id="lm1">[mes1]</label>
                                    </div>


                                    <!-- Checkboxes -->
                                    <div class="checkbox">
                                        <input id="m2" class="magic-checkbox" type="checkbox">
                                        <label for="m2" id="lm2">[mes2]</label>
                                    </div>


                                    <!-- Checkboxes -->
                                    <div class="checkbox">
                                        <input id="m3" class="magic-checkbox" type="checkbox">
                                        <label for="m3" id="lm3">[mes3]</label>
                                    </div>

                                </div>

                                <div class="col-md-4" id="doc_check_nac" style="display:none;">
                                    <h4 class="title">Documentos Recepcionados Maternal</h4>
                                    <!-- Checkboxes -->
                                    <div class="checkbox">
                                        <input id="mn1" class="magic-checkbox" type="checkbox">
                                        <label for="mn1" id="lmn1">[mes1]</label>
                                    </div>


                                    <!-- Checkboxes -->
                                    <div class="checkbox">
                                        <input id="mn2" class="magic-checkbox" type="checkbox">
                                        <label for="mn2" id="lmn2">[mes2]</label>
                                    </div>


                                    <!-- Checkboxes -->
                                    <div class="checkbox">
                                        <input id="mn3" class="magic-checkbox" type="checkbox">
                                        <label for="mn3" id="lmn3">[mes3]</label>
                                    </div>

                                    <!-- Checkboxes -->
                                    <div class="checkbox" id="nac">
                                        <input id="mncn" data-tipodoc="3" class="magic-checkbox" type="checkbox" value="201799">
                                        <label for="mncn">Certificado de Nacimiento</label>
                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-primary" type="button" id="bt-bolver">Volver</button>
                        <button class="btn btn-success" type="submit" id="bt-guarda-otra">Guardar</button>
                        <!--<button class="btn btn-success" type="submit" id="bt-guarda-bolver" tabindex="4">Guardar y Volver</button>-->
                    </div>
                </form>
                <!--===================================================-->
                <!--End Block Styled Form -->

            </div>

        </div>



    </div>



</div>
<!--===================================================-->
<!--End page content-->


@section script{

    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!--Masked Input [ OPTIONAL ]-->
    <script src="~/Assets/plugins/masked-input/jquery.maskedinput.min.js"></script>
    <script src="~/Assets/js/jquery.rut.chileno.min.js"></script>
    <script>


        $(function () {
            var CodIng = httpGet("ci");
            $("#DerivarLM").on("click", function () {
                if (DerivarLM.checked) {
                    $("#sslOfiDerivacion").prop("disabled", false);
                } else {
                    $("#sslOfiDerivacion").prop("disabled", true);
                }
            });


            $.SecGetJSON(BASE_URL + "/motor/api/Licencias/listar-suc-derivacion", function (datos) {
                $("#sslOfiDerivacion").html("");
                $.each(datos, function (i, oficina) {
                    $("#sslOfiDerivacion").append($("<option>").val(oficina.codOficina).html(oficina.DescOficina));
                });
            });
            $("#sslOfiDerivacion").on("change", function (e) {

                $(this).val()

            });




            var cargador = {
                cargaLC: function (CodIng) {

                    $.SecGetJSON(BASE_URL + "/motor/api/Licencias/licencia-data", { codIngreso: CodIng }, function (response) {

                        $("#AfiliadoRut").val(response.IngresoData.RutAfiliado);
                        $("#AfiliadoRut").mask('99.999.999-*')
                        $("#AfiliadoRut").trigger("blur");
                        if (response.IngresoData.FormatoLM == 'Mixta') {
                            $("#radio-formato-mixto-lm").prop('checked', true)
                            $("#radio-formato-mixto-lm").trigger("change")

                            if ($("#FolioLic").val().length == 9) {
                                $('#FolioLic').mask('9-9999999-*');
                            }
                            else {
                                $('#FolioLic').mask('9-99999999-*');
                            }
                        }
                        $("#FolioLic").val(response.IngresoData.FolioLicencia);
                        $.SecGetJSON(BASE_URL + "/motor/api/Licencias/listar-suc-derivacion", function (datos) {
                            $("#sslOfiDerivacion").html("");
                            $("#sslOfiDerivacion").attr("disabled", true);
                            $.each(datos, function (i, oficina) {
                                var selected = (oficina.codOficina == response.IngresoData.OficinaDerivacion)
                                $("#sslOfiDerivacion").append($("<option>").val(oficina.codOficina).html(oficina.DescOficina).prop("selected", selected));
                            });
                        });
                        //$('#FolioLic').mask('999999?9999*');
                        //$("#DiasLM").val(response.IngresoData.CantidadDiasLM);
                        //$("#FechaDesdeLM").val(response.IngresoData.FechaDesdeLM);
                        //$("#FechaHastaLM").val(response.IngresoData.FechaHastaLM);
                        //$("#TipoLM").val(response.IngresoData.TipoLM);
                    });

                },
                saveLC: function (volver) {


                    var WebIngresoLicencia = {
                        //Los Obligatorios
                        CodIngreso: (typeof CodIng != "undefined") ? CodIng : 0,
                        CodOficina: getCookie("Oficina"),
                        RutAfiliado: $("#AfiliadoRut").val(),
                        NombreAfiliado: $("#AfiNombres").val().length > 0 ? $("#AfiNombres").val() : "-",
                        FolioLc: $("#FolioLic").val(),
                        SinDatosEnSistema: $("#SistemaNoData").is(":checked"),
                        FormatoLM: $("#FormLM").val(),
                        //Los Opcionales
                        CantidadDiasLM: $("#DiasLM").val(),
                        FechaInicioLM: $("#FechaDesdeLM").val(),
                        FechaHastaLM: $("#FechaHastaLM").val(),
                        TipoLM: $("#TipoLM").val(),
                        OfiDerivacion: $("#sslOfiDerivacion").val(),
                        //Los Documentos
                        DocumentacionLM: []
                        //
                    }


                    //$.each($(':checkbox'), function (i, e) {
                    //    WebIngresoLicencia.DocumentacionLM.push({ Periodo: $(e).val(), TipoDoc: $(e).data("tipodoc"), Recepcionado: $(e).is(":checked") })
                    //})

                    $.SecPostJSON(BASE_URL + "/motor/api/Licencias/guardar-licencia", WebIngresoLicencia, function (respuesta) {
                        if (respuesta.Estado === "OK") {
                            $.niftyNoty({
                                type: 'success',
                                container: 'floating',
                                html: '<strong>OK</strong> ' + respuesta.Mensaje,
                                focus: false,
                                timer: 3000,
                                onHidden: function () {
                                    if (typeof volver != "undefined" && volver == 1) {
                                        location.href = BASE_URL + "/motor/App/Licencias"
                                    }
                                }
                            });


                        } else {

                            if (respuesta.Objeto == "[0001]") {
                                $.niftyNoty({
                                    type: 'danger',
                                    container: 'floating',
                                    html: '<strong>Error</strong> ' + respuesta.Mensaje,
                                    focus: false,
                                    timer: 3000,
                                    onHidden: function () {
                                        if (typeof volver != "undefined" && volver == 1) {
                                            location.href = BASE_URL + "/motor/App/Licencias"
                                        }
                                    }
                                });
                            }

                            if (respuesta.Objeto == "[0002]") {
                                bootbox.dialog({
                                    message: respuesta.Mensaje + " " + "¿Desea Actualizar?",
                                    title: "Recepción de LM",
                                    buttons: {
                                        success: {
                                            label: "Si",
                                            className: "btn-success",
                                            callback: function () {
                                                $.SecPostJSON(BASE_URL + "/motor/api/Licencias/guardar-licencia-derivacion", WebIngresoLicencia, function (respuesta) {
                                                    if (respuesta.Estado === "OK") {
                                                        $.niftyNoty({
                                                            type: 'success',
                                                            message: '<strong>OK</strong> Licencia Actualizada. ',
                                                            container: 'floating',
                                                            timer: 5000
                                                        });
                                                    }

                                                });

                                            }
                                        },

                                        danger: {
                                            label: "No",
                                            className: "btn-danger",
                                            callback: function () {
                                                $.niftyNoty({
                                                    type: 'danger',
                                                    message: '<strong>Liciencia no derivada</strong>',
                                                    container: 'floating',
                                                    timer: 5000
                                                });
                                            }
                                        }

                                    }
                                });

                            }
                            //$.niftyNoty({
                            //    type: 'danger',
                            //    container: 'floating',
                            //    html: '<strong>Error</strong> ' + respuesta.Mensaje,
                            //    focus: false,
                            //    timer: 3000
                            //});
                        }
                    });


                }
            }


            // Initialize Masked Inputs
            // a - Represents an alpha character (A-Z,a-z)
            // 9 - Represents a numeric character (0-9)
            // * - Represents an alphanumeric character (A-Z,a-z,0-9)
            $.mask.definitions['~'] = '[1347]';
            $.mask.definitions['^'] = '[34]';
            $.mask.definitions['¬'] = '[0123456789Kk]';



            $('.demo-msk-date').mask('99/99/9999');
            $('.es-rut').mask('99.999.999-*');
            //$('#FolioLic').mask('999999?9999*');
            $('#FolioLic').mask('99999999');
            $("#TipoLM").mask('~');

            $('#frm-data-lc').bootstrapValidator({
                excluded: [':disabled', ':not(:visible)'],
                feedbackIcons: [],
                fields: {
                    AfiliadoRut: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un rut'
                            },
                            callback: {
                                message: 'Rut Invalido',
                                callback: function (value, validator, $field) {
                                    console.log(value)
                                    return $.rut.validar(value);
                                }
                            }
                        }
                    },
                    FolioLic: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un folio'
                            },
                            callback: {
                                message: 'Folio Invalido',
                                callback: function (value, validator, $field) {
                                    if ($('#FormLM').val() == 'Mixta') {
                                        value = value.replace(/-/g, '');
                                        var xx = value.substring(0, 1);
                                        //console.log(value.substring(0, 1))
                                        if (xx == '3' || xx == '4') {

                                            //console.log(value.substring(value.length - 1))
                                            var xy = Number(value.substring(1, value.length - 1)).toMoney(0) + '-' + value.substring(value.length - 1);

                                            //console.log($.rut.validar(xy))
                                            var result = $.rut.validar(xy)
                                            /*if(result)
                                            {
                                                if(value.length == 9)
                                                {
                                                    $('#FolioLic').mask('9-9999999-*');
                                                }
                                                else
                                                {
                                                    $('#FolioLic').mask('9-99999999-*');
                                                }
                                            }*/

                                            return result;


                                        }
                                        else {
                                            return false;
                                        }
                                    }
                                    else {
                                        return true;
                                    }
                                }
                            },
                            /*callback: {
                                message: 'Folio Invalido',
                                callback: function (value, validator, $field) {
                                    return $.rut.validar(value);
                                }
                            }*/
                            /*numeric: {
                                message: 'Solo se pueden ingresar digitos',
                                // The default separators
                                thousandsSeparator: '',
                                decimalSeparator: ''
                            }*/
                        }
                    }/*,
                    DiasLM: {
                        validators: {
                            numeric: {
                                message: 'Solo se pueden ingresar digitos',
                                // The default separators
                                thousandsSeparator: '',
                                decimalSeparator: ''
                            }
                        }
                    },
                    FechaDesdeLM: {
                        validators: {
                            date: {
                                format: 'DD/MM/YYYY',
                                message: 'Dede ingresar una fecha valida'
                            }
                        }
                    },
                    TipoLM: {
                        validators: {
                            numeric: {
                                message: 'Solo se pueden ingresar digitos',
                                // The default separators
                                thousandsSeparator: '',
                                decimalSeparator: ''
                            }
                        },

                    },*/

                }
            }).on('success.form.bv', function (e) {
                // Prevén que se mande el formulario
                e.preventDefault();
                var $form = $(e.target);

                if ($('#FormLM').val() == 'Mixta') {
                    if ($("#FolioLic").val().length == 9) {
                        $('#FolioLic').mask('9-9999999-*');
                    }
                    else {
                        $('#FolioLic').mask('9-99999999-*');
                    }
                }

                cargador.saveLC(0);

                if (typeof CodIng == "undefined") {
                    $("#AfiliadoRut").val("");
                    $("#AfiliadoRut").focus();
                    $("#FolioLic").val("");
                    $("#AfiNombres").val("");
                    $("#EmpresaRut").val("");
                    $("#EmpresaNombre").val("");
                    $("#frm-data-lc").bootstrapValidator('resetForm', true);
                }
            });


            $("#bt-bolver").on("click", function () {
                location.href = BASE_URL + "/motor/App/Licencias"
            });


            $("#AfiliadoRut").on("keyup", function () {
                $('#frm-data-lc').bootstrapValidator('updateStatus', 'AfiliadoRut', 'NOT_VALIDATED').bootstrapValidator('validateField', 'AfiliadoRut');
            })

            //$("#FolioLic").on("keyup", function () {
            //    $('#frm-data-lc').bootstrapValidator('updateStatus', 'FolioLic', 'NOT_VALIDATED').bootstrapValidator('validateField', 'FolioLic');
            //})

            $("#AfiliadoRut").on("blur", function () {

                if ($(this).val().length > 7) {
                    $.SecGetJSON(BASE_URL + "/motor/api/Licencias/datos-afiliado", { AfiliadoRut: $(this).val() }, function (respuesta) {
                        if (respuesta.Estado === "OK") {

                            if (respuesta.Objeto.logField.codRespuestaField != 5) {
                                $("#AfiNombres").val(respuesta.Objeto.datosAfiliado1Field.apellidoPaternoField + " " + respuesta.Objeto.datosAfiliado1Field.apellidoMaternoField + " " + respuesta.Objeto.datosAfiliado1Field.nombresField)
                                $("#EmpresaRut").val(respuesta.Objeto.empresasField[0].rutEmpresaField);
                                $("#EmpresaNombre").val(respuesta.Objeto.empresasField[0].razonSocialField);
                                $("#SistemaNoData").prop("checked", false);
                            } else {
                                $("#AfiNombres").val("")
                                $("#EmpresaRut").val("");
                                $("#EmpresaNombre").val("");
                                $("#SistemaNoData").prop("checked", true);
                            }


                        } else {
                            $.niftyNoty({
                                type: 'danger',
                                container: 'floating',
                                html: '<strong>Error</strong> ' + respuesta.Mensaje,
                                focus: false,
                                timer: 3000
                            });
                        }
                    });
                }



            });


            $("#radio-formato-manual-lm").on("change", function (e) {
                $('#FolioLic').val('');
                $('#FolioLic').mask('99999999');
                $('#FormLM').val('Manual');
            })

            $("#radio-formato-mixto-lm").on("change", function (e) {
                $('#FolioLic').val('');
                $('#FolioLic').unmask();
                $('#FormLM').val('Mixta');
            })

            $('#FolioLic').on("keyup", function (e) {

                if ($('#FormLM').val() == 'Mixta') {
                    if ($(this).val().replace(/-/g, '').replace(/_/g, '').length == 0) {
                        $('#FolioLic').unmask();
                        $('#FolioLic').val('');
                    }
                    else {
                        $(this).val($(this).val().replace(/-/g, '').replace(/_/g, ''))
                        $('#FolioLic').unmask();
                    }
                }

                $('#frm-data-lc').bootstrapValidator('updateStatus', 'FolioLic', 'NOT_VALIDATED').bootstrapValidator('validateField', 'FolioLic');
            });

            /*$('#FolioLic').on("keydown", function (e) {
                console.log("keydown",e)
                if ($('#FormLM').val() == 'Mixta') {

                        var value = $(this).val().replace(/-/g, '');
                        var xx = value.substring(0, 1);
                        //console.log(value.substring(0, 1))
                        if (xx == '3' || xx == '4') {

                            //console.log(value.substring(value.length - 1))
                            var xy = Number(value.substring(1, value.length - 1)).toMoney(0) + '-' + value.substring(value.length - 1);

                            //console.log($.rut.validar(xy))
                            var result = $.rut.validar(xy)
                            if (result) {
                                if (value.length == 9) {
                                    $('#FolioLic').mask('9-9999999-*');
                                }
                                else {
                                    $('#FolioLic').mask('9-99999999-*');
                                }
                            }

                            return result;


                        }

                        //if ($(this).val().replace(/-/g, '').replace(/_/g, '').length > 8) {
                        //    $('#frm-data-lc').bootstrapValidator('updateStatus', 'FolioLic', 'NOT_VALIDATED').bootstrapValidator('validateField', 'FolioLic');
                        //}

                }
            });*/



            $('#FolioLic').on("focus", function (e) {

                if ($('#FormLM').val() == 'Mixta') {
                    $('#FolioLic').val($('#FolioLic').val().replace(/-/g, '').replace(/_/g, ''))
                    $('#FolioLic').unmask();
                }
            });


            $('#FolioLic').on("click", function (e) {

                if ($('#FormLM').val() == 'Mixta') {
                    $('#FolioLic').val($('#FolioLic').val().replace(/-/g, '').replace(/_/g, ''))
                    $('#FolioLic').unmask();
                }
            });


            $('#FolioLic').on("blur", function (e) {
                if ($('#FormLM').val() == 'Mixta') {
                    if ($(this).val().length == 9) {
                        $('#FolioLic').mask('9-9999999-*');
                    }
                    else {
                        $('#FolioLic').mask('9-99999999-*');
                    }
                }
            });





            var VaLM = {

                AplicarValidaciones: function (e) {

                    VaLM.reiniciar();


                    if ($("#TipoLM").val() == "" || $("#DiasLM").val() == "" || $("#FechaDesdeLM").val() == "") {
                        return false;
                    }

                    if ($("#DiasLM").val() != "" && $("#FechaDesdeLM").val() != "") {
                        $("#FechaHastaLM").val(CalcularDiasCorridos($("#FechaDesdeLM").val().replace(/\//g, '-'), $("#DiasLM").val()).replace(/-/g, '/'));
                    }

                    //Mostrar tres ultimas liquidaciones
                    if ($("#TipoLM").val() == "1" || $("#TipoLM").val() == "3" || $("#TipoLM").val() == "4" || $("#TipoLM").val() == "7") {
                        $("#doc_check").show();
                        VaLM.mesesUltimasLiq($("#FechaDesdeLM").val())
                    }

                    if ($("#TipoLM").val() == "3") {
                        $("#doc_check_nac").show();
                        VaLM.mesesLiqParental($("#FechaDesdeLM").val())
                        if ($("#DiasLM").val() >= 50) {
                            $("#nac").show();
                        }
                    }

                    if ($(e.target).attr("id") == "FechaDesdeLM") {
                        $('#frm-data-lc').bootstrapValidator('updateStatus', 'FechaDesdeLM', 'NOT_VALIDATED').bootstrapValidator('validateField', 'FechaDesdeLM');
                    }

                    if ($(e.target).attr("id") == "TipoLM") {
                        $('#frm-data-lc').bootstrapValidator('updateStatus', 'TipoLM', 'NOT_VALIDATED').bootstrapValidator('validateField', 'TipoLM');
                    }

                },
                reiniciar: function () {
                    $("#doc_check").hide();
                    $("#doc_check_nac").hide();
                    $("#nac").hide();
                },
                mesesUltimasLiq: function (fechaLM) {
                    var leyendaMeses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                    var dt = parseDate(fechaLM.replace(/\//g, '-'));
                    dt.setMonth(dt.getMonth() - 1)
                    $("#lm1").text(leyendaMeses[dt.getMonth()] + " " + dt.getFullYear().toString())
                    $("#m1").val(fechaToPeriodo(dt))
                    $("#m1").data("tipodoc", 1)
                    dt.setMonth(dt.getMonth() - 1)
                    $("#lm2").text(leyendaMeses[dt.getMonth()] + " " + dt.getFullYear().toString())
                    $("#m2").val(fechaToPeriodo(dt))
                    $("#m2").data("tipodoc", 1)
                    dt.setMonth(dt.getMonth() - 1)
                    $("#lm3").text(leyendaMeses[dt.getMonth()] + " " + dt.getFullYear().toString())
                    $("#m3").val(fechaToPeriodo(dt))
                    $("#m3").data("tipodoc", 1)
                },
                mesesLiqParental: function (fechaLM) {
                    var leyendaMeses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                    var dt = parseDate(fechaLM.replace(/\//g, '-'));
                    dt.setMonth(dt.getMonth() - 8)
                    $("#lmn1").text(leyendaMeses[dt.getMonth()] + " " + dt.getFullYear().toString())
                    $("#mn1").val(fechaToPeriodo(dt))
                    $("#mn1").data("tipodoc", 2)
                    dt.setMonth(dt.getMonth() - 1)
                    $("#lmn2").text(leyendaMeses[dt.getMonth()] + " " + dt.getFullYear().toString())
                    $("#mn2").val(fechaToPeriodo(dt))
                    $("#mn2").data("tipodoc", 2)
                    dt.setMonth(dt.getMonth() - 1)
                    $("#lmn3").text(leyendaMeses[dt.getMonth()] + " " + dt.getFullYear().toString())
                    $("#mn3").val(fechaToPeriodo(dt))
                    $("#mn3").data("tipodoc", 2)
                },

            }

            $(".validatore").on("keyup", VaLM.AplicarValidaciones);



            if (typeof CodIng != "undefined") {
                cargador.cargaLC(CodIng);
            }

            $("#sslOfiDerivacion").trigger("change");
        })


    </script>

}